body
{
background-color: rgb(255,255,255);
color: rgb(110,65,165);
font-family: Arial, Helvetica, sans-serif;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(80,32,138);
}

#content
{
font-size: 113%;
background-color: rgb(0,0,0);
color: rgb(110,65,165);
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 39px 45px 39px 45px;
border-color: rgb(0,0,0);
text-align: left;
}

#menu
{
background-color: rgb(255,255,255);
color: rgb(139,101,185);
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
border-color: rgb(201,176,231);
}

a.menuitem
{
font-size: 148%;
background-color: rgb(255,255,255);
color: rgb(120,87,160);
font-variant: normal;
text-transform: none;
font-weight: normal;
margin-left: 12px; margin-right: 12px; margin-top: 12px; margin-bottom: 12px;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(120,87,160);
text-align: left;
}

#logo, #logo a
{
font-size: 160%;
background-color: rgb(0,0,0);
color: rgb(255,255,255);
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
padding: 0px 0px 0px 0px;
border-color: rgb(0,0,0);
text-align: center;
}

#trail, #trail a
{
font-size: 128%;
background-color: rgb(120,87,160);
color: rgb(201,176,231);
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 1px 1px 1px 1px;
border-color: rgb(139,101,185);
text-align: right;
}

#content a
{
color: rgb(139,101,185);
text-decoration: underline;
}

#content a:hover, #content a:active
{
background-color: rgb(139,101,185);
color: rgb(0,0,0);
}

h1, h2, h3, h4, h5, h6
{
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-variant: small-caps;
text-transform: none;
font-weight: normal;
}

h1
{
font-size: 159%;
}

h2
{
font-size: 147%;
}

h3
{
font-size: 135%;
}

h4
{
font-size: 123%;
}

h5
{
font-size: 111%;
}

h6
{
font-size: 99%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(120,87,160);
color: rgb(255,255,255);
}

#trail a
{
text-decoration: underline;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
.menuitem		{display: inline;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

