body
{
background-color: rgb(255,255,255);
color: rgb(46,151,98);
font-family: Verdana, Arial, Helvetica, sans-serif;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(54,194,25);
}

#content
{
font-size: 108%;
background-color: rgb(255,255,255);
color: rgb(0,0,0);
border-left-width: 1px; border-right-width: 1px; border-top-width: 1px; border-bottom-width: 1px;
border-left-style: inset; border-right-style: inset; border-top-style: inset; border-bottom-style: inset;
padding: 34px 34px 34px 34px;
border-color: rgb(0,0,0);
text-align: left;
}

#menu
{
background-color: rgb(255,255,255);
color: rgb(47,100,11);
font-family: Verdana, Arial, Helvetica, sans-serif;
font-style: normal;
border-color: rgb(0,0,0);
}

a.menuitem
{
font-size: 142%;
background-color: rgb(194,212,190);
color: rgb(54,194,25);
font-variant: normal;
text-transform: none;
font-weight: normal;
margin-left: 11px; margin-right: 11px; margin-top: 19px; margin-bottom: 19px;
border-left-width: 1px; border-right-width: 1px; border-top-width: 1px; border-bottom-width: 1px;
border-left-style: solid; border-right-style: solid; border-top-style: solid; border-bottom-style: solid;
border-color: rgb(255,255,255);
text-align: center;
}

#logo, #logo a
{
font-size: 199%;
background-color: rgb(0,0,0);
color: rgb(194,212,190);
font-family: Verdana, Arial, Helvetica, sans-serif;
font-style: italic;
font-variant: normal;
text-transform: none;
font-weight: normal;
padding: 0px 20px 0px 20px;
border-color: rgb(0,0,0);
text-align: center;
}

#trail, #trail a
{
font-size: 99%;
background-color: rgb(194,212,190);
color: rgb(54,194,25);
font-style: normal;
font-variant: normal;
text-transform: capitalize;
font-weight: bold;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 17px 17px 17px 17px;
border-color: rgb(53,140,77);
text-align: center;
}

#content a
{
color: rgb(54,194,25);
text-decoration: none;
}

#content a:hover, #content a:active
{
background-color: rgb(54,194,25);
color: rgb(255,255,255);
}

h1, h2, h3, h4, h5, h6
{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
}

h1
{
font-size: 166%;
}

h2
{
font-size: 155%;
}

h3
{
font-size: 144%;
}

h4
{
font-size: 133%;
}

h5
{
font-size: 122%;
}

h6
{
font-size: 111%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(54,194,25);
color: rgb(194,212,190);
}

#trail a
{
text-decoration: none;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
#menu		{width: 30%; position: relative; top: 0; right: 0; float: right; text-align: center;}
.menuitem		{width: auto;}
#content		{margin-right: 30%; width: auto}
.menuitem		{display: block;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

