body
{
background-color: rgb(255,255,255);
color: rgb(224,205,44);
font-family: Arial, Helvetica, sans-serif;
border-left-width: 13px; border-right-width: 13px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: solid; border-right-style: solid; border-top-style: solid; border-bottom-style: solid;
border-color: rgb(138,144,197);
}

#content
{
font-size: 101%;
background-color: rgb(255,255,255);
color: rgb(0,0,0);
border-left-width: 9px; border-right-width: 9px; border-top-width: 9px; border-bottom-width: 9px;
border-left-style: double; border-right-style: double; border-top-style: double; border-bottom-style: double;
padding: 13px 13px 13px 13px;
border-color: rgb(0,0,0);
text-align: left;
}

#menu
{
background-color: rgb(105,101,63);
color: rgb(224,205,44);
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
border-color: rgb(105,101,63);
}

a.menuitem
{
font-size: 144%;
background-color: rgb(255,255,255);
color: rgb(35,51,189);
font-variant: normal;
text-transform: none;
font-weight: normal;
margin-left: 6px; margin-right: 7px; margin-top: 16px; margin-bottom: 15px;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(35,51,189);
text-align: right;
}

#logo, #logo a
{
font-size: 174%;
background-color: rgb(138,144,197);
color: rgb(91,83,11);
font-family: Tahoma, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
text-indent: 46;
padding: 17px 17px 17px 17px;
border-color: rgb(0,0,0);
text-align: left;
}

#trail, #trail a
{
font-size: 93%;
background-color: rgb(91,83,11);
color: rgb(35,51,189);
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
border-left-width: 1px; border-right-width: 1px; border-top-width: 1px; border-bottom-width: 1px;
border-left-style: solid; border-right-style: solid; border-top-style: solid; border-bottom-style: solid;
padding: 0px 0px 0px 0px;
border-color: rgb(255,255,255);
text-align: right;
}

#content a
{
color: rgb(224,205,44);
text-decoration: underline oveline;
}

#content a:hover, #content a:active
{
background-color: rgb(224,205,44);
color: rgb(255,255,255);
}

h1, h2, h3, h4, h5, h6
{
font-family: Tahoma, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: bold;
}

h1
{
font-size: 179%;
}

h2
{
font-size: 164%;
}

h3
{
font-size: 149%;
}

h4
{
font-size: 134%;
}

h5
{
font-size: 119%;
}

h6
{
font-size: 104%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(35,51,189);
color: rgb(255,255,255);
}

#trail a
{
text-decoration: underline oveline;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
#menu		{width: 28%; position: relative; top: 0; right: 0; float: right; text-align: center;}
.menuitem		{width: auto;}
#content		{margin-right: 28%; width: auto}
.menuitem		{display: block;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

