body
{
background-color: rgb(0,0,0);
color: rgb(126,140,92);
font-family: Courier New, Courier, monospace;
border-left-width: 5px; border-right-width: 5px; border-top-width: 5px; border-bottom-width: 5px;
border-left-style: solid; border-right-style: solid; border-top-style: solid; border-bottom-style: solid;
border-color: rgb(0,0,0);
}

#content
{
font-size: 110%;
background-color: rgb(255,255,255);
color: rgb(0,0,0);
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 8px 8px 8px 8px;
border-color: rgb(0,0,0);
text-align: left;
}

#menu
{
background-color: rgb(0,0,0);
color: rgb(113,181,50);
font-family: Courier New, Courier, monospace;
font-style: normal;
border-color: rgb(125,159,82);
}

a.menuitem
{
font-size: 154%;
background-color: rgb(255,255,255);
color: rgb(125,159,82);
font-variant: normal;
text-transform: none;
font-weight: bold;
margin-left: 6px; margin-right: 6px; margin-top: 6px; margin-bottom: 6px;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(125,159,82);
text-align: left;
}

#logo, #logo a
{
font-size: 183%;
background-color: rgb(255,255,255);
color: rgb(126,140,92);
font-family: Courier New, Courier, monospace;
font-style: italic;
font-variant: normal;
text-transform: none;
font-weight: normal;
padding: 11px 11px 11px 11px;
border-color: rgb(0,0,0);
text-align: right;
}

#trail, #trail a
{
font-size: 96%;
background-color: rgb(0,0,0);
color: rgb(159,204,157);
font-style: normal;
font-variant: normal;
text-transform: uppercase;
font-weight: normal;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 9px 9px 9px 9px;
border-color: rgb(0,0,0);
text-align: center;
}

#content a
{
color: rgb(83,172,52);
text-decoration: underline;
}

#content a:hover, #content a:active
{
background-color: rgb(83,172,52);
color: rgb(255,255,255);
}

h1, h2, h3, h4, h5, h6
{
font-family: Courier New, Courier, monospace;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: bold;
}

h1
{
font-size: 157%;
}

h2
{
font-size: 146%;
}

h3
{
font-size: 135%;
}

h4
{
font-size: 124%;
}

h5
{
font-size: 113%;
}

h6
{
font-size: 102%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(125,159,82);
color: rgb(255,255,255);
}

#trail a
{
text-decoration: none;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
#menu		{width: 28%; position: relative; top: 0; left: 0; float: left; text-align: center;}
.menuitem		{width: auto;}
#content		{margin-left: 28%; width: auto}
.menuitem		{display: block;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

