body
{
background-color: rgb(0,0,0);
color: rgb(119,138,238);
font-family: Palatino, serif;
border-left-width: 11px; border-right-width: 11px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: inset; border-right-style: inset; border-top-style: none; border-bottom-style: none;
border-color: rgb(63,131,146);
}

#content
{
font-size: 108%;
background-color: rgb(153,176,214);
color: rgb(34,116,170);
border-left-width: 7px; border-right-width: 7px; border-top-width: 7px; border-bottom-width: 7px;
border-left-style: inset; border-right-style: inset; border-top-style: inset; border-bottom-style: inset;
padding: 25px 25px 25px 25px;
border-color: rgb(0,0,0);
text-align: left;
}

#menu
{
background-color: rgb(0,0,0);
color: rgb(149,163,173);
font-family: Palatino, serif;
font-style: normal;
border-color: rgb(27,21,114);
}

a.menuitem
{
font-size: 141%;
background-color: rgb(0,0,0);
color: rgb(149,163,173);
font-variant: normal;
text-transform: none;
font-weight: bold;
margin-left: 9px; margin-right: 9px; margin-top: 9px; margin-bottom: 9px;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(255,255,255);
text-align: right;
}

#logo, #logo a
{
font-size: 191%;
background-color: rgb(153,176,214);
color: rgb(63,131,146);
font-family: Palatino, serif;
font-style: normal;
font-variant: normal;
text-transform: uppercase;
font-weight: normal;
text-indent: 9;
padding: 14px 13px 9px 12px;
border-color: rgb(34,116,170);
text-align: right;
}

#trail, #trail a
{
font-size: 100%;
background-color: rgb(0,0,0);
color: rgb(119,138,238);
font-style: italic;
font-variant: small-caps;
text-transform: none;
font-weight: normal;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 7px 5px 7px 5px;
border-color: rgb(149,163,173);
text-align: right;
}

#content a
{
color: rgb(0,0,0);
text-decoration: none;
}

#content a:hover, #content a:active
{
background-color: rgb(0,0,0);
color: rgb(153,176,214);
}

h1, h2, h3, h4, h5, h6
{
font-family: Palatino, serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
}

h1
{
font-size: 162%;
}

h2
{
font-size: 148%;
}

h3
{
font-size: 134%;
}

h4
{
font-size: 120%;
}

h5
{
font-size: 106%;
}

h6
{
font-size: 92%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(149,163,173);
color: rgb(0,0,0);
}

#trail a
{
text-decoration: none;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
#menu		{width: 28%; position: relative; top: 0; right: 0; float: right; text-align: center;}
.menuitem		{width: auto;}
#content		{margin-right: 28%; width: auto}
.menuitem		{display: block;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

