body
{
background-color: rgb(219,178,202);
color: rgb(65,26,48);
font-family: Verdana, Arial, Helvetica, sans-serif;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(255,255,255);
}

#content
{
font-size: 97%;
background-color: rgb(200,64,143);
color: rgb(65,26,48);
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 31px 35px 31px 35px;
border-color: rgb(0,0,0);
text-align: left;
}

#menu
{
background-color: rgb(255,255,255);
color: rgb(193,140,171);
font-family: Verdana, Arial, Helvetica, sans-serif;
font-style: italic;
border-color: rgb(242,90,178);
}

a.menuitem
{
font-size: 141%;
background-color: rgb(255,255,255);
color: rgb(193,140,171);
font-variant: normal;
text-transform: none;
font-weight: normal;
margin-left: 14px; margin-right: 14px; margin-top: 14px; margin-bottom: 14px;
border-left-width: 0px; border-right-width: 0px; border-top-width: 6px; border-bottom-width: 6px;
border-left-style: none; border-right-style: none; border-top-style: outset; border-bottom-style: outset;
border-color: rgb(219,178,202);
text-align: left;
}

#logo, #logo a
{
font-size: 177%;
background-color: rgb(255,255,255);
color: rgb(242,90,178);
font-family: Verdana, Arial, Helvetica, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: bold;
padding: 11px 11px 11px 11px;
border-color: rgb(242,90,178);
text-align: right;
}

#trail, #trail a
{
font-size: 117%;
background-color: rgb(255,255,255);
color: rgb(242,90,178);
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
border-left-width: 1px; border-right-width: 1px; border-top-width: 1px; border-bottom-width: 1px;
border-left-style: solid; border-right-style: solid; border-top-style: solid; border-bottom-style: solid;
padding: 4px 4px 4px 4px;
border-color: rgb(242,90,178);
text-align: center;
}

#content a
{
color: rgb(255,255,255);
text-decoration: underline;
}

#content a:hover, #content a:active
{
background-color: rgb(255,255,255);
color: rgb(200,64,143);
}

h1, h2, h3, h4, h5, h6
{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-style: normal;
font-variant: small-caps;
text-transform: none;
font-weight: normal;
}

h1
{
font-size: 154%;
}

h2
{
font-size: 143%;
}

h3
{
font-size: 132%;
}

h4
{
font-size: 121%;
}

h5
{
font-size: 110%;
}

h6
{
font-size: 99%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(193,140,171);
color: rgb(255,255,255);
}

#trail a
{
text-decoration: underline;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
#menu		{width: 30%; position: relative; top: 0; right: 0; float: right; text-align: center;}
.menuitem		{width: auto;}
#content		{margin-right: 30%; width: auto}
.menuitem		{display: block;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

