body
{
background-color: rgb(255,255,255);
color: rgb(18,115,20);
font-family: Georgia, serif;
border-left-width: 20px; border-right-width: 20px; border-top-width: 20px; border-bottom-width: 20px;
border-left-style: dotted; border-right-style: dotted; border-top-style: dotted; border-bottom-style: dotted;
border-color: rgb(0,0,0);
}

#content
{
font-size: 107%;
background-color: rgb(255,255,255);
color: rgb(0,0,0);
border-left-width: 1px; border-right-width: 1px; border-top-width: 12px; border-bottom-width: 12px;
border-left-style: solid; border-right-style: solid; border-top-style: solid; border-bottom-style: solid;
padding: 20px 20px 20px 20px;
border-color: rgb(0,0,0);
text-align: left;
}

#menu
{
background-color: rgb(255,255,255);
color: rgb(145,195,146);
font-family: Georgia, serif;
font-style: normal;
border-color: rgb(0,0,0);
}

a.menuitem
{
font-size: 150%;
background-color: rgb(0,0,0);
color: rgb(255,255,255);
font-variant: normal;
text-transform: none;
font-weight: normal;
margin-left: 19px; margin-right: 19px; margin-top: 14px; margin-bottom: 14px;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(138,221,139);
text-align: center;
}

#logo, #logo a
{
font-size: 200%;
background-color: rgb(255,255,255);
color: rgb(30,70,31);
font-family: Trebuchet MS, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
padding: 14px 7px 14px 7px;
border-color: rgb(83,221,84);
text-align: left;
}

#trail, #trail a
{
font-size: 127%;
background-color: rgb(255,255,255);
color: rgb(18,115,20);
font-style: normal;
font-variant: small-caps;
text-transform: none;
font-weight: bold;
border-left-width: 6px; border-right-width: 6px; border-top-width: 6px; border-bottom-width: 6px;
border-left-style: solid; border-right-style: solid; border-top-style: solid; border-bottom-style: solid;
padding: 17px 17px 17px 17px;
border-color: rgb(83,221,84);
text-align: left;
}

#content a
{
color: rgb(145,195,146);
text-decoration: underline;
}

#content a:hover, #content a:active
{
background-color: rgb(145,195,146);
color: rgb(255,255,255);
}

h1, h2, h3, h4, h5, h6
{
font-family: Trebuchet MS, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
}

h1
{
font-size: 125%;
}

h2
{
font-size: 112%;
}

h3
{
font-size: 99%;
}

h4
{
font-size: 86%;
}

h5
{
font-size: 73%;
}

h6
{
font-size: 60%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(255,255,255);
color: rgb(0,0,0);
}

#trail a
{
text-decoration: none;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
#menu		{width: 25%; position: relative; top: 0; right: 0; float: right; text-align: center;}
.menuitem		{width: auto;}
#content		{margin-right: 25%; width: auto}
.menuitem		{display: block;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

