body
{
background-color: rgb(0,0,0);
color: rgb(109,205,6);
font-family: Arial, Helvetica, sans-serif;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: dotted; border-right-style: dotted; border-top-style: dotted; border-bottom-style: dotted;
border-color: rgb(0,0,0);
}

#content
{
font-size: 115%;
background-color: rgb(0,0,0);
color: rgb(255,255,255);
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 29px 29px 29px 29px;
border-color: rgb(0,0,0);
text-align: justify;
}

#menu
{
background-color: rgb(255,255,255);
color: rgb(159,137,181);
font-family: Tahoma, sans-serif;
font-style: normal;
border-color: rgb(255,255,255);
}

a.menuitem
{
font-size: 147%;
background-color: rgb(192,149,239);
color: rgb(92,111,71);
font-variant: normal;
text-transform: none;
font-weight: bold;
margin-left: 8px; margin-right: 8px; margin-top: 18px; margin-bottom: 18px;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(159,137,181);
text-align: left;
}

#logo, #logo a
{
font-size: 170%;
background-color: rgb(192,149,239);
color: rgb(109,205,6);
font-family: Trebuchet MS, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
padding: 11px 11px 11px 11px;
border-color: rgb(0,0,0);
text-align: right;
}

#trail, #trail a
{
font-size: 99%;
background-color: rgb(255,255,255);
color: rgb(75,56,95);
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 5px 5px 5px 5px;
border-color: rgb(255,255,255);
text-align: left;
}

#content a
{
color: rgb(75,56,95);
text-decoration: none;
}

#content a:hover, #content a:active
{
background-color: rgb(75,56,95);
color: rgb(0,0,0);
}

h1, h2, h3, h4, h5, h6
{
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
}

h1
{
font-size: 124%;
}

h2
{
font-size: 111%;
}

h3
{
font-size: 98%;
}

h4
{
font-size: 85%;
}

h5
{
font-size: 72%;
}

h6
{
font-size: 59%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(92,111,71);
color: rgb(192,149,239);
}

#trail a
{
text-decoration: none;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
.menuitem		{display: inline;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

