body
{
background-color: rgb(0,0,0);
color: rgb(107,218,146);
font-family: Times New Roman, serif;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(0,0,0);
}

#content
{
font-size: 92%;
background-color: rgb(62,104,13);
color: rgb(255,255,255);
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 46px 46px 46px 46px;
border-color: rgb(0,0,0);
text-align: left;
}

#menu
{
background-color: rgb(0,0,0);
color: rgb(131,170,112);
font-family: Trebuchet MS, sans-serif;
font-style: normal;
border-color: rgb(25,116,37);
}

a.menuitem
{
font-size: 137%;
background-color: rgb(0,0,0);
color: rgb(107,218,146);
font-variant: small-caps;
text-transform: uppercase;
font-weight: normal;
margin-left: 20px; margin-right: 20px; margin-top: 20px; margin-bottom: 20px;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(255,255,255);
text-align: center;
}

#logo, #logo a
{
font-size: 188%;
background-color: rgb(107,218,146);
color: rgb(25,116,37);
font-family: Times New Roman, serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
padding: 1px 1px 1px 1px;
border-color: rgb(60,235,10);
text-align: right;
}

#trail, #trail a
{
font-size: 111%;
background-color: rgb(255,255,255);
color: rgb(131,170,112);
font-style: italic;
font-variant: normal;
text-transform: none;
font-weight: bold;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 6px 6px 6px 6px;
border-color: rgb(131,170,112);
text-align: center;
}

#content a
{
color: rgb(107,218,146);
text-decoration: none;
}

#content a:hover, #content a:active
{
background-color: rgb(107,218,146);
color: rgb(62,104,13);
}

h1, h2, h3, h4, h5, h6
{
font-family: Trebuchet MS, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
}

h1
{
font-size: 123%;
}

h2
{
font-size: 114%;
}

h3
{
font-size: 105%;
}

h4
{
font-size: 96%;
}

h5
{
font-size: 87%;
}

h6
{
font-size: 78%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(107,218,146);
color: rgb(0,0,0);
}

#trail a
{
text-decoration: none;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
#menu		{width: 27%; position: relative; top: 0; right: 0; float: right; text-align: center;}
.menuitem		{width: auto;}
#content		{margin-right: 27%; width: auto}
.menuitem		{display: block;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

