body
{
background-color: rgb(137,42,204);
color: rgb(60,20,85);
font-family: Times New Roman, serif;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(176,48,143);
}

#content
{
font-size: 120%;
background-color: rgb(0,0,0);
color: rgb(161,60,185);
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 16px 16px 16px 16px;
border-color: rgb(0,0,0);
text-align: left;
}

#menu
{
background-color: rgb(137,42,204);
color: rgb(60,20,85);
font-family: Times New Roman, serif;
font-style: normal;
border-color: rgb(118,26,115);
}

a.menuitem
{
font-size: 140%;
background-color: rgb(0,0,0);
color: rgb(176,48,143);
font-variant: normal;
text-transform: none;
font-weight: normal;
margin-left: 12px; margin-right: 12px; margin-top: 13px; margin-bottom: 13px;
border-left-width: 1px; border-right-width: 1px; border-top-width: 1px; border-bottom-width: 1px;
border-left-style: ridge; border-right-style: ridge; border-top-style: ridge; border-bottom-style: ridge;
border-color: rgb(255,255,255);
text-align: left;
}

#logo, #logo a
{
font-size: 183%;
background-color: rgb(255,255,255);
color: rgb(137,42,204);
font-family: Trebuchet MS, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: bold;
padding: 4px 4px 4px 4px;
border-color: rgb(137,42,204);
text-align: left;
}

#trail, #trail a
{
font-size: 113%;
background-color: rgb(137,42,204);
color: rgb(60,20,85);
font-style: normal;
font-variant: small-caps;
text-transform: none;
font-weight: bold;
border-left-width: 5px; border-right-width: 0px; border-top-width: 5px; border-bottom-width: 0px;
border-left-style: solid; border-right-style: none; border-top-style: dashed; border-bottom-style: none;
padding: 6px 6px 6px 6px;
border-color: rgb(255,255,255);
text-align: left;
}

#content a
{
color: rgb(118,26,115);
text-decoration: underline;
}

#content a:hover, #content a:active
{
background-color: rgb(118,26,115);
color: rgb(0,0,0);
}

h1, h2, h3, h4, h5, h6
{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
}

h1
{
font-size: 139%;
}

h2
{
font-size: 126%;
}

h3
{
font-size: 113%;
}

h4
{
font-size: 100%;
}

h5
{
font-size: 87%;
}

h6
{
font-size: 74%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(176,48,143);
color: rgb(0,0,0);
}

#trail a
{
text-decoration: underline;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
#menu		{width: 25%; position: relative; top: 0; left: 0; float: left; text-align: center;}
.menuitem		{width: auto;}
#content		{margin-left: 25%; width: auto}
.menuitem		{display: block;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

