body
{
background-color: rgb(0,0,0);
color: rgb(160,224,152);
font-family: Verdana, Arial, Helvetica, sans-serif;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(156,198,150);
}

#content
{
font-size: 101%;
background-color: rgb(0,0,0);
color: rgb(160,224,152);
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 26px 26px 26px 26px;
border-color: rgb(0,0,0);
text-align: left;
}

#menu
{
background-color: rgb(156,198,150);
color: rgb(51,182,34);
font-family: Verdana, Arial, Helvetica, sans-serif;
font-style: normal;
border-color: rgb(198,237,192);
}

a.menuitem
{
font-size: 148%;
background-color: rgb(255,255,255);
color: rgb(51,91,46);
font-variant: normal;
text-transform: uppercase;
font-weight: bold;
margin-left: 5px; margin-right: 5px; margin-top: 5px; margin-bottom: 5px;
border-left-width: 0px; border-right-width: 0px; border-top-width: 1px; border-bottom-width: 1px;
border-left-style: none; border-right-style: none; border-top-style: groove; border-bottom-style: groove;
border-color: rgb(28,118,16);
text-align: center;
}

#logo, #logo a
{
font-size: 182%;
background-color: rgb(255,255,255);
color: rgb(156,198,150);
font-family: Georgia, serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: bold;
padding: 0px 0px 0px 0px;
border-color: rgb(51,91,46);
text-align: right;
}

#trail, #trail a
{
font-size: 106%;
background-color: rgb(255,255,255);
color: rgb(28,118,16);
font-style: italic;
font-variant: normal;
text-transform: uppercase;
font-weight: normal;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 12px 12px 12px 12px;
border-color: rgb(0,0,0);
text-align: left;
}

#content a
{
color: rgb(198,237,192);
text-decoration: underline;
}

#content a:hover, #content a:active
{
background-color: rgb(198,237,192);
color: rgb(0,0,0);
}

h1, h2, h3, h4, h5, h6
{
font-family: Georgia, serif;
font-style: italic;
font-variant: normal;
text-transform: none;
font-weight: bold;
}

h1
{
font-size: 130%;
}

h2
{
font-size: 120%;
}

h3
{
font-size: 110%;
}

h4
{
font-size: 100%;
}

h5
{
font-size: 90%;
}

h6
{
font-size: 80%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(51,91,46);
color: rgb(255,255,255);
}

#trail a
{
text-decoration: underline;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
#menu		{width: 27%; position: relative; top: 0; right: 0; float: right; text-align: center;}
.menuitem		{width: auto;}
#content		{margin-right: 27%; width: auto}
.menuitem		{display: block;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

