body
{
background-color: rgb(53,52,165);
color: rgb(176,176,216);
font-family: Trebuchet MS, sans-serif;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(176,176,216);
}

#content
{
font-size: 117%;
background-color: rgb(0,0,0);
color: rgb(53,52,165);
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 40px 33px 40px 33px;
border-color: rgb(0,0,0);
text-align: justify;
}

#menu
{
background-color: rgb(0,0,0);
color: rgb(71,70,194);
font-family: Times New Roman, serif;
font-style: normal;
border-color: rgb(19,18,220);
}

a.menuitem
{
font-size: 148%;
background-color: rgb(255,255,255);
color: rgb(16,15,68);
font-variant: normal;
text-transform: uppercase;
font-weight: bold;
margin-left: 18px; margin-right: 18px; margin-top: 18px; margin-bottom: 18px;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(4,3,157);
text-align: center;
}

#logo, #logo a
{
font-size: 167%;
background-color: rgb(0,0,0);
color: rgb(19,18,220);
font-family: Times New Roman, serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
padding: 15px 15px 15px 15px;
border-color: rgb(255,255,255);
text-align: right;
}

#trail, #trail a
{
font-size: 114%;
background-color: rgb(255,255,255);
color: rgb(19,18,220);
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 6px 6px 6px 6px;
border-color: rgb(0,0,0);
text-align: center;
}

#content a
{
color: rgb(19,18,220);
text-decoration: underline;
}

#content a:hover, #content a:active
{
background-color: rgb(19,18,220);
color: rgb(0,0,0);
}

h1, h2, h3, h4, h5, h6
{
font-family: Trebuchet MS, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
}

h1
{
font-size: 129%;
}

h2
{
font-size: 121%;
}

h3
{
font-size: 113%;
}

h4
{
font-size: 105%;
}

h5
{
font-size: 97%;
}

h6
{
font-size: 89%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(16,15,68);
color: rgb(255,255,255);
}

#trail a
{
text-decoration: none;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
.menuitem		{display: inline;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

