body
{
background-color: rgb(255,255,255);
color: rgb(62,41,25);
font-family: Verdana, Arial, Helvetica, sans-serif;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(186,120,68);
}

#content
{
font-size: 113%;
background-color: rgb(102,63,34);
color: rgb(244,140,60);
border-left-width: 9px; border-right-width: 9px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: solid; border-right-style: solid; border-top-style: none; border-bottom-style: none;
padding: 48px 48px 48px 48px;
border-color: rgb(0,0,0);
text-align: left;
}

#menu
{
background-color: rgb(255,255,255);
color: rgb(102,63,34);
font-family: Verdana, Arial, Helvetica, sans-serif;
font-style: normal;
border-color: rgb(186,120,68);
}

a.menuitem
{
font-size: 141%;
background-color: rgb(255,255,255);
color: rgb(244,140,60);
font-variant: normal;
text-transform: none;
font-weight: normal;
margin-left: 18px; margin-right: 18px; margin-top: 18px; margin-bottom: 18px;
border-left-width: 0px; border-right-width: 0px; border-top-width: 1px; border-bottom-width: 1px;
border-left-style: none; border-right-style: none; border-top-style: dashed; border-bottom-style: dashed;
border-color: rgb(244,140,60);
text-align: right;
}

#logo, #logo a
{
font-size: 175%;
background-color: rgb(0,0,0);
color: rgb(186,120,68);
font-family: Verdana, Arial, Helvetica, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: bold;
padding: 13px 13px 13px 13px;
border-color: rgb(255,255,255);
text-align: center;
}

#trail, #trail a
{
font-size: 120%;
background-color: rgb(247,216,192);
color: rgb(244,140,60);
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 1px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: solid;
padding: 4px 4px 4px 4px;
border-color: rgb(247,226,210);
text-align: right;
}

#content a
{
color: rgb(255,255,255);
text-decoration: none;
}

#content a:hover, #content a:active
{
background-color: rgb(255,255,255);
color: rgb(102,63,34);
}

h1, h2, h3, h4, h5, h6
{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: bold;
}

h1
{
font-size: 132%;
}

h2
{
font-size: 120%;
}

h3
{
font-size: 108%;
}

h4
{
font-size: 96%;
}

h5
{
font-size: 84%;
}

h6
{
font-size: 72%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(244,140,60);
color: rgb(255,255,255);
}

#trail a
{
text-decoration: none;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
.menuitem		{display: inline;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

