body
{
background-color: rgb(0,0,0);
color: rgb(63,128,142);
font-family: Verdana, Arial, Helvetica, sans-serif;
border-left-width: 6px; border-right-width: 6px; border-top-width: 6px; border-bottom-width: 6px;
border-left-style: dotted; border-right-style: dotted; border-top-style: dotted; border-bottom-style: dotted;
border-color: rgb(63,128,142);
}

#content
{
font-size: 92%;
background-color: rgb(0,0,0);
color: rgb(63,128,142);
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 10px 10px 10px 10px;
border-color: rgb(0,0,0);
text-align: justify;
}

#menu
{
background-color: rgb(255,255,255);
color: rgb(29,142,207);
font-family: Verdana, Arial, Helvetica, sans-serif;
font-style: normal;
text-indent: 39;
border-color: rgb(29,142,207);
}

a.menuitem
{
font-size: 127%;
background-color: rgb(255,255,255);
color: rgb(91,100,149);
font-variant: normal;
text-transform: none;
font-weight: normal;
margin-left: 19px; margin-right: 19px; margin-top: 19px; margin-bottom: 19px;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(37,111,108);
text-align: left;
}

#logo, #logo a
{
font-size: 154%;
background-color: rgb(0,0,0);
color: rgb(29,142,207);
font-family: Verdana, Arial, Helvetica, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: bold;
padding: 0px 0px 0px 0px;
border-color: rgb(76,105,125);
text-align: center;
}

#trail, #trail a
{
font-size: 104%;
background-color: rgb(255,255,255);
color: rgb(29,142,207);
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 8px 15px 8px 15px;
border-color: rgb(91,100,149);
text-align: left;
}

#content a
{
color: rgb(91,100,149);
text-decoration: none;
}

#content a:hover, #content a:active
{
background-color: rgb(91,100,149);
color: rgb(0,0,0);
}

h1, h2, h3, h4, h5, h6
{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
}

h1
{
font-size: 138%;
}

h2
{
font-size: 129%;
}

h3
{
font-size: 120%;
}

h4
{
font-size: 111%;
}

h5
{
font-size: 102%;
}

h6
{
font-size: 93%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(91,100,149);
color: rgb(255,255,255);
}

#trail a
{
text-decoration: none;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
#menu		{width: 29%; position: relative; top: 0; right: 0; float: right; text-align: center;}
.menuitem		{width: auto;}
#content		{margin-right: 29%; width: auto}
.menuitem		{display: block;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

