body
{
background-color: rgb(255,255,255);
color: rgb(147,47,232);
font-family: Arial, Helvetica, sans-serif;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(255,255,255);
}

#content
{
font-size: 104%;
background-color: rgb(147,47,232);
color: rgb(255,255,255);
border-left-width: 11px; border-right-width: 11px; border-top-width: 11px; border-bottom-width: 11px;
border-left-style: solid; border-right-style: solid; border-top-style: solid; border-bottom-style: solid;
padding: 9px 33px 9px 33px;
border-color: rgb(0,0,0);
text-align: justify;
}

#menu
{
background-color: rgb(0,0,0);
color: rgb(84,50,113);
font-family: Verdana, Arial, Helvetica, sans-serif;
font-style: normal;
border-color: rgb(123,26,206);
}

a.menuitem
{
font-size: 157%;
background-color: rgb(0,0,0);
color: rgb(255,255,255);
font-variant: normal;
text-transform: none;
font-weight: normal;
margin-left: 15px; margin-right: 15px; margin-top: 15px; margin-bottom: 15px;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(123,26,206);
text-align: right;
}

#logo, #logo a
{
font-size: 186%;
background-color: rgb(0,0,0);
color: rgb(81,54,103);
font-family: Trebuchet MS, sans-serif;
font-style: italic;
font-variant: normal;
text-transform: none;
font-weight: normal;
padding: 3px 3px 3px 3px;
border-color: rgb(255,255,255);
text-align: left;
}

#trail, #trail a
{
font-size: 114%;
background-color: rgb(255,255,255);
color: rgb(162,96,219);
font-style: italic;
font-variant: normal;
text-transform: none;
font-weight: normal;
border-left-width: 1px; border-right-width: 2px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: solid; border-right-style: solid; border-top-style: none; border-bottom-style: none;
padding: 20px 20px 20px 20px;
border-color: rgb(147,47,232);
text-align: right;
}

#content a
{
color: rgb(81,54,103);
text-decoration: underline;
}

#content a:hover, #content a:active
{
background-color: rgb(81,54,103);
color: rgb(147,47,232);
}

h1, h2, h3, h4, h5, h6
{
font-family: Trebuchet MS, sans-serif;
font-style: italic;
font-variant: normal;
text-transform: none;
font-weight: bold;
}

h1
{
font-size: 169%;
}

h2
{
font-size: 156%;
}

h3
{
font-size: 143%;
}

h4
{
font-size: 130%;
}

h5
{
font-size: 117%;
}

h6
{
font-size: 104%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(255,255,255);
color: rgb(0,0,0);
}

#trail a
{
text-decoration: none;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
#menu		{width: 29%; position: relative; top: 0; left: 0; float: left; text-align: center;}
.menuitem		{width: auto;}
#content		{margin-left: 29%; width: auto}
.menuitem		{display: block;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

