body
{
background-color: rgb(106,121,21);
color: rgb(207,198,83);
font-family: Times New Roman, serif;
border-left-width: 4px; border-right-width: 4px; border-top-width: 4px; border-bottom-width: 4px;
border-left-style: solid; border-right-style: solid; border-top-style: solid; border-bottom-style: solid;
border-color: rgb(106,121,21);
}

#content
{
font-size: 117%;
background-color: rgb(207,198,83);
color: rgb(255,255,255);
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 15px 15px 15px 15px;
border-color: rgb(0,0,0);
text-align: left;
}

#menu
{
background-color: rgb(0,0,0);
color: rgb(219,196,97);
font-family: Times New Roman, serif;
font-style: normal;
border-color: rgb(180,112,49);
}

a.menuitem
{
font-size: 121%;
background-color: rgb(107,158,23);
color: rgb(219,196,97);
font-variant: normal;
text-transform: none;
font-weight: normal;
margin-left: 7px; margin-right: 7px; margin-top: 7px; margin-bottom: 7px;
border-left-width: 5px; border-right-width: 5px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: solid; border-right-style: solid; border-top-style: none; border-bottom-style: none;
border-color: rgb(207,198,83);
text-align: left;
}

#logo, #logo a
{
font-size: 188%;
background-color: rgb(0,0,0);
color: rgb(219,196,97);
font-family: Times New Roman, serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: bold;
padding: 4px 4px 4px 4px;
border-color: rgb(207,198,83);
text-align: center;
}

#trail, #trail a
{
font-size: 109%;
background-color: rgb(0,0,0);
color: rgb(143,122,70);
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 0px 0px 0px 0px;
border-color: rgb(106,121,21);
text-align: right;
}

#content a
{
color: rgb(106,121,21);
text-decoration: underline;
}

#content a:hover, #content a:active
{
background-color: rgb(106,121,21);
color: rgb(207,198,83);
}

h1, h2, h3, h4, h5, h6
{
font-family: Georgia, serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
}

h1
{
font-size: 161%;
}

h2
{
font-size: 153%;
}

h3
{
font-size: 145%;
}

h4
{
font-size: 137%;
}

h5
{
font-size: 129%;
}

h6
{
font-size: 121%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(219,196,97);
color: rgb(107,158,23);
}

#trail a
{
text-decoration: underline;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
.menuitem		{display: inline;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

