body
{
background-color: rgb(93,65,106);
color: rgb(192,83,243);
font-family: Courier New, Courier, monospace;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(145,41,194);
}

#content
{
font-size: 107%;
background-color: rgb(198,170,212);
color: rgb(117,65,141);
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 4px 4px 4px 4px;
border-color: rgb(0,0,0);
text-align: justify;
}

#menu
{
background-color: rgb(190,113,226);
color: rgb(117,65,141);
font-family: Courier New, Courier, monospace;
font-style: normal;
border-color: rgb(255,255,255);
}

a.menuitem
{
font-size: 120%;
background-color: rgb(255,255,255);
color: rgb(145,41,194);
font-variant: normal;
text-transform: none;
font-weight: bold;
margin-left: 13px; margin-right: 13px; margin-top: 13px; margin-bottom: 13px;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(255,255,255);
text-align: left;
}

#logo, #logo a
{
font-size: 171%;
background-color: rgb(190,113,226);
color: rgb(117,65,141);
font-family: Courier New, Courier, monospace;
font-style: italic;
font-variant: normal;
text-transform: none;
font-weight: normal;
padding: 18px 18px 18px 18px;
border-color: rgb(0,0,0);
text-align: left;
}

#trail, #trail a
{
font-size: 119%;
background-color: rgb(255,255,255);
color: rgb(117,65,141);
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
text-indent: 21;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 13px 13px 13px 13px;
border-color: rgb(190,113,226);
text-align: right;
}

#content a
{
color: rgb(0,0,0);
text-decoration: none;
}

#content a:hover, #content a:active
{
background-color: rgb(0,0,0);
color: rgb(198,170,212);
}

h1, h2, h3, h4, h5, h6
{
font-family: Courier New, Courier, monospace;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: bold;
}

h1
{
font-size: 145%;
}

h2
{
font-size: 137%;
}

h3
{
font-size: 129%;
}

h4
{
font-size: 121%;
}

h5
{
font-size: 113%;
}

h6
{
font-size: 105%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(145,41,194);
color: rgb(255,255,255);
}

#trail a
{
text-decoration: none;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
.menuitem		{display: inline;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

