body
{
background-color: rgb(226,50,186);
color: rgb(40,116,57);
font-family: Palatino, serif;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(43,150,67);
}

#content
{
font-size: 118%;
background-color: rgb(255,255,255);
color: rgb(0,0,0);
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 27px 9px 27px 9px;
border-color: rgb(0,0,0);
text-align: justify;
}

#menu
{
background-color: rgb(255,255,255);
color: rgb(43,150,67);
font-family: Palatino, serif;
font-style: normal;
border-color: rgb(107,20,87);
}

a.menuitem
{
font-size: 128%;
background-color: rgb(226,50,186);
color: rgb(40,116,57);
font-variant: normal;
text-transform: none;
font-weight: bold;
margin-left: 7px; margin-right: 7px; margin-top: 7px; margin-bottom: 7px;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(226,50,186);
text-align: left;
}

#logo, #logo a
{
font-size: 195%;
background-color: rgb(0,0,0);
color: rgb(107,20,87);
font-family: Palatino, serif;
font-style: italic;
font-variant: small-caps;
text-transform: none;
font-weight: normal;
text-indent: 34;
padding: 4px 4px 4px 4px;
border-color: rgb(0,0,0);
text-align: left;
}

#trail, #trail a
{
font-size: 105%;
background-color: rgb(0,0,0);
color: rgb(107,20,87);
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
border-left-width: 15px; border-right-width: 15px; border-top-width: 15px; border-bottom-width: 15px;
border-left-style: groove; border-right-style: groove; border-top-style: groove; border-bottom-style: groove;
padding: 9px 9px 9px 9px;
border-color: rgb(43,150,67);
text-align: center;
}

#content a
{
color: rgb(226,50,186);
text-decoration: none;
}

#content a:hover, #content a:active
{
background-color: rgb(226,50,186);
color: rgb(255,255,255);
}

h1, h2, h3, h4, h5, h6
{
font-family: Palatino, serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: bold;
}

h1
{
font-size: 125%;
}

h2
{
font-size: 112%;
}

h3
{
font-size: 99%;
}

h4
{
font-size: 86%;
}

h5
{
font-size: 73%;
}

h6
{
font-size: 60%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(40,116,57);
color: rgb(226,50,186);
}

#trail a
{
text-decoration: none;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
.menuitem		{display: inline;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

