body
{
background-color: rgb(255,255,255);
color: rgb(56,220,176);
font-family: Arial, Helvetica, sans-serif;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(56,220,176);
}

#content
{
font-size: 118%;
background-color: rgb(255,255,255);
color: rgb(0,0,0);
border-left-width: 7px; border-right-width: 7px; border-top-width: 7px; border-bottom-width: 7px;
border-left-style: solid; border-right-style: solid; border-top-style: solid; border-bottom-style: solid;
padding: 14px 14px 14px 14px;
border-color: rgb(0,0,0);
text-align: justify;
}

#menu
{
background-color: rgb(255,255,255);
color: rgb(1,239,176);
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
border-color: rgb(92,173,152);
}

a.menuitem
{
font-size: 157%;
background-color: rgb(255,255,255);
color: rgb(56,220,176);
font-variant: normal;
text-transform: none;
font-weight: bold;
margin-left: 10px; margin-right: 10px; margin-top: 10px; margin-bottom: 10px;
border-left-width: 3px; border-right-width: 3px; border-top-width: 1px; border-bottom-width: 1px;
border-left-style: dotted; border-right-style: dotted; border-top-style: dotted; border-bottom-style: dotted;
border-color: rgb(0,0,0);
text-align: right;
}

#logo, #logo a
{
font-size: 192%;
background-color: rgb(0,0,0);
color: rgb(255,255,255);
font-family: Palatino, serif;
font-style: italic;
font-variant: normal;
text-transform: none;
font-weight: normal;
padding: 15px 3px 15px 3px;
border-color: rgb(6,49,38);
text-align: right;
}

#trail, #trail a
{
font-size: 103%;
background-color: rgb(56,220,176);
color: rgb(6,49,38);
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
text-indent: 46;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 0px 0px 0px 0px;
border-color: rgb(92,173,152);
text-align: left;
}

#content a
{
color: rgb(70,201,166);
text-decoration: underline;
}

#content a:hover, #content a:active
{
background-color: rgb(70,201,166);
color: rgb(255,255,255);
}

h1, h2, h3, h4, h5, h6
{
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
}

h1
{
font-size: 141%;
}

h2
{
font-size: 129%;
}

h3
{
font-size: 117%;
}

h4
{
font-size: 105%;
}

h5
{
font-size: 93%;
}

h6
{
font-size: 81%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(56,220,176);
color: rgb(255,255,255);
}

#trail a
{
text-decoration: underline;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
#menu		{width: 24%; position: relative; top: 0; right: 0; float: right; text-align: center;}
.menuitem		{width: auto;}
#content		{margin-right: 24%; width: auto}
.menuitem		{display: block;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

