body
{
background-color: rgb(0,0,0);
color: rgb(191,176,197);
font-family: Arial, Helvetica, sans-serif;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(189,111,221);
}

#content
{
font-size: 114%;
background-color: rgb(255,255,255);
color: rgb(0,0,0);
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 42px 42px 42px 42px;
border-color: rgb(0,0,0);
text-align: left;
}

#menu
{
background-color: rgb(189,111,221);
color: rgb(52,110,29);
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
border-color: rgb(118,172,96);
}

a.menuitem
{
font-size: 122%;
background-color: rgb(255,255,255);
color: rgb(52,110,29);
font-variant: normal;
text-transform: none;
font-weight: normal;
margin-left: 19px; margin-right: 19px; margin-top: 19px; margin-bottom: 19px;
border-left-width: 6px; border-right-width: 6px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: solid; border-right-style: solid; border-top-style: none; border-bottom-style: none;
border-color: rgb(52,110,29);
text-align: right;
}

#logo, #logo a
{
font-size: 173%;
background-color: rgb(189,111,221);
color: rgb(118,172,96);
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: bold;
text-indent: 27;
padding: 0px 14px 0px 14px;
border-color: rgb(52,110,29);
text-align: center;
}

#trail, #trail a
{
font-size: 121%;
background-color: rgb(0,0,0);
color: rgb(181,101,213);
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 3px 3px 3px 3px;
border-color: rgb(255,255,255);
text-align: center;
}

#content a
{
color: rgb(52,110,29);
text-decoration: underline;
}

#content a:hover, #content a:active
{
background-color: rgb(52,110,29);
color: rgb(255,255,255);
}

h1, h2, h3, h4, h5, h6
{
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: bold;
}

h1
{
font-size: 126%;
}

h2
{
font-size: 114%;
}

h3
{
font-size: 102%;
}

h4
{
font-size: 90%;
}

h5
{
font-size: 78%;
}

h6
{
font-size: 66%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(52,110,29);
color: rgb(255,255,255);
}

#trail a
{
text-decoration: underline;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
#menu		{width: 29%; position: relative; top: 0; right: 0; float: right; text-align: center;}
.menuitem		{width: auto;}
#content		{margin-right: 29%; width: auto}
.menuitem		{display: block;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

