body
{
background-color: rgb(0,0,0);
color: rgb(73,130,131);
font-family: Verdana, Arial, Helvetica, sans-serif;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(155,92,91);
}

#content
{
font-size: 107%;
background-color: rgb(155,92,91);
color: rgb(255,255,255);
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 38px 34px 38px 34px;
border-color: rgb(0,0,0);
text-align: justify;
}

#menu
{
background-color: rgb(0,0,0);
color: rgb(34,161,164);
font-family: Verdana, Arial, Helvetica, sans-serif;
font-style: normal;
border-color: rgb(12,174,178);
}

a.menuitem
{
font-size: 130%;
background-color: rgb(130,31,28);
color: rgb(73,130,131);
font-variant: normal;
text-transform: none;
font-weight: normal;
margin-left: 16px; margin-right: 16px; margin-top: 16px; margin-bottom: 16px;
border-left-width: 1px; border-right-width: 1px; border-top-width: 1px; border-bottom-width: 1px;
border-left-style: solid; border-right-style: solid; border-top-style: solid; border-bottom-style: solid;
border-color: rgb(155,230,232);
text-align: right;
}

#logo, #logo a
{
font-size: 189%;
background-color: rgb(155,92,91);
color: rgb(34,161,164);
font-family: Verdana, Arial, Helvetica, sans-serif;
font-style: normal;
font-variant: small-caps;
text-transform: none;
font-weight: normal;
padding: 17px 17px 17px 17px;
border-color: rgb(255,255,255);
text-align: right;
}

#trail, #trail a
{
font-size: 127%;
background-color: rgb(155,230,232);
color: rgb(34,161,164);
font-style: italic;
font-variant: normal;
text-transform: none;
font-weight: normal;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 0px 0px 0px 0px;
border-color: rgb(130,31,28);
text-align: left;
}

#content a
{
color: rgb(0,0,0);
text-decoration: none;
}

#content a:hover, #content a:active
{
background-color: rgb(0,0,0);
color: rgb(155,92,91);
}

h1, h2, h3, h4, h5, h6
{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: bold;
}

h1
{
font-size: 133%;
}

h2
{
font-size: 123%;
}

h3
{
font-size: 113%;
}

h4
{
font-size: 103%;
}

h5
{
font-size: 93%;
}

h6
{
font-size: 83%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(73,130,131);
color: rgb(130,31,28);
}

#trail a
{
text-decoration: none;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
#menu		{width: 30%; position: relative; top: 0; left: 0; float: left; text-align: center;}
.menuitem		{width: auto;}
#content		{margin-left: 30%; width: auto}
.menuitem		{display: block;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

