body
{
background-color: rgb(0,0,0);
color: rgb(255,255,255);
font-family: Verdana, Arial, Helvetica, sans-serif;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(234,158,226);
}

#content
{
font-size: 106%;
background-color: rgb(255,255,255);
color: rgb(0,0,0);
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 43px 22px 43px 22px;
border-color: rgb(0,0,0);
text-align: left;
}

#menu
{
background-color: rgb(129,221,139);
color: rgb(205,23,186);
font-family: Verdana, Arial, Helvetica, sans-serif;
font-style: normal;
border-color: rgb(109,235,122);
}

a.menuitem
{
font-size: 149%;
background-color: rgb(234,158,226);
color: rgb(205,23,186);
font-variant: small-caps;
text-transform: none;
font-weight: normal;
margin-left: 9px; margin-right: 9px; margin-top: 9px; margin-bottom: 9px;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(11,101,21);
text-align: right;
}

#logo, #logo a
{
font-size: 191%;
background-color: rgb(109,235,122);
color: rgb(205,23,186);
font-family: Verdana, Arial, Helvetica, sans-serif;
font-style: italic;
font-variant: normal;
text-transform: none;
font-weight: bold;
padding: 11px 6px 0px 0px;
border-color: rgb(234,158,226);
text-align: right;
}

#trail, #trail a
{
font-size: 118%;
background-color: rgb(109,235,122);
color: rgb(234,158,226);
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: bold;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 16px 0px 15px 9px;
border-color: rgb(0,0,0);
text-align: left;
}

#content a
{
color: rgb(129,221,139);
text-decoration: none;
}

#content a:hover, #content a:active
{
background-color: rgb(129,221,139);
color: rgb(255,255,255);
}

h1, h2, h3, h4, h5, h6
{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-style: italic;
font-variant: normal;
text-transform: none;
font-weight: bold;
}

h1
{
font-size: 141%;
}

h2
{
font-size: 129%;
}

h3
{
font-size: 117%;
}

h4
{
font-size: 105%;
}

h5
{
font-size: 93%;
}

h6
{
font-size: 81%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(205,23,186);
color: rgb(234,158,226);
}

#trail a
{
text-decoration: none;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
#menu		{width: 25%; position: relative; top: 0; left: 0; float: left; text-align: center;}
.menuitem		{width: auto;}
#content		{margin-left: 25%; width: auto}
.menuitem		{display: block;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

