body
{
background-color: rgb(229,221,170);
color: rgb(168,153,34);
font-family: Georgia, serif;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(168,153,34);
}

#content
{
font-size: 112%;
background-color: rgb(255,255,255);
color: rgb(0,0,0);
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 23px 23px 23px 23px;
border-color: rgb(0,0,0);
text-align: left;
}

#menu
{
background-color: rgb(0,0,0);
color: rgb(197,148,59);
font-family: Times New Roman, serif;
font-style: normal;
border-color: rgb(167,219,123);
}

a.menuitem
{
font-size: 126%;
background-color: rgb(255,255,255);
color: rgb(195,211,33);
font-variant: normal;
text-transform: none;
font-weight: normal;
margin-left: 10px; margin-right: 10px; margin-top: 10px; margin-bottom: 10px;
border-left-width: 0px; border-right-width: 0px; border-top-width: 1px; border-bottom-width: 1px;
border-left-style: none; border-right-style: none; border-top-style: double; border-bottom-style: double;
border-color: rgb(195,211,33);
text-align: center;
}

#logo, #logo a
{
font-size: 190%;
background-color: rgb(139,171,68);
color: rgb(229,221,170);
font-family: Georgia, serif;
font-style: normal;
font-variant: small-caps;
text-transform: none;
font-weight: normal;
padding: 2px 2px 2px 2px;
border-color: rgb(197,148,59);
text-align: center;
}

#trail, #trail a
{
font-size: 125%;
background-color: rgb(229,221,170);
color: rgb(168,153,34);
font-style: normal;
font-variant: normal;
text-transform: uppercase;
font-weight: normal;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 17px 17px 17px 17px;
border-color: rgb(139,171,68);
text-align: right;
}

#content a
{
color: rgb(168,153,34);
text-decoration: none;
}

#content a:hover, #content a:active
{
background-color: rgb(168,153,34);
color: rgb(255,255,255);
}

h1, h2, h3, h4, h5, h6
{
font-family: Trebuchet MS, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
}

h1
{
font-size: 147%;
}

h2
{
font-size: 138%;
}

h3
{
font-size: 129%;
}

h4
{
font-size: 120%;
}

h5
{
font-size: 111%;
}

h6
{
font-size: 102%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(195,211,33);
color: rgb(255,255,255);
}

#trail a
{
text-decoration: none;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
#menu		{width: 22%; position: relative; top: 0; right: 0; float: right; text-align: center;}
.menuitem		{width: auto;}
#content		{margin-right: 22%; width: auto}
.menuitem		{display: block;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

