body
{
background-color: rgb(37,41,60);
color: rgb(216,220,241);
font-family: Verdana, Arial, Helvetica, sans-serif;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(0,0,0);
}

#content
{
font-size: 92%;
background-color: rgb(209,212,224);
color: rgb(15,38,143);
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 22px 28px 13px 39px;
border-color: rgb(0,0,0);
text-align: left;
}

#menu
{
background-color: rgb(255,255,255);
color: rgb(37,41,60);
font-family: Verdana, Arial, Helvetica, sans-serif;
font-style: normal;
text-indent: 25;
border-color: rgb(37,41,60);
}

a.menuitem
{
font-size: 123%;
background-color: rgb(37,41,60);
color: rgb(216,220,241);
font-variant: normal;
text-transform: none;
font-weight: normal;
margin-left: 13px; margin-right: 13px; margin-top: 12px; margin-bottom: 12px;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(216,220,241);
text-align: right;
}

#logo, #logo a
{
font-size: 200%;
background-color: rgb(37,41,60);
color: rgb(216,220,241);
font-family: Verdana, Arial, Helvetica, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
padding: 0px 0px 0px 0px;
border-color: rgb(37,41,60);
text-align: left;
}

#trail, #trail a
{
font-size: 123%;
background-color: rgb(153,167,229);
color: rgb(15,38,143);
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
border-left-width: 1px; border-right-width: 13px; border-top-width: 14px; border-bottom-width: 9px;
border-left-style: dashed; border-right-style: dashed; border-top-style: dashed; border-bottom-style: dashed;
padding: 9px 9px 9px 9px;
border-color: rgb(47,68,168);
text-align: left;
}

#content a
{
color: rgb(37,41,60);
text-decoration: underline;
}

#content a:hover, #content a:active
{
background-color: rgb(37,41,60);
color: rgb(209,212,224);
}

h1, h2, h3, h4, h5, h6
{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
}

h1
{
font-size: 173%;
}

h2
{
font-size: 163%;
}

h3
{
font-size: 153%;
}

h4
{
font-size: 143%;
}

h5
{
font-size: 133%;
}

h6
{
font-size: 123%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(216,220,241);
color: rgb(37,41,60);
}

#trail a
{
text-decoration: none;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
#menu		{width: 30%; position: relative; top: 0; left: 0; float: left; text-align: center;}
.menuitem		{width: auto;}
#content		{margin-left: 30%; width: auto}
.menuitem		{display: block;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

