body
{
background-color: rgb(255,255,255);
color: rgb(95,222,104);
font-family: Arial, Helvetica, sans-serif;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(211,220,174);
}

#content
{
font-size: 102%;
background-color: rgb(0,0,0);
color: rgb(255,255,255);
border-left-width: 1px; border-right-width: 1px; border-top-width: 1px; border-bottom-width: 1px;
border-left-style: ridge; border-right-style: ridge; border-top-style: ridge; border-bottom-style: ridge;
padding: 47px 47px 47px 47px;
border-color: rgb(0,0,0);
text-align: left;
}

#menu
{
background-color: rgb(0,0,0);
color: rgb(211,220,174);
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
border-color: rgb(91,114,58);
}

a.menuitem
{
font-size: 122%;
background-color: rgb(91,114,58);
color: rgb(211,220,174);
font-variant: normal;
text-transform: none;
font-weight: normal;
margin-left: 10px; margin-right: 10px; margin-top: 10px; margin-bottom: 10px;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(0,0,0);
text-align: right;
}

#logo, #logo a
{
font-size: 200%;
background-color: rgb(0,0,0);
color: rgb(91,114,58);
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
padding: 11px 11px 11px 11px;
border-color: rgb(211,220,174);
text-align: left;
}

#trail, #trail a
{
font-size: 107%;
background-color: rgb(0,0,0);
color: rgb(255,255,255);
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: bold;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 18px 18px 18px 18px;
border-color: rgb(95,222,104);
text-align: center;
}

#content a
{
color: rgb(211,220,174);
text-decoration: underline;
}

#content a:hover, #content a:active
{
background-color: rgb(211,220,174);
color: rgb(0,0,0);
}

h1, h2, h3, h4, h5, h6
{
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
}

h1
{
font-size: 167%;
}

h2
{
font-size: 156%;
}

h3
{
font-size: 145%;
}

h4
{
font-size: 134%;
}

h5
{
font-size: 123%;
}

h6
{
font-size: 112%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(211,220,174);
color: rgb(91,114,58);
}

#trail a
{
text-decoration: none;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
#menu		{width: 22%; position: relative; top: 0; right: 0; float: right; text-align: center;}
.menuitem		{width: auto;}
#content		{margin-right: 22%; width: auto}
.menuitem		{display: block;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

