body
{
background-color: rgb(255,255,255);
color: rgb(26,64,197);
font-family: Courier New, Courier, monospace;
border-left-width: 10px; border-right-width: 10px; border-top-width: 10px; border-bottom-width: 10px;
border-left-style: ridge; border-right-style: ridge; border-top-style: ridge; border-bottom-style: ridge;
border-color: rgb(51,168,182);
}

#content
{
font-size: 91%;
background-color: rgb(255,255,255);
color: rgb(114,168,162);
border-left-width: 1px; border-right-width: 1px; border-top-width: 1px; border-bottom-width: 1px;
border-left-style: dashed; border-right-style: dashed; border-top-style: dashed; border-bottom-style: dashed;
padding: 32px 32px 32px 32px;
border-color: rgb(0,0,0);
text-align: left;
}

#menu
{
background-color: rgb(0,0,0);
color: rgb(89,149,224);
font-family: Courier New, Courier, monospace;
font-style: normal;
text-indent: 35;
border-color: rgb(0,0,0);
}

a.menuitem
{
font-size: 142%;
background-color: rgb(26,64,197);
color: rgb(101,142,149);
font-variant: normal;
text-transform: none;
font-weight: bold;
margin-left: 18px; margin-right: 18px; margin-top: 18px; margin-bottom: 18px;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(0,0,0);
text-align: left;
}

#logo, #logo a
{
font-size: 159%;
background-color: rgb(255,255,255);
color: rgb(51,168,182);
font-family: Palatino, serif;
font-style: italic;
font-variant: normal;
text-transform: none;
font-weight: normal;
padding: 6px 6px 6px 6px;
border-color: rgb(101,142,149);
text-align: left;
}

#trail, #trail a
{
font-size: 120%;
background-color: rgb(26,64,197);
color: rgb(114,168,162);
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
border-left-width: 1px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: dotted; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 0px 0px 0px 0px;
border-color: rgb(89,149,224);
text-align: center;
}

#content a
{
color: rgb(143,183,203);
text-decoration: underline;
}

#content a:hover, #content a:active
{
background-color: rgb(143,183,203);
color: rgb(255,255,255);
}

h1, h2, h3, h4, h5, h6
{
font-family: Palatino, serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: bold;
}

h1
{
font-size: 159%;
}

h2
{
font-size: 146%;
}

h3
{
font-size: 133%;
}

h4
{
font-size: 120%;
}

h5
{
font-size: 107%;
}

h6
{
font-size: 94%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(101,142,149);
color: rgb(26,64,197);
}

#trail a
{
text-decoration: none;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
#menu		{width: 23%; position: relative; top: 0; left: 0; float: left; text-align: center;}
.menuitem		{width: auto;}
#content		{margin-left: 23%; width: auto}
.menuitem		{display: block;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

