body
{
background-color: rgb(0,0,0);
color: rgb(73,112,175);
font-family: Georgia, serif;
border-left-width: 7px; border-right-width: 7px; border-top-width: 14px; border-bottom-width: 14px;
border-left-style: double; border-right-style: double; border-top-style: double; border-bottom-style: double;
border-color: rgb(73,112,175);
}

#content
{
font-size: 116%;
background-color: rgb(20,103,235);
color: rgb(255,255,255);
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 26px 26px 26px 26px;
border-color: rgb(0,0,0);
text-align: left;
}

#menu
{
background-color: rgb(0,0,0);
color: rgb(102,150,226);
font-family: Georgia, serif;
font-style: normal;
border-color: rgb(36,40,48);
}

a.menuitem
{
font-size: 123%;
background-color: rgb(0,0,0);
color: rgb(153,167,188);
font-variant: normal;
text-transform: capitalize;
font-weight: normal;
margin-left: 8px; margin-right: 8px; margin-top: 8px; margin-bottom: 8px;
border-left-width: 13px; border-right-width: 13px; border-top-width: 13px; border-bottom-width: 13px;
border-left-style: solid; border-right-style: solid; border-top-style: solid; border-bottom-style: solid;
border-color: rgb(36,40,48);
text-align: left;
}

#logo, #logo a
{
font-size: 162%;
background-color: rgb(153,167,188);
color: rgb(20,103,235);
font-family: Georgia, serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
padding: 0px 0px 0px 0px;
border-color: rgb(102,150,226);
text-align: left;
}

#trail, #trail a
{
font-size: 130%;
background-color: rgb(36,40,48);
color: rgb(102,150,226);
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
text-indent: 7;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 0px 0px 0px 0px;
border-color: rgb(36,40,48);
text-align: left;
}

#content a
{
color: rgb(0,0,0);
text-decoration: underline;
}

#content a:hover, #content a:active
{
background-color: rgb(0,0,0);
color: rgb(20,103,235);
}

h1, h2, h3, h4, h5, h6
{
font-family: Georgia, serif;
font-style: italic;
font-variant: normal;
text-transform: none;
font-weight: bold;
}

h1
{
font-size: 131%;
}

h2
{
font-size: 122%;
}

h3
{
font-size: 113%;
}

h4
{
font-size: 104%;
}

h5
{
font-size: 95%;
}

h6
{
font-size: 86%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(153,167,188);
color: rgb(0,0,0);
}

#trail a
{
text-decoration: none;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
#menu		{width: 26%; position: relative; top: 0; left: 0; float: left; text-align: center;}
.menuitem		{width: auto;}
#content		{margin-left: 26%; width: auto}
.menuitem		{display: block;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

