body
{
background-color: rgb(0,0,0);
color: rgb(255,255,255);
font-family: Trebuchet MS, sans-serif;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(162,50,58);
}

#content
{
font-size: 110%;
background-color: rgb(255,255,255);
color: rgb(0,0,0);
border-left-width: 15px; border-right-width: 15px; border-top-width: 15px; border-bottom-width: 15px;
border-left-style: dotted; border-right-style: dotted; border-top-style: dotted; border-bottom-style: dotted;
padding: 37px 37px 37px 37px;
border-color: rgb(0,0,0);
text-align: left;
}

#menu
{
background-color: rgb(92,7,12);
color: rgb(244,126,134);
font-family: Trebuchet MS, sans-serif;
font-style: normal;
border-color: rgb(59,14,17);
}

a.menuitem
{
font-size: 150%;
background-color: rgb(0,0,0);
color: rgb(244,126,134);
font-variant: normal;
text-transform: none;
font-weight: normal;
margin-left: 4px; margin-right: 4px; margin-top: 4px; margin-bottom: 4px;
border-left-width: 1px; border-right-width: 1px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: ridge; border-right-style: ridge; border-top-style: none; border-bottom-style: none;
border-color: rgb(162,50,58);
text-align: right;
}

#logo, #logo a
{
font-size: 180%;
background-color: rgb(162,50,58);
color: rgb(244,126,134);
font-family: Trebuchet MS, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
padding: 6px 6px 6px 6px;
border-color: rgb(255,255,255);
text-align: center;
}

#trail, #trail a
{
font-size: 103%;
background-color: rgb(0,0,0);
color: rgb(162,50,58);
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 14px 0px 14px 0px;
border-color: rgb(255,255,255);
text-align: left;
}

#content a
{
color: rgb(244,126,134);
text-decoration: underline;
}

#content a:hover, #content a:active
{
background-color: rgb(244,126,134);
color: rgb(255,255,255);
}

h1, h2, h3, h4, h5, h6
{
font-family: Trebuchet MS, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: bold;
}

h1
{
font-size: 157%;
}

h2
{
font-size: 149%;
}

h3
{
font-size: 141%;
}

h4
{
font-size: 133%;
}

h5
{
font-size: 125%;
}

h6
{
font-size: 117%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(244,126,134);
color: rgb(0,0,0);
}

#trail a
{
text-decoration: none;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
#menu		{width: 21%; position: relative; top: 0; left: 0; float: left; text-align: center;}
.menuitem		{width: auto;}
#content		{margin-left: 21%; width: auto}
.menuitem		{display: block;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

