body
{
background-color: rgb(0,0,0);
color: rgb(57,49,154);
font-family: Palatino, serif;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(13,32,129);
}

#content
{
font-size: 90%;
background-color: rgb(255,255,255);
color: rgb(0,0,0);
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 7px 7px 7px 7px;
border-color: rgb(0,0,0);
text-align: left;
}

#menu
{
background-color: rgb(255,255,255);
color: rgb(124,132,181);
font-family: Courier New, Courier, monospace;
font-style: normal;
border-color: rgb(0,0,0);
}

a.menuitem
{
font-size: 138%;
background-color: rgb(0,0,0);
color: rgb(124,132,181);
font-variant: normal;
text-transform: none;
font-weight: normal;
margin-left: 10px; margin-right: 10px; margin-top: 10px; margin-bottom: 10px;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(255,255,255);
text-align: right;
}

#logo, #logo a
{
font-size: 166%;
background-color: rgb(0,0,0);
color: rgb(124,132,181);
font-family: Courier New, Courier, monospace;
font-style: italic;
font-variant: normal;
text-transform: none;
font-weight: bold;
padding: 20px 20px 20px 20px;
border-color: rgb(255,255,255);
text-align: right;
}

#trail, #trail a
{
font-size: 101%;
background-color: rgb(255,255,255);
color: rgb(13,32,129);
font-style: italic;
font-variant: small-caps;
text-transform: none;
font-weight: normal;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 10px 10px 10px 10px;
border-color: rgb(255,255,255);
text-align: right;
}

#content a
{
color: rgb(154,177,193);
text-decoration: underline;
}

#content a:hover, #content a:active
{
background-color: rgb(154,177,193);
color: rgb(255,255,255);
}

h1, h2, h3, h4, h5, h6
{
font-family: Palatino, serif;
font-style: italic;
font-variant: normal;
text-transform: capitalize;
font-weight: bold;
}

h1
{
font-size: 120%;
}

h2
{
font-size: 107%;
}

h3
{
font-size: 94%;
}

h4
{
font-size: 81%;
}

h5
{
font-size: 68%;
}

h6
{
font-size: 55%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(124,132,181);
color: rgb(0,0,0);
}

#trail a
{
text-decoration: none;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
#menu		{width: 22%; position: relative; top: 0; left: 0; float: left; text-align: center;}
.menuitem		{width: auto;}
#content		{margin-left: 22%; width: auto}
.menuitem		{display: block;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

