body
{
background-color: rgb(0,0,0);
color: rgb(125,21,111);
font-family: Courier New, Courier, monospace;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(255,255,255);
}

#content
{
font-size: 107%;
background-color: rgb(255,255,255);
color: rgb(0,0,0);
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 48px 48px 48px 48px;
border-color: rgb(0,0,0);
text-align: left;
}

#menu
{
background-color: rgb(0,0,0);
color: rgb(137,50,155);
font-family: Courier New, Courier, monospace;
font-style: normal;
border-color: rgb(0,0,0);
}

a.menuitem
{
font-size: 159%;
background-color: rgb(0,0,0);
color: rgb(137,50,155);
font-variant: normal;
text-transform: none;
font-weight: bold;
margin-left: 6px; margin-right: 6px; margin-top: 6px; margin-bottom: 6px;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(125,21,111);
text-align: right;
}

#logo, #logo a
{
font-size: 166%;
background-color: rgb(119,51,149);
color: rgb(197,175,222);
font-family: Courier New, Courier, monospace;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
padding: 7px 17px 7px 17px;
border-color: rgb(197,175,222);
text-align: right;
}

#trail, #trail a
{
font-size: 94%;
background-color: rgb(255,255,255);
color: rgb(125,21,111);
font-style: italic;
font-variant: normal;
text-transform: none;
font-weight: bold;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 8px 19px 8px 19px;
border-color: rgb(197,175,222);
text-align: left;
}

#content a
{
color: rgb(119,51,149);
text-decoration: none;
}

#content a:hover, #content a:active
{
background-color: rgb(119,51,149);
color: rgb(255,255,255);
}

h1, h2, h3, h4, h5, h6
{
font-family: Courier New, Courier, monospace;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
}

h1
{
font-size: 176%;
}

h2
{
font-size: 167%;
}

h3
{
font-size: 158%;
}

h4
{
font-size: 149%;
}

h5
{
font-size: 140%;
}

h6
{
font-size: 131%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(137,50,155);
color: rgb(0,0,0);
}

#trail a
{
text-decoration: none;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
#menu		{width: 24%; position: relative; top: 0; right: 0; float: right; text-align: center;}
.menuitem		{width: auto;}
#content		{margin-right: 24%; width: auto}
.menuitem		{display: block;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

