body
{
background-color: rgb(63,39,139);
color: rgb(203,226,132);
font-family: Times New Roman, serif;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(110,83,192);
}

#content
{
font-size: 91%;
background-color: rgb(255,255,255);
color: rgb(0,0,0);
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 2px 2px 2px 2px;
border-color: rgb(0,0,0);
text-align: left;
}

#menu
{
background-color: rgb(110,83,192);
color: rgb(35,18,88);
font-family: Times New Roman, serif;
font-style: italic;
border-color: rgb(255,255,255);
}

a.menuitem
{
font-size: 137%;
background-color: rgb(255,255,255);
color: rgb(151,177,72);
font-variant: normal;
text-transform: none;
font-weight: bold;
margin-left: 14px; margin-right: 14px; margin-top: 14px; margin-bottom: 14px;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(35,18,88);
text-align: center;
}

#logo, #logo a
{
font-size: 200%;
background-color: rgb(255,255,255);
color: rgb(110,83,192);
font-family: Times New Roman, serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: bold;
padding: 2px 9px 2px 9px;
border-color: rgb(255,255,255);
text-align: right;
}

#trail, #trail a
{
font-size: 105%;
background-color: rgb(203,226,132);
color: rgb(115,75,236);
font-style: normal;
font-variant: small-caps;
text-transform: none;
font-weight: normal;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 0px 0px 0px 0px;
border-color: rgb(110,83,192);
text-align: left;
}

#content a
{
color: rgb(35,18,88);
text-decoration: underline;
}

#content a:hover, #content a:active
{
background-color: rgb(35,18,88);
color: rgb(255,255,255);
}

h1, h2, h3, h4, h5, h6
{
font-family: Times New Roman, serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
}

h1
{
font-size: 150%;
}

h2
{
font-size: 136%;
}

h3
{
font-size: 122%;
}

h4
{
font-size: 108%;
}

h5
{
font-size: 94%;
}

h6
{
font-size: 80%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(151,177,72);
color: rgb(255,255,255);
}

#trail a
{
text-decoration: underline;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
#menu		{width: 25%; position: relative; top: 0; right: 0; float: right; text-align: center;}
.menuitem		{width: auto;}
#content		{margin-right: 25%; width: auto}
.menuitem		{display: block;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

