body
{
background-color: rgb(87,212,124);
color: rgb(57,91,60);
font-family: Arial, Helvetica, sans-serif;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(0,0,0);
}

#content
{
font-size: 111%;
background-color: rgb(255,255,255);
color: rgb(0,0,0);
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 12px 19px 12px 19px;
border-color: rgb(0,0,0);
text-align: left;
}

#menu
{
background-color: rgb(255,255,255);
color: rgb(133,218,150);
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
border-color: rgb(133,218,150);
}

a.menuitem
{
font-size: 135%;
background-color: rgb(87,212,124);
color: rgb(54,82,48);
font-variant: normal;
text-transform: none;
font-weight: normal;
margin-left: 10px; margin-right: 10px; margin-top: 14px; margin-bottom: 14px;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(255,255,255);
text-align: right;
}

#logo, #logo a
{
font-size: 154%;
background-color: rgb(87,212,124);
color: rgb(54,82,48);
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: bold;
padding: 0px 0px 0px 0px;
border-color: rgb(255,255,255);
text-align: center;
}

#trail, #trail a
{
font-size: 130%;
background-color: rgb(66,227,184);
color: rgb(54,82,48);
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
border-left-width: 0px; border-right-width: 0px; border-top-width: 10px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: dashed; border-bottom-style: none;
padding: 16px 0px 16px 0px;
border-color: rgb(255,255,255);
text-align: center;
}

#content a
{
color: rgb(133,218,150);
text-decoration: underline;
}

#content a:hover, #content a:active
{
background-color: rgb(133,218,150);
color: rgb(255,255,255);
}

h1, h2, h3, h4, h5, h6
{
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
}

h1
{
font-size: 138%;
}

h2
{
font-size: 125%;
}

h3
{
font-size: 112%;
}

h4
{
font-size: 99%;
}

h5
{
font-size: 86%;
}

h6
{
font-size: 73%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(54,82,48);
color: rgb(87,212,124);
}

#trail a
{
text-decoration: none;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
#menu		{width: 25%; position: relative; top: 0; left: 0; float: left; text-align: center;}
.menuitem		{width: auto;}
#content		{margin-left: 25%; width: auto}
.menuitem		{display: block;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

