body
{
background-color: rgb(255,255,255);
color: rgb(117,145,197);
font-family: Times New Roman, serif;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(218,149,20);
}

#content
{
font-size: 96%;
background-color: rgb(255,255,255);
color: rgb(198,168,111);
border-left-width: 12px; border-right-width: 12px; border-top-width: 12px; border-bottom-width: 12px;
border-left-style: solid; border-right-style: solid; border-top-style: solid; border-bottom-style: solid;
padding: 32px 31px 32px 31px;
border-color: rgb(0,0,0);
text-align: left;
}

#menu
{
background-color: rgb(27,62,128);
color: rgb(218,149,20);
font-family: Georgia, serif;
font-style: normal;
border-color: rgb(218,149,20);
}

a.menuitem
{
font-size: 134%;
background-color: rgb(0,0,0);
color: rgb(255,255,255);
font-variant: normal;
text-transform: none;
font-weight: normal;
margin-left: 5px; margin-right: 3px; margin-top: 15px; margin-bottom: 19px;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(0,0,0);
text-align: left;
}

#logo, #logo a
{
font-size: 170%;
background-color: rgb(27,62,128);
color: rgb(218,149,20);
font-family: Georgia, serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
padding: 3px 12px 3px 12px;
border-color: rgb(45,88,169);
text-align: left;
}

#trail, #trail a
{
font-size: 114%;
background-color: rgb(0,0,0);
color: rgb(52,91,162);
font-style: italic;
font-variant: small-caps;
text-transform: none;
font-weight: normal;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 20px 20px 20px 20px;
border-color: rgb(117,145,197);
text-align: right;
}

#content a
{
color: rgb(143,167,52);
text-decoration: underline;
}

#content a:hover, #content a:active
{
background-color: rgb(143,167,52);
color: rgb(255,255,255);
}

h1, h2, h3, h4, h5, h6
{
font-family: Times New Roman, serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
}

h1
{
font-size: 156%;
}

h2
{
font-size: 145%;
}

h3
{
font-size: 134%;
}

h4
{
font-size: 123%;
}

h5
{
font-size: 112%;
}

h6
{
font-size: 101%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(255,255,255);
color: rgb(0,0,0);
}

#trail a
{
text-decoration: underline;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
.menuitem		{display: inline;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

