body
{
background-color: rgb(255,255,255);
color: rgb(84,108,58);
font-family: Tahoma, sans-serif;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(84,108,58);
}

#content
{
font-size: 110%;
background-color: rgb(255,255,255);
color: rgb(0,0,0);
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 3px 3px 3px 3px;
border-color: rgb(0,0,0);
text-align: left;
}

#menu
{
background-color: rgb(0,0,0);
color: rgb(76,106,43);
font-family: Tahoma, sans-serif;
font-style: italic;
border-color: rgb(0,0,0);
}

a.menuitem
{
font-size: 140%;
background-color: rgb(0,0,0);
color: rgb(86,30,145);
font-variant: normal;
text-transform: capitalize;
font-weight: bold;
margin-left: 5px; margin-right: 5px; margin-top: 5px; margin-bottom: 5px;
border-left-width: 1px; border-right-width: 1px; border-top-width: 1px; border-bottom-width: 1px;
border-left-style: ridge; border-right-style: ridge; border-top-style: ridge; border-bottom-style: ridge;
border-color: rgb(76,106,43);
text-align: right;
}

#logo, #logo a
{
font-size: 179%;
background-color: rgb(0,0,0);
color: rgb(76,106,43);
font-family: Tahoma, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: uppercase;
font-weight: normal;
padding: 17px 17px 17px 17px;
border-color: rgb(84,108,58);
text-align: left;
}

#trail, #trail a
{
font-size: 98%;
background-color: rgb(86,30,145);
color: rgb(135,189,77);
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 20px 20px 20px 20px;
border-color: rgb(255,255,255);
text-align: right;
}

#content a
{
color: rgb(135,189,77);
text-decoration: underline;
}

#content a:hover, #content a:active
{
background-color: rgb(135,189,77);
color: rgb(255,255,255);
}

h1, h2, h3, h4, h5, h6
{
font-family: Tahoma, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
}

h1
{
font-size: 168%;
}

h2
{
font-size: 154%;
}

h3
{
font-size: 140%;
}

h4
{
font-size: 126%;
}

h5
{
font-size: 112%;
}

h6
{
font-size: 98%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(86,30,145);
color: rgb(0,0,0);
}

#trail a
{
text-decoration: underline;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
#menu		{width: 20%; position: relative; top: 0; right: 0; float: right; text-align: center;}
.menuitem		{width: auto;}
#content		{margin-right: 20%; width: auto}
.menuitem		{display: block;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

