body
{
background-color: rgb(0,0,0);
color: rgb(132,64,109);
font-family: Arial, Helvetica, sans-serif;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(141,38,193);
}

#content
{
font-size: 92%;
background-color: rgb(255,255,255);
color: rgb(0,0,0);
border-left-width: 10px; border-right-width: 10px; border-top-width: 10px; border-bottom-width: 10px;
border-left-style: outset; border-right-style: outset; border-top-style: outset; border-bottom-style: outset;
padding: 7px 7px 7px 7px;
border-color: rgb(0,0,0);
text-align: left;
}

#menu
{
background-color: rgb(255,255,255);
color: rgb(114,36,105);
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
border-color: rgb(141,38,193);
}

a.menuitem
{
font-size: 152%;
background-color: rgb(0,0,0);
color: rgb(255,255,255);
font-variant: normal;
text-transform: none;
font-weight: normal;
margin-left: 16px; margin-right: 16px; margin-top: 16px; margin-bottom: 16px;
border-left-width: 2px; border-right-width: 2px; border-top-width: 1px; border-bottom-width: 1px;
border-left-style: inset; border-right-style: inset; border-top-style: inset; border-bottom-style: inset;
border-color: rgb(0,0,0);
text-align: left;
}

#logo, #logo a
{
font-size: 181%;
background-color: rgb(0,0,0);
color: rgb(141,38,193);
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: bold;
padding: 12px 3px 8px 19px;
border-color: rgb(0,0,0);
text-align: right;
}

#trail, #trail a
{
font-size: 128%;
background-color: rgb(255,255,255);
color: rgb(209,67,130);
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 12px 12px 12px 12px;
border-color: rgb(0,0,0);
text-align: right;
}

#content a
{
color: rgb(132,64,109);
text-decoration: underline;
}

#content a:hover, #content a:active
{
background-color: rgb(132,64,109);
color: rgb(255,255,255);
}

h1, h2, h3, h4, h5, h6
{
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
}

h1
{
font-size: 131%;
}

h2
{
font-size: 118%;
}

h3
{
font-size: 105%;
}

h4
{
font-size: 92%;
}

h5
{
font-size: 79%;
}

h6
{
font-size: 66%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(255,255,255);
color: rgb(0,0,0);
}

#trail a
{
text-decoration: underline;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
#menu		{width: 20%; position: relative; top: 0; left: 0; float: left; text-align: center;}
.menuitem		{width: auto;}
#content		{margin-left: 20%; width: auto}
.menuitem		{display: block;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

