body
{
background-color: rgb(255,255,255);
color: rgb(63,198,186);
font-family: Verdana, Arial, Helvetica, sans-serif;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: solid; border-right-style: solid; border-top-style: solid; border-bottom-style: solid;
border-color: rgb(63,198,186);
}

#content
{
font-size: 97%;
background-color: rgb(255,255,255);
color: rgb(0,0,0);
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 6px 6px 6px 6px;
border-color: rgb(0,0,0);
text-align: left;
}

#menu
{
background-color: rgb(255,255,255);
color: rgb(63,198,186);
font-family: Arial, Helvetica, sans-serif;
font-style: italic;
border-color: rgb(153,220,214);
}

a.menuitem
{
font-size: 142%;
background-color: rgb(255,255,255);
color: rgb(30,65,62);
font-variant: normal;
text-transform: none;
font-weight: normal;
margin-left: 12px; margin-right: 12px; margin-top: 12px; margin-bottom: 12px;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(30,65,62);
text-align: left;
}

#logo, #logo a
{
font-size: 153%;
background-color: rgb(0,0,0);
color: rgb(153,220,214);
font-family: Verdana, Arial, Helvetica, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
padding: 3px 3px 3px 3px;
border-color: rgb(255,255,255);
text-align: left;
}

#trail, #trail a
{
font-size: 126%;
background-color: rgb(255,255,255);
color: rgb(131,171,167);
font-style: normal;
font-variant: small-caps;
text-transform: none;
font-weight: bold;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 20px 20px 20px 20px;
border-color: rgb(153,220,214);
text-align: center;
}

#content a
{
color: rgb(12,122,113);
text-decoration: underline;
}

#content a:hover, #content a:active
{
background-color: rgb(12,122,113);
color: rgb(255,255,255);
}

h1, h2, h3, h4, h5, h6
{
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
}

h1
{
font-size: 180%;
}

h2
{
font-size: 165%;
}

h3
{
font-size: 150%;
}

h4
{
font-size: 135%;
}

h5
{
font-size: 120%;
}

h6
{
font-size: 105%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(30,65,62);
color: rgb(255,255,255);
}

#trail a
{
text-decoration: underline;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
.menuitem		{display: inline;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

