body
{
background-color: rgb(88,172,138);
color: rgb(22,249,25);
font-family: Arial, Helvetica, sans-serif;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(77,215,66);
}

#content
{
font-size: 103%;
background-color: rgb(0,0,0);
color: rgb(32,175,85);
border-left-width: 3px; border-right-width: 3px; border-top-width: 3px; border-bottom-width: 3px;
border-left-style: inset; border-right-style: inset; border-top-style: inset; border-bottom-style: inset;
padding: 31px 31px 31px 31px;
border-color: rgb(0,0,0);
text-align: left;
}

#menu
{
background-color: rgb(0,0,0);
color: rgb(84,180,44);
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
border-color: rgb(22,249,25);
}

a.menuitem
{
font-size: 133%;
background-color: rgb(255,255,255);
color: rgb(29,152,47);
font-variant: normal;
text-transform: none;
font-weight: normal;
margin-left: 8px; margin-right: 8px; margin-top: 8px; margin-bottom: 8px;
border-left-width: 5px; border-right-width: 5px; border-top-width: 5px; border-bottom-width: 5px;
border-left-style: solid; border-right-style: solid; border-top-style: solid; border-bottom-style: solid;
border-color: rgb(22,249,25);
text-align: right;
}

#logo, #logo a
{
font-size: 177%;
background-color: rgb(0,0,0);
color: rgb(22,249,25);
font-family: Arial, Helvetica, sans-serif;
font-style: italic;
font-variant: small-caps;
text-transform: none;
font-weight: bold;
text-indent: 15;
padding: 14px 14px 14px 14px;
border-color: rgb(32,175,85);
text-align: left;
}

#trail, #trail a
{
font-size: 128%;
background-color: rgb(0,0,0);
color: rgb(29,152,47);
font-style: normal;
font-variant: small-caps;
text-transform: none;
font-weight: normal;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 12px 12px 12px 12px;
border-color: rgb(22,249,25);
text-align: center;
}

#content a
{
color: rgb(88,172,138);
text-decoration: underline;
}

#content a:hover, #content a:active
{
background-color: rgb(88,172,138);
color: rgb(0,0,0);
}

h1, h2, h3, h4, h5, h6
{
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
}

h1
{
font-size: 128%;
}

h2
{
font-size: 118%;
}

h3
{
font-size: 108%;
}

h4
{
font-size: 98%;
}

h5
{
font-size: 88%;
}

h6
{
font-size: 78%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(29,152,47);
color: rgb(255,255,255);
}

#trail a
{
text-decoration: underline;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
.menuitem		{display: inline;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

