body
{
background-color: rgb(255,255,255);
color: rgb(112,64,50);
font-family: Arial, Helvetica, sans-serif;
border-left-width: 0px; border-right-width: 0px; border-top-width: 16px; border-bottom-width: 16px;
border-left-style: none; border-right-style: none; border-top-style: solid; border-bottom-style: solid;
border-color: rgb(255,255,255);
}

#content
{
font-size: 113%;
background-color: rgb(129,34,54);
color: rgb(190,140,142);
border-left-width: 1px; border-right-width: 1px; border-top-width: 1px; border-bottom-width: 1px;
border-left-style: solid; border-right-style: solid; border-top-style: solid; border-bottom-style: solid;
padding: 50px 50px 50px 50px;
border-color: rgb(0,0,0);
text-align: left;
}

#menu
{
background-color: rgb(112,64,50);
color: rgb(179,138,155);
font-family: Arial, Helvetica, sans-serif;
font-style: italic;
border-color: rgb(200,58,56);
}

a.menuitem
{
font-size: 130%;
background-color: rgb(0,0,0);
color: rgb(129,34,54);
font-variant: normal;
text-transform: none;
font-weight: normal;
margin-left: 10px; margin-right: 10px; margin-top: 10px; margin-bottom: 10px;
border-left-width: 3px; border-right-width: 3px; border-top-width: 3px; border-bottom-width: 3px;
border-left-style: double; border-right-style: double; border-top-style: double; border-bottom-style: double;
border-color: rgb(255,255,255);
text-align: center;
}

#logo, #logo a
{
font-size: 197%;
background-color: rgb(0,0,0);
color: rgb(200,58,56);
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
padding: 17px 17px 17px 17px;
border-color: rgb(129,34,54);
text-align: left;
}

#trail, #trail a
{
font-size: 93%;
background-color: rgb(0,0,0);
color: rgb(129,34,54);
font-style: italic;
font-variant: normal;
text-transform: none;
font-weight: bold;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 0px 18px 0px 18px;
border-color: rgb(0,0,0);
text-align: left;
}

#content a
{
color: rgb(255,255,255);
text-decoration: underline;
}

#content a:hover, #content a:active
{
background-color: rgb(255,255,255);
color: rgb(129,34,54);
}

h1, h2, h3, h4, h5, h6
{
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
}

h1
{
font-size: 132%;
}

h2
{
font-size: 117%;
}

h3
{
font-size: 102%;
}

h4
{
font-size: 87%;
}

h5
{
font-size: 72%;
}

h6
{
font-size: 57%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(129,34,54);
color: rgb(0,0,0);
}

#trail a
{
text-decoration: underline;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
#menu		{width: 24%; position: relative; top: 0; left: 0; float: left; text-align: center;}
.menuitem		{width: auto;}
#content		{margin-left: 24%; width: auto}
.menuitem		{display: block;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

