body
{
background-color: rgb(13,13,102);
color: rgb(85,85,162);
font-family: Times New Roman, serif;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(13,13,102);
}

#content
{
font-size: 90%;
background-color: rgb(157,157,232);
color: rgb(255,255,255);
border-left-width: 1px; border-right-width: 1px; border-top-width: 1px; border-bottom-width: 1px;
border-left-style: groove; border-right-style: groove; border-top-style: groove; border-bottom-style: groove;
padding: 33px 33px 33px 33px;
border-color: rgb(0,0,0);
text-align: left;
}

#menu
{
background-color: rgb(90,90,229);
color: rgb(13,13,102);
font-family: Times New Roman, serif;
font-style: normal;
border-color: rgb(85,85,162);
}

a.menuitem
{
font-size: 136%;
background-color: rgb(90,90,229);
color: rgb(13,13,102);
font-variant: normal;
text-transform: none;
font-weight: normal;
margin-left: 8px; margin-right: 8px; margin-top: 8px; margin-bottom: 8px;
border-left-width: 5px; border-right-width: 5px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: inset; border-right-style: inset; border-top-style: none; border-bottom-style: none;
border-color: rgb(144,144,238);
text-align: right;
}

#logo, #logo a
{
font-size: 176%;
background-color: rgb(157,157,232);
color: rgb(13,13,102);
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: bold;
padding: 15px 15px 15px 15px;
border-color: rgb(90,90,229);
text-align: center;
}

#trail, #trail a
{
font-size: 110%;
background-color: rgb(0,0,0);
color: rgb(90,90,229);
font-style: normal;
font-variant: small-caps;
text-transform: none;
font-weight: normal;
border-left-width: 5px; border-right-width: 5px; border-top-width: 11px; border-bottom-width: 11px;
border-left-style: solid; border-right-style: solid; border-top-style: solid; border-bottom-style: solid;
padding: 0px 0px 0px 0px;
border-color: rgb(242,242,149);
text-align: center;
}

#content a
{
color: rgb(0,0,0);
text-decoration: underline;
}

#content a:hover, #content a:active
{
background-color: rgb(0,0,0);
color: rgb(157,157,232);
}

h1, h2, h3, h4, h5, h6
{
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-variant: small-caps;
text-transform: none;
font-weight: normal;
}

h1
{
font-size: 162%;
}

h2
{
font-size: 147%;
}

h3
{
font-size: 132%;
}

h4
{
font-size: 117%;
}

h5
{
font-size: 102%;
}

h6
{
font-size: 87%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(13,13,102);
color: rgb(90,90,229);
}

#trail a
{
text-decoration: underline;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
.menuitem		{display: inline;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

