body
{
background-color: rgb(0,0,0);
color: rgb(182,201,123);
font-family: Arial, Helvetica, sans-serif;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: double; border-right-style: double; border-top-style: double; border-bottom-style: double;
border-color: rgb(169,213,34);
}

#content
{
font-size: 94%;
background-color: rgb(255,255,255);
color: rgb(0,0,0);
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 23px 8px 23px 8px;
border-color: rgb(0,0,0);
text-align: left;
}

#menu
{
background-color: rgb(173,193,113);
color: rgb(48,54,28);
font-family: Georgia, serif;
font-style: normal;
border-color: rgb(173,193,113);
}

a.menuitem
{
font-size: 156%;
background-color: rgb(0,0,0);
color: rgb(235,242,215);
font-variant: normal;
text-transform: none;
font-weight: normal;
margin-left: 5px; margin-right: 5px; margin-top: 5px; margin-bottom: 5px;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(182,201,123);
text-align: left;
}

#logo, #logo a
{
font-size: 169%;
background-color: rgb(0,0,0);
color: rgb(182,201,123);
font-family: Georgia, serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
padding: 1px 1px 1px 1px;
border-color: rgb(173,193,113);
text-align: left;
}

#trail, #trail a
{
font-size: 126%;
background-color: rgb(255,255,255);
color: rgb(173,193,113);
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: bold;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 5px 5px 5px 5px;
border-color: rgb(169,213,34);
text-align: left;
}

#content a
{
color: rgb(173,193,113);
text-decoration: underline;
}

#content a:hover, #content a:active
{
background-color: rgb(173,193,113);
color: rgb(255,255,255);
}

h1, h2, h3, h4, h5, h6
{
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: bold;
}

h1
{
font-size: 120%;
}

h2
{
font-size: 110%;
}

h3
{
font-size: 100%;
}

h4
{
font-size: 90%;
}

h5
{
font-size: 80%;
}

h6
{
font-size: 70%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(235,242,215);
color: rgb(0,0,0);
}

#trail a
{
text-decoration: underline;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
#menu		{width: 22%; position: relative; top: 0; left: 0; float: left; text-align: center;}
.menuitem		{width: auto;}
#content		{margin-left: 22%; width: auto}
.menuitem		{display: block;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

