body
{
background-color: rgb(0,0,0);
color: rgb(186,141,143);
font-family: Verdana, Arial, Helvetica, sans-serif;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(0,0,0);
}

#content
{
font-size: 93%;
background-color: rgb(255,255,255);
color: rgb(0,0,0);
border-left-width: 1px; border-right-width: 1px; border-top-width: 1px; border-bottom-width: 1px;
border-left-style: solid; border-right-style: solid; border-top-style: solid; border-bottom-style: solid;
padding: 36px 36px 36px 36px;
border-color: rgb(0,0,0);
text-align: left;
}

#menu
{
background-color: rgb(224,184,158);
color: rgb(94,58,57);
font-family: Verdana, Arial, Helvetica, sans-serif;
font-style: normal;
border-color: rgb(0,0,0);
}

a.menuitem
{
font-size: 156%;
background-color: rgb(0,0,0);
color: rgb(164,142,107);
font-variant: small-caps;
text-transform: none;
font-weight: normal;
margin-left: 10px; margin-right: 10px; margin-top: 10px; margin-bottom: 10px;
border-left-width: 1px; border-right-width: 1px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: solid; border-right-style: solid; border-top-style: none; border-bottom-style: none;
border-color: rgb(156,100,89);
text-align: center;
}

#logo, #logo a
{
font-size: 155%;
background-color: rgb(0,0,0);
color: rgb(94,58,57);
font-family: Trebuchet MS, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: bold;
padding: 10px 10px 10px 10px;
border-color: rgb(0,0,0);
text-align: right;
}

#trail, #trail a
{
font-size: 98%;
background-color: rgb(186,141,143);
color: rgb(94,58,57);
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: bold;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 13px 13px 13px 13px;
border-color: rgb(0,0,0);
text-align: center;
}

#content a
{
color: rgb(207,118,142);
text-decoration: none;
}

#content a:hover, #content a:active
{
background-color: rgb(207,118,142);
color: rgb(255,255,255);
}

h1, h2, h3, h4, h5, h6
{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
}

h1
{
font-size: 146%;
}

h2
{
font-size: 133%;
}

h3
{
font-size: 120%;
}

h4
{
font-size: 107%;
}

h5
{
font-size: 94%;
}

h6
{
font-size: 81%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(164,142,107);
color: rgb(0,0,0);
}

#trail a
{
text-decoration: none;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
#menu		{width: 21%; position: relative; top: 0; left: 0; float: left; text-align: center;}
.menuitem		{width: auto;}
#content		{margin-left: 21%; width: auto}
.menuitem		{display: block;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

