body
{
background-color: rgb(0,0,0);
color: rgb(98,28,80);
font-family: Courier New, Courier, monospace;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(255,255,255);
}

#content
{
font-size: 112%;
background-color: rgb(165,115,153);
color: rgb(255,255,255);
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 31px 31px 31px 31px;
border-color: rgb(0,0,0);
text-align: left;
}

#menu
{
background-color: rgb(221,198,215);
color: rgb(98,28,80);
font-family: Georgia, serif;
font-style: italic;
border-color: rgb(165,115,153);
}

a.menuitem
{
font-size: 160%;
background-color: rgb(0,0,0);
color: rgb(98,28,80);
font-variant: normal;
text-transform: none;
font-weight: bold;
margin-left: 11px; margin-right: 11px; margin-top: 11px; margin-bottom: 11px;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(221,198,215);
text-align: right;
}

#logo, #logo a
{
font-size: 181%;
background-color: rgb(221,198,215);
color: rgb(226,8,171);
font-family: Georgia, serif;
font-style: italic;
font-variant: small-caps;
text-transform: none;
font-weight: bold;
padding: 16px 16px 16px 16px;
border-color: rgb(111,56,97);
text-align: right;
}

#trail, #trail a
{
font-size: 96%;
background-color: rgb(255,255,255);
color: rgb(226,8,171);
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 11px 11px 11px 11px;
border-color: rgb(221,198,215);
text-align: right;
}

#content a
{
color: rgb(0,0,0);
text-decoration: underline;
}

#content a:hover, #content a:active
{
background-color: rgb(0,0,0);
color: rgb(165,115,153);
}

h1, h2, h3, h4, h5, h6
{
font-family: Courier New, Courier, monospace;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
}

h1
{
font-size: 149%;
}

h2
{
font-size: 140%;
}

h3
{
font-size: 131%;
}

h4
{
font-size: 122%;
}

h5
{
font-size: 113%;
}

h6
{
font-size: 104%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(98,28,80);
color: rgb(0,0,0);
}

#trail a
{
text-decoration: underline;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
#menu		{width: 25%; position: relative; top: 0; left: 0; float: left; text-align: center;}
.menuitem		{width: auto;}
#content		{margin-left: 25%; width: auto}
.menuitem		{display: block;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

