body
{
background-color: rgb(0,0,0);
color: rgb(155,175,56);
font-family: Trebuchet MS, sans-serif;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: solid; border-right-style: solid; border-top-style: solid; border-bottom-style: solid;
border-color: rgb(197,161,34);
}

#content
{
font-size: 115%;
background-color: rgb(0,0,0);
color: rgb(155,175,56);
border-left-width: 12px; border-right-width: 12px; border-top-width: 12px; border-bottom-width: 12px;
border-left-style: groove; border-right-style: groove; border-top-style: groove; border-bottom-style: groove;
padding: 24px 24px 24px 24px;
border-color: rgb(0,0,0);
text-align: left;
}

#menu
{
background-color: rgb(76,95,46);
color: rgb(220,164,109);
font-family: Arial, Helvetica, sans-serif;
font-style: italic;
border-color: rgb(0,0,0);
}

a.menuitem
{
font-size: 138%;
background-color: rgb(0,0,0);
color: rgb(197,161,34);
font-variant: normal;
text-transform: none;
font-weight: bold;
margin-left: 7px; margin-right: 7px; margin-top: 7px; margin-bottom: 7px;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(197,161,34);
text-align: center;
}

#logo, #logo a
{
font-size: 162%;
background-color: rgb(255,255,255);
color: rgb(164,137,70);
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
padding: 16px 16px 16px 16px;
border-color: rgb(219,211,90);
text-align: center;
}

#trail, #trail a
{
font-size: 122%;
background-color: rgb(0,0,0);
color: rgb(76,95,46);
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: bold;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 5px 5px 5px 5px;
border-color: rgb(255,255,255);
text-align: right;
}

#content a
{
color: rgb(164,137,70);
text-decoration: underline;
}

#content a:hover, #content a:active
{
background-color: rgb(164,137,70);
color: rgb(0,0,0);
}

h1, h2, h3, h4, h5, h6
{
font-family: Trebuchet MS, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
}

h1
{
font-size: 173%;
}

h2
{
font-size: 158%;
}

h3
{
font-size: 143%;
}

h4
{
font-size: 128%;
}

h5
{
font-size: 113%;
}

h6
{
font-size: 98%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(197,161,34);
color: rgb(0,0,0);
}

#trail a
{
text-decoration: underline;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
.menuitem		{display: inline;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

