body
{
background-color: rgb(100,57,88);
color: rgb(202,155,233);
font-family: Times New Roman, serif;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(195,76,219);
}

#content
{
font-size: 100%;
background-color: rgb(149,82,154);
color: rgb(255,255,255);
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 42px 42px 42px 42px;
border-color: rgb(0,0,0);
text-align: left;
}

#menu
{
background-color: rgb(87,28,58);
color: rgb(195,76,219);
font-family: Tahoma, sans-serif;
font-style: normal;
border-color: rgb(202,155,233);
}

a.menuitem
{
font-size: 156%;
background-color: rgb(255,255,255);
color: rgb(195,76,219);
font-variant: normal;
text-transform: none;
font-weight: normal;
margin-left: 6px; margin-right: 6px; margin-top: 6px; margin-bottom: 6px;
border-left-width: 1px; border-right-width: 1px; border-top-width: 1px; border-bottom-width: 1px;
border-left-style: solid; border-right-style: solid; border-top-style: solid; border-bottom-style: solid;
border-color: rgb(202,155,233);
text-align: right;
}

#logo, #logo a
{
font-size: 175%;
background-color: rgb(91,26,87);
color: rgb(195,76,219);
font-family: Times New Roman, serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
padding: 4px 4px 4px 4px;
border-color: rgb(0,0,0);
text-align: left;
}

#trail, #trail a
{
font-size: 121%;
background-color: rgb(91,26,87);
color: rgb(202,155,233);
font-style: normal;
font-variant: normal;
text-transform: uppercase;
font-weight: normal;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 11px 11px 11px 11px;
border-color: rgb(100,57,88);
text-align: left;
}

#content a
{
color: rgb(0,0,0);
text-decoration: none;
}

#content a:hover, #content a:active
{
background-color: rgb(0,0,0);
color: rgb(149,82,154);
}

h1, h2, h3, h4, h5, h6
{
font-family: Times New Roman, serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
}

h1
{
font-size: 165%;
}

h2
{
font-size: 156%;
}

h3
{
font-size: 147%;
}

h4
{
font-size: 138%;
}

h5
{
font-size: 129%;
}

h6
{
font-size: 120%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(195,76,219);
color: rgb(255,255,255);
}

#trail a
{
text-decoration: none;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
#menu		{width: 25%; position: relative; top: 0; left: 0; float: left; text-align: center;}
.menuitem		{width: auto;}
#content		{margin-left: 25%; width: auto}
.menuitem		{display: block;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

