body
{
background-color: rgb(0,0,0);
color: rgb(255,255,255);
font-family: Arial, Helvetica, sans-serif;
border-left-width: 12px; border-right-width: 12px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: ridge; border-right-style: ridge; border-top-style: none; border-bottom-style: none;
border-color: rgb(143,183,139);
}

#content
{
font-size: 98%;
background-color: rgb(255,255,255);
color: rgb(0,0,0);
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 15px 15px 15px 15px;
border-color: rgb(0,0,0);
text-align: justify;
}

#menu
{
background-color: rgb(145,202,152);
color: rgb(73,108,57);
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
border-color: rgb(145,202,152);
}

a.menuitem
{
font-size: 146%;
background-color: rgb(210,228,151);
color: rgb(107,226,24);
font-variant: normal;
text-transform: none;
font-weight: normal;
margin-left: 17px; margin-right: 17px; margin-top: 17px; margin-bottom: 17px;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(137,175,92);
text-align: left;
}

#logo, #logo a
{
font-size: 179%;
background-color: rgb(0,0,0);
color: rgb(255,255,255);
font-family: Georgia, serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: bold;
padding: 18px 18px 18px 18px;
border-color: rgb(143,183,139);
text-align: center;
}

#trail, #trail a
{
font-size: 104%;
background-color: rgb(145,202,152);
color: rgb(73,108,57);
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 2px 2px 2px 2px;
border-color: rgb(145,202,152);
text-align: right;
}

#content a
{
color: rgb(145,202,152);
text-decoration: underline;
}

#content a:hover, #content a:active
{
background-color: rgb(145,202,152);
color: rgb(255,255,255);
}

h1, h2, h3, h4, h5, h6
{
font-family: Georgia, serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: bold;
}

h1
{
font-size: 121%;
}

h2
{
font-size: 106%;
}

h3
{
font-size: 91%;
}

h4
{
font-size: 76%;
}

h5
{
font-size: 61%;
}

h6
{
font-size: 46%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(107,226,24);
color: rgb(210,228,151);
}

#trail a
{
text-decoration: none;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
#menu		{width: 29%; position: relative; top: 0; right: 0; float: right; text-align: center;}
.menuitem		{width: auto;}
#content		{margin-right: 29%; width: auto}
.menuitem		{display: block;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

