body
{
background-color: rgb(234,129,160);
color: rgb(96,52,65);
font-family: Arial, Helvetica, sans-serif;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(0,0,0);
}

#content
{
font-size: 104%;
background-color: rgb(234,129,160);
color: rgb(255,255,255);
border-left-width: 10px; border-right-width: 1px; border-top-width: 12px; border-bottom-width: 1px;
border-left-style: ridge; border-right-style: ridge; border-top-style: ridge; border-bottom-style: ridge;
padding: 46px 46px 46px 46px;
border-color: rgb(0,0,0);
text-align: left;
}

#menu
{
background-color: rgb(169,132,143);
color: rgb(96,52,65);
font-family: Arial, Helvetica, sans-serif;
font-style: italic;
border-color: rgb(96,52,65);
}

a.menuitem
{
font-size: 134%;
background-color: rgb(255,255,255);
color: rgb(239,127,160);
font-variant: normal;
text-transform: uppercase;
font-weight: bold;
margin-left: 8px; margin-right: 8px; margin-top: 8px; margin-bottom: 8px;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(96,52,65);
text-align: right;
}

#logo, #logo a
{
font-size: 156%;
background-color: rgb(0,0,0);
color: rgb(239,127,160);
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
padding: 16px 16px 16px 16px;
border-color: rgb(123,82,94);
text-align: right;
}

#trail, #trail a
{
font-size: 127%;
background-color: rgb(255,255,255);
color: rgb(123,82,94);
font-style: italic;
font-variant: normal;
text-transform: none;
font-weight: normal;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 1px 8px 1px 8px;
border-color: rgb(255,255,255);
text-align: left;
}

#content a
{
color: rgb(123,82,94);
text-decoration: none;
}

#content a:hover, #content a:active
{
background-color: rgb(123,82,94);
color: rgb(234,129,160);
}

h1, h2, h3, h4, h5, h6
{
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: uppercase;
font-weight: normal;
}

h1
{
font-size: 137%;
}

h2
{
font-size: 126%;
}

h3
{
font-size: 115%;
}

h4
{
font-size: 104%;
}

h5
{
font-size: 93%;
}

h6
{
font-size: 82%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(239,127,160);
color: rgb(255,255,255);
}

#trail a
{
text-decoration: none;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
.menuitem		{display: inline;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

