body
{
background-color: rgb(255,255,255);
color: rgb(45,88,43);
font-family: Arial, Helvetica, sans-serif;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(103,167,80);
}

#content
{
font-size: 112%;
background-color: rgb(255,255,255);
color: rgb(215,225,69);
border-left-width: 0px; border-right-width: 0px; border-top-width: 1px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: solid; border-bottom-style: none;
padding: 20px 2px 20px 2px;
border-color: rgb(0,0,0);
text-align: left;
}

#menu
{
background-color: rgb(255,255,255);
color: rgb(103,167,80);
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
border-color: rgb(0,0,0);
}

a.menuitem
{
font-size: 138%;
background-color: rgb(0,0,0);
color: rgb(103,167,80);
font-variant: small-caps;
text-transform: none;
font-weight: normal;
margin-left: 9px; margin-right: 9px; margin-top: 3px; margin-bottom: 3px;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(255,255,255);
text-align: right;
}

#logo, #logo a
{
font-size: 166%;
background-color: rgb(0,0,0);
color: rgb(126,162,90);
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
text-indent: 38;
padding: 9px 11px 9px 11px;
border-color: rgb(45,88,43);
text-align: left;
}

#trail, #trail a
{
font-size: 119%;
background-color: rgb(255,255,255);
color: rgb(126,162,90);
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 5px 20px 5px 20px;
border-color: rgb(137,166,109);
text-align: right;
}

#content a
{
color: rgb(45,88,43);
text-decoration: none;
}

#content a:hover, #content a:active
{
background-color: rgb(45,88,43);
color: rgb(255,255,255);
}

h1, h2, h3, h4, h5, h6
{
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
}

h1
{
font-size: 126%;
}

h2
{
font-size: 115%;
}

h3
{
font-size: 104%;
}

h4
{
font-size: 93%;
}

h5
{
font-size: 82%;
}

h6
{
font-size: 71%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(103,167,80);
color: rgb(0,0,0);
}

#trail a
{
text-decoration: none;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
#menu		{width: 23%; position: relative; top: 0; left: 0; float: left; text-align: center;}
.menuitem		{width: auto;}
#content		{margin-left: 23%; width: auto}
.menuitem		{display: block;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

