body
{
background-color: rgb(255,255,255);
color: rgb(62,186,109);
font-family: Courier New, Courier, monospace;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(255,255,255);
}

#content
{
font-size: 120%;
background-color: rgb(255,255,255);
color: rgb(0,0,0);
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 43px 30px 43px 30px;
border-color: rgb(0,0,0);
text-align: left;
}

#menu
{
background-color: rgb(0,0,0);
color: rgb(126,187,149);
font-family: Times New Roman, serif;
font-style: normal;
border-color: rgb(126,187,149);
}

a.menuitem
{
font-size: 129%;
background-color: rgb(0,0,0);
color: rgb(126,187,149);
font-variant: normal;
text-transform: none;
font-weight: bold;
margin-left: 18px; margin-right: 18px; margin-top: 18px; margin-bottom: 18px;
border-left-width: 9px; border-right-width: 9px; border-top-width: 9px; border-bottom-width: 9px;
border-left-style: inset; border-right-style: inset; border-top-style: inset; border-bottom-style: inset;
border-color: rgb(62,186,109);
text-align: right;
}

#logo, #logo a
{
font-size: 191%;
background-color: rgb(0,0,0);
color: rgb(62,186,109);
font-family: Times New Roman, serif;
font-style: italic;
font-variant: normal;
text-transform: none;
font-weight: normal;
padding: 13px 13px 13px 13px;
border-color: rgb(24,138,67);
text-align: center;
}

#trail, #trail a
{
font-size: 115%;
background-color: rgb(126,187,149);
color: rgb(24,138,67);
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: bold;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 18px 18px 18px 18px;
border-color: rgb(54,106,74);
text-align: right;
}

#content a
{
color: rgb(24,138,67);
text-decoration: none;
}

#content a:hover, #content a:active
{
background-color: rgb(24,138,67);
color: rgb(255,255,255);
}

h1, h2, h3, h4, h5, h6
{
font-family: Courier New, Courier, monospace;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
}

h1
{
font-size: 140%;
}

h2
{
font-size: 128%;
}

h3
{
font-size: 116%;
}

h4
{
font-size: 104%;
}

h5
{
font-size: 92%;
}

h6
{
font-size: 80%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(126,187,149);
color: rgb(0,0,0);
}

#trail a
{
text-decoration: none;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
#menu		{width: 23%; position: relative; top: 0; right: 0; float: right; text-align: center;}
.menuitem		{width: auto;}
#content		{margin-right: 23%; width: auto}
.menuitem		{display: block;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

