body
{
background-color: rgb(0,0,0);
color: rgb(189,164,188);
font-family: Verdana, Arial, Helvetica, sans-serif;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(255,255,255);
}

#content
{
font-size: 90%;
background-color: rgb(114,61,149);
color: rgb(189,164,188);
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 9px 9px 9px 9px;
border-color: rgb(0,0,0);
text-align: left;
}

#menu
{
background-color: rgb(255,255,255);
color: rgb(81,31,79);
font-family: Verdana, Arial, Helvetica, sans-serif;
font-style: normal;
border-color: rgb(227,125,200);
}

a.menuitem
{
font-size: 142%;
background-color: rgb(227,125,200);
color: rgb(81,31,79);
font-variant: normal;
text-transform: none;
font-weight: normal;
margin-left: 7px; margin-right: 7px; margin-top: 7px; margin-bottom: 7px;
border-left-width: 1px; border-right-width: 1px; border-top-width: 1px; border-bottom-width: 1px;
border-left-style: dotted; border-right-style: dotted; border-top-style: dotted; border-bottom-style: dotted;
border-color: rgb(0,0,0);
text-align: center;
}

#logo, #logo a
{
font-size: 162%;
background-color: rgb(255,255,255);
color: rgb(81,31,79);
font-family: Verdana, Arial, Helvetica, sans-serif;
font-style: italic;
font-variant: normal;
text-transform: none;
font-weight: bold;
padding: 6px 6px 6px 6px;
border-color: rgb(198,62,226);
text-align: right;
}

#trail, #trail a
{
font-size: 102%;
background-color: rgb(227,125,200);
color: rgb(114,61,149);
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 0px 0px 0px 0px;
border-color: rgb(198,62,226);
text-align: left;
}

#content a
{
color: rgb(255,255,255);
text-decoration: underline;
}

#content a:hover, #content a:active
{
background-color: rgb(255,255,255);
color: rgb(114,61,149);
}

h1, h2, h3, h4, h5, h6
{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: uppercase;
font-weight: bold;
}

h1
{
font-size: 152%;
}

h2
{
font-size: 139%;
}

h3
{
font-size: 126%;
}

h4
{
font-size: 113%;
}

h5
{
font-size: 100%;
}

h6
{
font-size: 87%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(81,31,79);
color: rgb(227,125,200);
}

#trail a
{
text-decoration: underline;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
#menu		{width: 23%; position: relative; top: 0; right: 0; float: right; text-align: center;}
.menuitem		{width: auto;}
#content		{margin-right: 23%; width: auto}
.menuitem		{display: block;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

