body
{
background-color: rgb(24,143,125);
color: rgb(115,34,47);
font-family: Trebuchet MS, sans-serif;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(115,34,47);
}

#content
{
font-size: 109%;
background-color: rgb(222,71,94);
color: rgb(255,255,255);
border-left-width: 1px; border-right-width: 1px; border-top-width: 1px; border-bottom-width: 1px;
border-left-style: solid; border-right-style: solid; border-top-style: solid; border-bottom-style: solid;
padding: 2px 2px 2px 2px;
border-color: rgb(0,0,0);
text-align: left;
}

#menu
{
background-color: rgb(255,255,255);
color: rgb(141,73,83);
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
border-color: rgb(0,0,0);
}

a.menuitem
{
font-size: 160%;
background-color: rgb(222,71,94);
color: rgb(24,143,125);
font-variant: normal;
text-transform: none;
font-weight: bold;
margin-left: 5px; margin-right: 5px; margin-top: 5px; margin-bottom: 5px;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(115,34,47);
text-align: right;
}

#logo, #logo a
{
font-size: 175%;
background-color: rgb(255,255,255);
color: rgb(24,143,125);
font-family: Trebuchet MS, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
padding: 8px 7px 8px 7px;
border-color: rgb(141,73,83);
text-align: right;
}

#trail, #trail a
{
font-size: 115%;
background-color: rgb(255,255,255);
color: rgb(16,117,102);
font-style: italic;
font-variant: normal;
text-transform: none;
font-weight: normal;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 20px 13px 20px 13px;
border-color: rgb(24,143,125);
text-align: left;
}

#content a
{
color: rgb(16,117,102);
text-decoration: none;
}

#content a:hover, #content a:active
{
background-color: rgb(16,117,102);
color: rgb(222,71,94);
}

h1, h2, h3, h4, h5, h6
{
font-family: Trebuchet MS, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: bold;
}

h1
{
font-size: 155%;
}

h2
{
font-size: 143%;
}

h3
{
font-size: 131%;
}

h4
{
font-size: 119%;
}

h5
{
font-size: 107%;
}

h6
{
font-size: 95%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(24,143,125);
color: rgb(222,71,94);
}

#trail a
{
text-decoration: none;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
.menuitem		{display: inline;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

