body
{
background-color: rgb(174,206,216);
color: rgb(30,107,107);
font-family: Arial, Helvetica, sans-serif;
border-left-width: 2px; border-right-width: 2px; border-top-width: 2px; border-bottom-width: 2px;
border-left-style: outset; border-right-style: outset; border-top-style: outset; border-bottom-style: outset;
border-color: rgb(30,107,107);
}

#content
{
font-size: 113%;
background-color: rgb(255,255,255);
color: rgb(0,0,0);
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 19px 19px 19px 19px;
border-color: rgb(0,0,0);
text-align: left;
}

#menu
{
background-color: rgb(0,0,0);
color: rgb(45,90,180);
font-family: Courier New, Courier, monospace;
font-style: normal;
border-color: rgb(174,206,216);
}

a.menuitem
{
font-size: 143%;
background-color: rgb(255,255,255);
color: rgb(164,181,195);
font-variant: normal;
text-transform: uppercase;
font-weight: normal;
margin-left: 7px; margin-right: 7px; margin-top: 7px; margin-bottom: 7px;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(26,38,144);
text-align: right;
}

#logo, #logo a
{
font-size: 183%;
background-color: rgb(0,0,0);
color: rgb(30,107,107);
font-family: Times New Roman, serif;
font-style: italic;
font-variant: normal;
text-transform: none;
font-weight: normal;
padding: 7px 4px 7px 4px;
border-color: rgb(174,206,216);
text-align: left;
}

#trail, #trail a
{
font-size: 108%;
background-color: rgb(255,255,255);
color: rgb(45,90,180);
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 7px 7px 7px 7px;
border-color: rgb(174,206,216);
text-align: left;
}

#content a
{
color: rgb(45,90,180);
text-decoration: underline;
}

#content a:hover, #content a:active
{
background-color: rgb(45,90,180);
color: rgb(255,255,255);
}

h1, h2, h3, h4, h5, h6
{
font-family: Times New Roman, serif;
font-style: normal;
font-variant: normal;
text-transform: capitalize;
font-weight: bold;
}

h1
{
font-size: 135%;
}

h2
{
font-size: 125%;
}

h3
{
font-size: 115%;
}

h4
{
font-size: 105%;
}

h5
{
font-size: 95%;
}

h6
{
font-size: 85%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(164,181,195);
color: rgb(255,255,255);
}

#trail a
{
text-decoration: none;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
#menu		{width: 25%; position: relative; top: 0; right: 0; float: right; text-align: center;}
.menuitem		{width: auto;}
#content		{margin-right: 25%; width: auto}
.menuitem		{display: block;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

