body
{
background-color: rgb(170,185,202);
color: rgb(25,56,91);
font-family: Arial, Helvetica, sans-serif;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(0,0,0);
}

#content
{
font-size: 100%;
background-color: rgb(255,255,255);
color: rgb(54,115,184);
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 33px 33px 33px 33px;
border-color: rgb(0,0,0);
text-align: left;
}

#menu
{
background-color: rgb(255,255,255);
color: rgb(25,56,91);
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
text-indent: 44;
border-color: rgb(55,87,123);
}

a.menuitem
{
font-size: 152%;
background-color: rgb(25,56,91);
color: rgb(123,153,187);
font-variant: small-caps;
text-transform: none;
font-weight: bold;
margin-left: 9px; margin-right: 9px; margin-top: 9px; margin-bottom: 9px;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(54,115,184);
text-align: right;
}

#logo, #logo a
{
font-size: 161%;
background-color: rgb(57,90,128);
color: rgb(170,185,202);
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
padding: 4px 4px 4px 4px;
border-color: rgb(170,185,202);
text-align: right;
}

#trail, #trail a
{
font-size: 109%;
background-color: rgb(25,56,91);
color: rgb(123,153,187);
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: bold;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 18px 18px 18px 18px;
border-color: rgb(54,115,184);
text-align: right;
}

#content a
{
color: rgb(25,56,91);
text-decoration: underline oveline;
}

#content a:hover, #content a:active
{
background-color: rgb(25,56,91);
color: rgb(255,255,255);
}

h1, h2, h3, h4, h5, h6
{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: bold;
}

h1
{
font-size: 170%;
}

h2
{
font-size: 159%;
}

h3
{
font-size: 148%;
}

h4
{
font-size: 137%;
}

h5
{
font-size: 126%;
}

h6
{
font-size: 115%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(123,153,187);
color: rgb(25,56,91);
}

#trail a
{
text-decoration: underline oveline;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
#menu		{width: 24%; position: relative; top: 0; left: 0; float: left; text-align: center;}
.menuitem		{width: auto;}
#content		{margin-left: 24%; width: auto}
.menuitem		{display: block;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

