body
{
background-color: rgb(0,0,0);
color: rgb(183,247,185);
font-family: Arial, Helvetica, sans-serif;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: dashed; border-right-style: dashed; border-top-style: outset; border-bottom-style: outset;
border-color: rgb(45,192,49);
}

#content
{
font-size: 92%;
background-color: rgb(59,168,62);
color: rgb(255,255,255);
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 43px 2px 43px 2px;
border-color: rgb(0,0,0);
text-align: justify;
}

#menu
{
background-color: rgb(255,255,255);
color: rgb(22,223,28);
font-family: Verdana, Arial, Helvetica, sans-serif;
font-style: normal;
border-color: rgb(70,170,73);
}

a.menuitem
{
font-size: 148%;
background-color: rgb(22,223,28);
color: rgb(183,247,185);
font-variant: normal;
text-transform: none;
font-weight: normal;
margin-left: 9px; margin-right: 9px; margin-top: 9px; margin-bottom: 9px;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(255,255,255);
text-align: left;
}

#logo, #logo a
{
font-size: 156%;
background-color: rgb(0,0,0);
color: rgb(59,168,62);
font-family: Verdana, Arial, Helvetica, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
padding: 14px 14px 14px 14px;
border-color: rgb(0,0,0);
text-align: right;
}

#trail, #trail a
{
font-size: 122%;
background-color: rgb(183,247,185);
color: rgb(45,192,49);
font-style: normal;
font-variant: normal;
text-transform: uppercase;
font-weight: normal;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 10px 10px 10px 10px;
border-color: rgb(59,168,62);
text-align: center;
}

#content a
{
color: rgb(183,247,185);
text-decoration: underline;
}

#content a:hover, #content a:active
{
background-color: rgb(183,247,185);
color: rgb(59,168,62);
}

h1, h2, h3, h4, h5, h6
{
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
}

h1
{
font-size: 134%;
}

h2
{
font-size: 121%;
}

h3
{
font-size: 108%;
}

h4
{
font-size: 95%;
}

h5
{
font-size: 82%;
}

h6
{
font-size: 69%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(183,247,185);
color: rgb(22,223,28);
}

#trail a
{
text-decoration: none;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
#menu		{width: 26%; position: relative; top: 0; left: 0; float: left; text-align: center;}
.menuitem		{width: auto;}
#content		{margin-left: 26%; width: auto}
.menuitem		{display: block;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

