body
{
background-color: rgb(94,212,140);
color: rgb(14,74,37);
font-family: Georgia, serif;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(14,58,31);
}

#content
{
font-size: 112%;
background-color: rgb(255,255,255);
color: rgb(0,0,0);
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 19px 19px 19px 19px;
border-color: rgb(0,0,0);
text-align: justify;
}

#menu
{
background-color: rgb(0,0,0);
color: rgb(94,212,140);
font-family: Georgia, serif;
font-style: normal;
border-color: rgb(0,0,0);
}

a.menuitem
{
font-size: 153%;
background-color: rgb(255,255,255);
color: rgb(94,212,140);
font-variant: normal;
text-transform: none;
font-weight: normal;
margin-left: 3px; margin-right: 3px; margin-top: 3px; margin-bottom: 3px;
border-left-width: 8px; border-right-width: 8px; border-top-width: 8px; border-bottom-width: 8px;
border-left-style: solid; border-right-style: solid; border-top-style: solid; border-bottom-style: solid;
border-color: rgb(94,212,140);
text-align: left;
}

#logo, #logo a
{
font-size: 152%;
background-color: rgb(0,0,0);
color: rgb(94,212,140);
font-family: Georgia, serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
padding: 10px 10px 10px 10px;
border-color: rgb(255,255,255);
text-align: right;
}

#trail, #trail a
{
font-size: 123%;
background-color: rgb(0,0,0);
color: rgb(255,255,255);
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: bold;
text-indent: 14;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 0px 0px 0px 0px;
border-color: rgb(174,232,197);
text-align: right;
}

#content a
{
color: rgb(122,174,142);
text-decoration: none;
}

#content a:hover, #content a:active
{
background-color: rgb(122,174,142);
color: rgb(255,255,255);
}

h1, h2, h3, h4, h5, h6
{
font-family: Trebuchet MS, sans-serif;
font-style: normal;
font-variant: small-caps;
text-transform: none;
font-weight: normal;
}

h1
{
font-size: 132%;
}

h2
{
font-size: 123%;
}

h3
{
font-size: 114%;
}

h4
{
font-size: 105%;
}

h5
{
font-size: 96%;
}

h6
{
font-size: 87%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(94,212,140);
color: rgb(255,255,255);
}

#trail a
{
text-decoration: none;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
#menu		{width: 26%; position: relative; top: 0; right: 0; float: right; text-align: center;}
.menuitem		{width: auto;}
#content		{margin-right: 26%; width: auto}
.menuitem		{display: block;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

