body
{
background-color: rgb(0,0,0);
color: rgb(127,139,198);
font-family: Trebuchet MS, sans-serif;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(79,67,112);
}

#content
{
font-size: 102%;
background-color: rgb(255,255,255);
color: rgb(80,73,231);
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 40px 40px 40px 40px;
border-color: rgb(0,0,0);
text-align: left;
}

#menu
{
background-color: rgb(0,0,0);
color: rgb(80,73,231);
font-family: Trebuchet MS, sans-serif;
font-style: normal;
border-color: rgb(36,39,199);
}

a.menuitem
{
font-size: 156%;
background-color: rgb(0,0,0);
color: rgb(127,139,198);
font-variant: normal;
text-transform: capitalize;
font-weight: bold;
margin-left: 18px; margin-right: 18px; margin-top: 18px; margin-bottom: 18px;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(164,183,212);
text-align: left;
}

#logo, #logo a
{
font-size: 194%;
background-color: rgb(79,67,112);
color: rgb(164,183,212);
font-family: Trebuchet MS, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
text-indent: 18;
padding: 5px 8px 5px 8px;
border-color: rgb(80,73,231);
text-align: center;
}

#trail, #trail a
{
font-size: 128%;
background-color: rgb(255,255,255);
color: rgb(68,16,123);
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: bold;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 2px 0px 2px 0px;
border-color: rgb(127,139,198);
text-align: left;
}

#content a
{
color: rgb(127,139,198);
text-decoration: none;
}

#content a:hover, #content a:active
{
background-color: rgb(127,139,198);
color: rgb(255,255,255);
}

h1, h2, h3, h4, h5, h6
{
font-family: Trebuchet MS, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: bold;
}

h1
{
font-size: 172%;
}

h2
{
font-size: 164%;
}

h3
{
font-size: 156%;
}

h4
{
font-size: 148%;
}

h5
{
font-size: 140%;
}

h6
{
font-size: 132%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(127,139,198);
color: rgb(0,0,0);
}

#trail a
{
text-decoration: none;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
#menu		{width: 28%; position: relative; top: 0; left: 0; float: left; text-align: center;}
.menuitem		{width: auto;}
#content		{margin-left: 28%; width: auto}
.menuitem		{display: block;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

