body
{
background-color: rgb(255,255,255);
color: rgb(81,74,122);
font-family: Verdana, Arial, Helvetica, sans-serif;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(54,46,105);
}

#content
{
font-size: 108%;
background-color: rgb(160,168,112);
color: rgb(215,248,15);
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 48px 28px 48px 28px;
border-color: rgb(0,0,0);
text-align: left;
}

#menu
{
background-color: rgb(81,74,122);
color: rgb(215,248,15);
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
text-indent: 35;
border-color: rgb(215,248,15);
}

a.menuitem
{
font-size: 131%;
background-color: rgb(0,0,0);
color: rgb(210,223,134);
font-variant: small-caps;
text-transform: none;
font-weight: normal;
margin-left: 9px; margin-right: 9px; margin-top: 9px; margin-bottom: 9px;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(170,188,58);
text-align: right;
}

#logo, #logo a
{
font-size: 168%;
background-color: rgb(170,188,58);
color: rgb(54,46,105);
font-family: Arial, Helvetica, sans-serif;
font-style: italic;
font-variant: normal;
text-transform: none;
font-weight: normal;
padding: 5px 5px 5px 5px;
border-color: rgb(81,74,122);
text-align: left;
}

#trail, #trail a
{
font-size: 112%;
background-color: rgb(81,74,122);
color: rgb(210,223,134);
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
border-left-width: 12px; border-right-width: 12px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: outset; border-right-style: solid; border-top-style: none; border-bottom-style: none;
padding: 15px 16px 8px 17px;
border-color: rgb(0,0,0);
text-align: right;
}

#content a
{
color: rgb(255,255,255);
text-decoration: underline;
}

#content a:hover, #content a:active
{
background-color: rgb(255,255,255);
color: rgb(160,168,112);
}

h1, h2, h3, h4, h5, h6
{
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: bold;
}

h1
{
font-size: 120%;
}

h2
{
font-size: 111%;
}

h3
{
font-size: 102%;
}

h4
{
font-size: 93%;
}

h5
{
font-size: 84%;
}

h6
{
font-size: 75%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(210,223,134);
color: rgb(0,0,0);
}

#trail a
{
text-decoration: underline;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
.menuitem		{display: inline;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

