body
{
background-color: rgb(255,255,255);
color: rgb(93,80,161);
font-family: Courier New, Courier, monospace;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(120,97,239);
}

#content
{
font-size: 92%;
background-color: rgb(255,255,255);
color: rgb(93,80,161);
border-left-width: 1px; border-right-width: 1px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: ridge; border-right-style: outset; border-top-style: none; border-bottom-style: none;
padding: 2px 30px 2px 30px;
border-color: rgb(0,0,0);
text-align: justify;
}

#menu
{
background-color: rgb(35,19,117);
color: rgb(120,97,239);
font-family: Courier New, Courier, monospace;
font-style: normal;
border-color: rgb(209,201,250);
}

a.menuitem
{
font-size: 127%;
background-color: rgb(120,97,239);
color: rgb(209,201,250);
font-variant: small-caps;
text-transform: none;
font-weight: normal;
margin-left: 7px; margin-right: 7px; margin-top: 7px; margin-bottom: 7px;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(35,19,117);
text-align: center;
}

#logo, #logo a
{
font-size: 195%;
background-color: rgb(0,0,0);
color: rgb(67,58,115);
font-family: Courier New, Courier, monospace;
font-style: italic;
font-variant: normal;
text-transform: none;
font-weight: bold;
padding: 0px 0px 0px 0px;
border-color: rgb(35,19,117);
text-align: right;
}

#trail, #trail a
{
font-size: 91%;
background-color: rgb(35,19,117);
color: rgb(209,201,250);
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 6px 6px 6px 6px;
border-color: rgb(120,97,239);
text-align: center;
}

#content a
{
color: rgb(59,33,190);
text-decoration: underline;
}

#content a:hover, #content a:active
{
background-color: rgb(59,33,190);
color: rgb(255,255,255);
}

h1, h2, h3, h4, h5, h6
{
font-family: Trebuchet MS, sans-serif;
font-style: italic;
font-variant: normal;
text-transform: uppercase;
font-weight: bold;
}

h1
{
font-size: 172%;
}

h2
{
font-size: 159%;
}

h3
{
font-size: 146%;
}

h4
{
font-size: 133%;
}

h5
{
font-size: 120%;
}

h6
{
font-size: 107%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(209,201,250);
color: rgb(120,97,239);
}

#trail a
{
text-decoration: underline;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
#menu		{width: 28%; position: relative; top: 0; right: 0; float: right; text-align: center;}
.menuitem		{width: auto;}
#content		{margin-right: 28%; width: auto}
.menuitem		{display: block;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

