body
{
background-color: rgb(0,0,0);
color: rgb(83,187,77);
font-family: Times New Roman, serif;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(29,180,88);
}

#content
{
font-size: 111%;
background-color: rgb(255,255,255);
color: rgb(0,0,0);
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 41px 41px 41px 41px;
border-color: rgb(0,0,0);
text-align: left;
}

#menu
{
background-color: rgb(255,255,255);
color: rgb(29,180,88);
font-family: Verdana, Arial, Helvetica, sans-serif;
font-style: normal;
text-indent: 44;
border-color: rgb(0,0,0);
}

a.menuitem
{
font-size: 127%;
background-color: rgb(26,82,35);
color: rgb(182,214,169);
font-variant: small-caps;
text-transform: none;
font-weight: normal;
margin-left: 9px; margin-right: 9px; margin-top: 9px; margin-bottom: 9px;
border-left-width: 0px; border-right-width: 7px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: solid; border-top-style: none; border-bottom-style: none;
border-color: rgb(82,107,57);
text-align: center;
}

#logo, #logo a
{
font-size: 162%;
background-color: rgb(0,0,0);
color: rgb(255,255,255);
font-family: Times New Roman, serif;
font-style: italic;
font-variant: small-caps;
text-transform: none;
font-weight: normal;
padding: 18px 18px 18px 18px;
border-color: rgb(255,255,255);
text-align: center;
}

#trail, #trail a
{
font-size: 114%;
background-color: rgb(182,214,169);
color: rgb(33,136,23);
font-style: normal;
font-variant: small-caps;
text-transform: none;
font-weight: normal;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 3px 3px 3px 3px;
border-color: rgb(182,214,169);
text-align: left;
}

#content a
{
color: rgb(82,107,57);
text-decoration: underline;
}

#content a:hover, #content a:active
{
background-color: rgb(82,107,57);
color: rgb(255,255,255);
}

h1, h2, h3, h4, h5, h6
{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
}

h1
{
font-size: 163%;
}

h2
{
font-size: 149%;
}

h3
{
font-size: 135%;
}

h4
{
font-size: 121%;
}

h5
{
font-size: 107%;
}

h6
{
font-size: 93%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(182,214,169);
color: rgb(26,82,35);
}

#trail a
{
text-decoration: underline;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
#menu		{width: 20%; position: relative; top: 0; left: 0; float: left; text-align: center;}
.menuitem		{width: auto;}
#content		{margin-left: 20%; width: auto}
.menuitem		{display: block;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

