body
{
background-color: rgb(255,255,255);
color: rgb(39,150,44);
font-family: Verdana, Arial, Helvetica, sans-serif;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(50,89,78);
}

#content
{
font-size: 90%;
background-color: rgb(0,0,0);
color: rgb(39,150,44);
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 16px 16px 16px 16px;
border-color: rgb(0,0,0);
text-align: justify;
}

#menu
{
background-color: rgb(0,0,0);
color: rgb(26,204,91);
font-family: Verdana, Arial, Helvetica, sans-serif;
font-style: normal;
border-color: rgb(26,204,91);
}

a.menuitem
{
font-size: 124%;
background-color: rgb(255,255,255);
color: rgb(26,204,91);
font-variant: normal;
text-transform: none;
font-weight: normal;
margin-left: 3px; margin-right: 3px; margin-top: 3px; margin-bottom: 3px;
border-left-width: 0px; border-right-width: 0px; border-top-width: 1px; border-bottom-width: 1px;
border-left-style: none; border-right-style: none; border-top-style: groove; border-bottom-style: groove;
border-color: rgb(44,160,75);
text-align: left;
}

#logo, #logo a
{
font-size: 167%;
background-color: rgb(50,89,78);
color: rgb(177,207,192);
font-family: Verdana, Arial, Helvetica, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: bold;
padding: 18px 18px 18px 18px;
border-color: rgb(29,211,199);
text-align: center;
}

#trail, #trail a
{
font-size: 94%;
background-color: rgb(0,0,0);
color: rgb(44,160,75);
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: bold;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 20px 20px 20px 20px;
border-color: rgb(255,255,255);
text-align: left;
}

#content a
{
color: rgb(177,207,192);
text-decoration: none;
}

#content a:hover, #content a:active
{
background-color: rgb(177,207,192);
color: rgb(0,0,0);
}

h1, h2, h3, h4, h5, h6
{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
}

h1
{
font-size: 173%;
}

h2
{
font-size: 159%;
}

h3
{
font-size: 145%;
}

h4
{
font-size: 131%;
}

h5
{
font-size: 117%;
}

h6
{
font-size: 103%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(26,204,91);
color: rgb(255,255,255);
}

#trail a
{
text-decoration: none;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
#menu		{width: 26%; position: relative; top: 0; right: 0; float: right; text-align: center;}
.menuitem		{width: auto;}
#content		{margin-right: 26%; width: auto}
.menuitem		{display: block;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

