body
{
background-color: rgb(102,63,13);
color: rgb(235,169,85);
font-family: Times New Roman, serif;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: solid; border-right-style: solid; border-top-style: solid; border-bottom-style: solid;
border-color: rgb(224,137,26);
}

#content
{
font-size: 106%;
background-color: rgb(199,193,186);
color: rgb(158,92,8);
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 9px 7px 12px 29px;
border-color: rgb(0,0,0);
text-align: left;
}

#menu
{
background-color: rgb(0,0,0);
color: rgb(235,169,85);
font-family: Times New Roman, serif;
font-style: normal;
border-color: rgb(224,137,26);
}

a.menuitem
{
font-size: 122%;
background-color: rgb(0,0,0);
color: rgb(235,169,85);
font-variant: normal;
text-transform: capitalize;
font-weight: normal;
margin-left: 18px; margin-right: 18px; margin-top: 18px; margin-bottom: 18px;
border-left-width: 15px; border-right-width: 15px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: solid; border-right-style: solid; border-top-style: none; border-bottom-style: none;
border-color: rgb(199,193,186);
text-align: center;
}

#logo, #logo a
{
font-size: 161%;
background-color: rgb(0,0,0);
color: rgb(199,193,186);
font-family: Times New Roman, serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: bold;
padding: 18px 18px 18px 18px;
border-color: rgb(0,0,0);
text-align: left;
}

#trail, #trail a
{
font-size: 117%;
background-color: rgb(255,255,255);
color: rgb(158,92,8);
font-style: italic;
font-variant: normal;
text-transform: capitalize;
font-weight: normal;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 12px 12px 12px 12px;
border-color: rgb(158,92,8);
text-align: left;
}

#content a
{
color: rgb(102,63,13);
text-decoration: underline;
}

#content a:hover, #content a:active
{
background-color: rgb(102,63,13);
color: rgb(199,193,186);
}

h1, h2, h3, h4, h5, h6
{
font-family: Times New Roman, serif;
font-style: italic;
font-variant: normal;
text-transform: none;
font-weight: normal;
}

h1
{
font-size: 160%;
}

h2
{
font-size: 148%;
}

h3
{
font-size: 136%;
}

h4
{
font-size: 124%;
}

h5
{
font-size: 112%;
}

h6
{
font-size: 100%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(235,169,85);
color: rgb(0,0,0);
}

#trail a
{
text-decoration: none;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
#menu		{width: 29%; position: relative; top: 0; left: 0; float: left; text-align: center;}
.menuitem		{width: auto;}
#content		{margin-left: 29%; width: auto}
.menuitem		{display: block;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

