body
{
background-color: rgb(201,210,124);
color: rgb(132,147,12);
font-family: Georgia, serif;
border-left-width: 9px; border-right-width: 9px; border-top-width: 9px; border-bottom-width: 9px;
border-left-style: solid; border-right-style: solid; border-top-style: solid; border-bottom-style: solid;
border-color: rgb(64,70,18);
}

#content
{
font-size: 111%;
background-color: rgb(201,210,124);
color: rgb(132,147,12);
border-left-width: 1px; border-right-width: 1px; border-top-width: 1px; border-bottom-width: 1px;
border-left-style: solid; border-right-style: solid; border-top-style: solid; border-bottom-style: solid;
padding: 23px 23px 23px 23px;
border-color: rgb(0,0,0);
text-align: left;
}

#menu
{
background-color: rgb(226,235,151);
color: rgb(148,153,107);
font-family: Verdana, Arial, Helvetica, sans-serif;
font-style: normal;
border-color: rgb(132,147,12);
}

a.menuitem
{
font-size: 145%;
background-color: rgb(255,255,255);
color: rgb(148,153,107);
font-variant: normal;
text-transform: none;
font-weight: normal;
margin-left: 14px; margin-right: 14px; margin-top: 14px; margin-bottom: 14px;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(226,235,151);
text-align: left;
}

#logo, #logo a
{
font-size: 161%;
background-color: rgb(0,0,0);
color: rgb(213,232,64);
font-family: Verdana, Arial, Helvetica, sans-serif;
font-style: italic;
font-variant: normal;
text-transform: none;
font-weight: bold;
padding: 19px 19px 19px 19px;
border-color: rgb(213,232,64);
text-align: center;
}

#trail, #trail a
{
font-size: 100%;
background-color: rgb(0,0,0);
color: rgb(201,210,124);
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
border-left-width: 0px; border-right-width: 0px; border-top-width: 9px; border-bottom-width: 9px;
border-left-style: none; border-right-style: none; border-top-style: dotted; border-bottom-style: dotted;
padding: 2px 2px 2px 2px;
border-color: rgb(226,235,151);
text-align: right;
}

#content a
{
color: rgb(255,255,255);
text-decoration: underline oveline;
}

#content a:hover, #content a:active
{
background-color: rgb(255,255,255);
color: rgb(201,210,124);
}

h1, h2, h3, h4, h5, h6
{
font-family: Georgia, serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: bold;
}

h1
{
font-size: 134%;
}

h2
{
font-size: 126%;
}

h3
{
font-size: 118%;
}

h4
{
font-size: 110%;
}

h5
{
font-size: 102%;
}

h6
{
font-size: 94%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(148,153,107);
color: rgb(255,255,255);
}

#trail a
{
text-decoration: none;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
#menu		{width: 21%; position: relative; top: 0; right: 0; float: right; text-align: center;}
.menuitem		{width: auto;}
#content		{margin-right: 21%; width: auto}
.menuitem		{display: block;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

