body
{
background-color: rgb(25,24,79);
color: rgb(200,199,242);
font-family: Verdana, Arial, Helvetica, sans-serif;
border-left-width: 6px; border-right-width: 6px; border-top-width: 6px; border-bottom-width: 6px;
border-left-style: solid; border-right-style: solid; border-top-style: solid; border-bottom-style: solid;
border-color: rgb(0,0,0);
}

#content
{
font-size: 92%;
background-color: rgb(255,255,255);
color: rgb(0,0,0);
border-left-width: 11px; border-right-width: 11px; border-top-width: 11px; border-bottom-width: 11px;
border-left-style: solid; border-right-style: solid; border-top-style: solid; border-bottom-style: solid;
padding: 2px 2px 2px 2px;
border-color: rgb(0,0,0);
text-align: left;
}

#menu
{
background-color: rgb(255,255,255);
color: rgb(39,36,200);
font-family: Verdana, Arial, Helvetica, sans-serif;
font-style: normal;
border-color: rgb(137,137,167);
}

a.menuitem
{
font-size: 144%;
background-color: rgb(200,199,242);
color: rgb(56,53,220);
font-variant: normal;
text-transform: none;
font-weight: normal;
margin-left: 18px; margin-right: 18px; margin-top: 18px; margin-bottom: 18px;
border-left-width: 0px; border-right-width: 0px; border-top-width: 1px; border-bottom-width: 1px;
border-left-style: none; border-right-style: none; border-top-style: double; border-bottom-style: double;
border-color: rgb(39,36,200);
text-align: center;
}

#logo, #logo a
{
font-size: 194%;
background-color: rgb(159,158,229);
color: rgb(25,24,79);
font-family: Verdana, Arial, Helvetica, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
padding: 20px 20px 20px 20px;
border-color: rgb(255,255,255);
text-align: left;
}

#trail, #trail a
{
font-size: 109%;
background-color: rgb(159,158,229);
color: rgb(56,53,220);
font-style: italic;
font-variant: normal;
text-transform: uppercase;
font-weight: normal;
border-left-width: 1px; border-right-width: 1px; border-top-width: 1px; border-bottom-width: 1px;
border-left-style: solid; border-right-style: solid; border-top-style: solid; border-bottom-style: solid;
padding: 0px 0px 0px 0px;
border-color: rgb(200,199,242);
text-align: right;
}

#content a
{
color: rgb(25,24,79);
text-decoration: none;
}

#content a:hover, #content a:active
{
background-color: rgb(25,24,79);
color: rgb(255,255,255);
}

h1, h2, h3, h4, h5, h6
{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
}

h1
{
font-size: 149%;
}

h2
{
font-size: 138%;
}

h3
{
font-size: 127%;
}

h4
{
font-size: 116%;
}

h5
{
font-size: 105%;
}

h6
{
font-size: 94%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(56,53,220);
color: rgb(200,199,242);
}

#trail a
{
text-decoration: none;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
#menu		{width: 30%; position: relative; top: 0; left: 0; float: left; text-align: center;}
.menuitem		{width: auto;}
#content		{margin-left: 30%; width: auto}
.menuitem		{display: block;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

