body
{
background-color: rgb(0,0,0);
color: rgb(141,84,136);
font-family: Verdana, Arial, Helvetica, sans-serif;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(118,38,164);
}

#content
{
font-size: 102%;
background-color: rgb(255,255,255);
color: rgb(0,0,0);
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 4px 4px 4px 4px;
border-color: rgb(0,0,0);
text-align: left;
}

#menu
{
background-color: rgb(0,0,0);
color: rgb(230,70,228);
font-family: Verdana, Arial, Helvetica, sans-serif;
font-style: normal;
text-indent: 30;
border-color: rgb(255,255,255);
}

a.menuitem
{
font-size: 144%;
background-color: rgb(0,0,0);
color: rgb(240,130,206);
font-variant: small-caps;
text-transform: none;
font-weight: bold;
margin-left: 6px; margin-right: 6px; margin-top: 6px; margin-bottom: 6px;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(230,70,228);
text-align: left;
}

#logo, #logo a
{
font-size: 160%;
background-color: rgb(120,59,87);
color: rgb(240,130,206);
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
padding: 15px 15px 15px 15px;
border-color: rgb(120,59,87);
text-align: center;
}

#trail, #trail a
{
font-size: 126%;
background-color: rgb(255,255,255);
color: rgb(175,80,190);
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 11px 0px 11px 0px;
border-color: rgb(240,130,206);
text-align: left;
}

#content a
{
color: rgb(141,84,136);
text-decoration: none;
}

#content a:hover, #content a:active
{
background-color: rgb(141,84,136);
color: rgb(255,255,255);
}

h1, h2, h3, h4, h5, h6
{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-style: normal;
font-variant: small-caps;
text-transform: capitalize;
font-weight: bold;
}

h1
{
font-size: 164%;
}

h2
{
font-size: 153%;
}

h3
{
font-size: 142%;
}

h4
{
font-size: 131%;
}

h5
{
font-size: 120%;
}

h6
{
font-size: 109%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(240,130,206);
color: rgb(0,0,0);
}

#trail a
{
text-decoration: none;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
#menu		{width: 21%; position: relative; top: 0; right: 0; float: right; text-align: center;}
.menuitem		{width: auto;}
#content		{margin-right: 21%; width: auto}
.menuitem		{display: block;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

