body
{
background-color: rgb(210,153,31);
color: rgb(110,51,32);
font-family: Arial, Helvetica, sans-serif;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(110,51,32);
}

#content
{
font-size: 116%;
background-color: rgb(255,255,255);
color: rgb(0,0,0);
border-left-width: 0px; border-right-width: 0px; border-top-width: 1px; border-bottom-width: 1px;
border-left-style: none; border-right-style: none; border-top-style: solid; border-bottom-style: solid;
padding: 48px 48px 48px 48px;
border-color: rgb(0,0,0);
text-align: left;
}

#menu
{
background-color: rgb(255,255,255);
color: rgb(165,80,46);
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
border-color: rgb(85,31,30);
}

a.menuitem
{
font-size: 151%;
background-color: rgb(0,0,0);
color: rgb(210,153,31);
font-variant: normal;
text-transform: none;
font-weight: normal;
margin-left: 12px; margin-right: 12px; margin-top: 12px; margin-bottom: 12px;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(88,66,47);
text-align: left;
}

#logo, #logo a
{
font-size: 185%;
background-color: rgb(0,0,0);
color: rgb(204,187,23);
font-family: Trebuchet MS, sans-serif;
font-style: italic;
font-variant: normal;
text-transform: none;
font-weight: normal;
padding: 19px 19px 19px 19px;
border-color: rgb(110,51,32);
text-align: left;
}

#trail, #trail a
{
font-size: 97%;
background-color: rgb(255,255,255);
color: rgb(210,153,31);
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
text-indent: 22;
border-left-width: 8px; border-right-width: 8px; border-top-width: 8px; border-bottom-width: 8px;
border-left-style: solid; border-right-style: solid; border-top-style: solid; border-bottom-style: solid;
padding: 2px 2px 2px 2px;
border-color: rgb(85,31,30);
text-align: left;
}

#content a
{
color: rgb(210,153,31);
text-decoration: none;
}

#content a:hover, #content a:active
{
background-color: rgb(210,153,31);
color: rgb(255,255,255);
}

h1, h2, h3, h4, h5, h6
{
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
}

h1
{
font-size: 154%;
}

h2
{
font-size: 143%;
}

h3
{
font-size: 132%;
}

h4
{
font-size: 121%;
}

h5
{
font-size: 110%;
}

h6
{
font-size: 99%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(210,153,31);
color: rgb(0,0,0);
}

#trail a
{
text-decoration: none;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
#menu		{width: 28%; position: relative; top: 0; right: 0; float: right; text-align: center;}
.menuitem		{width: auto;}
#content		{margin-right: 28%; width: auto}
.menuitem		{display: block;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

