body
{
background-color: rgb(171,150,156);
color: rgb(70,18,33);
font-family: Arial, Helvetica, sans-serif;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(0,0,0);
}

#content
{
font-size: 115%;
background-color: rgb(255,255,255);
color: rgb(0,0,0);
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 7px 7px 7px 7px;
border-color: rgb(0,0,0);
text-align: left;
}

#menu
{
background-color: rgb(217,194,200);
color: rgb(106,56,70);
font-family: Times New Roman, serif;
font-style: normal;
border-color: rgb(0,0,0);
}

a.menuitem
{
font-size: 123%;
background-color: rgb(255,255,255);
color: rgb(70,18,33);
font-variant: normal;
text-transform: uppercase;
font-weight: normal;
margin-left: 19px; margin-right: 19px; margin-top: 19px; margin-bottom: 19px;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(171,150,156);
text-align: center;
}

#logo, #logo a
{
font-size: 178%;
background-color: rgb(217,194,200);
color: rgb(106,56,70);
font-family: Times New Roman, serif;
font-style: normal;
font-variant: small-caps;
text-transform: none;
font-weight: normal;
padding: 4px 4px 4px 4px;
border-color: rgb(217,194,200);
text-align: center;
}

#trail, #trail a
{
font-size: 114%;
background-color: rgb(217,194,200);
color: rgb(106,56,70);
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 19px 19px 19px 19px;
border-color: rgb(240,205,215);
text-align: left;
}

#content a
{
color: rgb(70,18,33);
text-decoration: underline;
}

#content a:hover, #content a:active
{
background-color: rgb(70,18,33);
color: rgb(255,255,255);
}

h1, h2, h3, h4, h5, h6
{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: bold;
}

h1
{
font-size: 162%;
}

h2
{
font-size: 148%;
}

h3
{
font-size: 134%;
}

h4
{
font-size: 120%;
}

h5
{
font-size: 106%;
}

h6
{
font-size: 92%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(70,18,33);
color: rgb(255,255,255);
}

#trail a
{
text-decoration: underline;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
#menu		{width: 27%; position: relative; top: 0; left: 0; float: left; text-align: center;}
.menuitem		{width: auto;}
#content		{margin-left: 27%; width: auto}
.menuitem		{display: block;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

