body
{
background-color: rgb(0,0,0);
color: rgb(217,224,163);
font-family: Arial, Helvetica, sans-serif;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(54,58,15);
}

#content
{
font-size: 115%;
background-color: rgb(255,255,255);
color: rgb(207,226,50);
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 2px 2px 2px 2px;
border-color: rgb(0,0,0);
text-align: justify;
}

#menu
{
background-color: rgb(207,226,50);
color: rgb(72,80,7);
font-family: Courier New, Courier, monospace;
font-style: normal;
border-color: rgb(217,224,163);
}

a.menuitem
{
font-size: 120%;
background-color: rgb(0,0,0);
color: rgb(207,226,50);
font-variant: normal;
text-transform: none;
font-weight: normal;
margin-left: 6px; margin-right: 6px; margin-top: 6px; margin-bottom: 6px;
border-left-width: 1px; border-right-width: 1px; border-top-width: 1px; border-bottom-width: 1px;
border-left-style: outset; border-right-style: outset; border-top-style: outset; border-bottom-style: outset;
border-color: rgb(217,224,163);
text-align: center;
}

#logo, #logo a
{
font-size: 191%;
background-color: rgb(0,0,0);
color: rgb(207,226,50);
font-family: Courier New, Courier, monospace;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
padding: 9px 9px 9px 9px;
border-color: rgb(118,129,25);
text-align: right;
}

#trail, #trail a
{
font-size: 130%;
background-color: rgb(255,255,255);
color: rgb(207,226,50);
font-style: italic;
font-variant: normal;
text-transform: none;
font-weight: normal;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 0px 0px 0px 0px;
border-color: rgb(154,158,119);
text-align: right;
}

#content a
{
color: rgb(118,129,25);
text-decoration: none;
}

#content a:hover, #content a:active
{
background-color: rgb(118,129,25);
color: rgb(255,255,255);
}

h1, h2, h3, h4, h5, h6
{
font-family: Courier New, Courier, monospace;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: bold;
}

h1
{
font-size: 137%;
}

h2
{
font-size: 124%;
}

h3
{
font-size: 111%;
}

h4
{
font-size: 98%;
}

h5
{
font-size: 85%;
}

h6
{
font-size: 72%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(207,226,50);
color: rgb(0,0,0);
}

#trail a
{
text-decoration: none;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
.menuitem		{display: inline;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

