body
{
background-color: rgb(255,255,255);
color: rgb(159,169,219);
font-family: Arial, Helvetica, sans-serif;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: solid; border-right-style: solid; border-top-style: solid; border-bottom-style: solid;
border-color: rgb(159,169,219);
}

#content
{
font-size: 91%;
background-color: rgb(0,0,0);
color: rgb(110,98,34);
border-left-width: 1px; border-right-width: 1px; border-top-width: 6px; border-bottom-width: 6px;
border-left-style: groove; border-right-style: groove; border-top-style: groove; border-bottom-style: groove;
padding: 44px 44px 44px 44px;
border-color: rgb(0,0,0);
text-align: left;
}

#menu
{
background-color: rgb(0,0,0);
color: rgb(159,169,219);
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
border-color: rgb(50,63,135);
}

a.menuitem
{
font-size: 151%;
background-color: rgb(255,255,255);
color: rgb(159,169,219);
font-variant: normal;
text-transform: none;
font-weight: normal;
margin-left: 8px; margin-right: 8px; margin-top: 8px; margin-bottom: 8px;
border-left-width: 2px; border-right-width: 2px; border-top-width: 2px; border-bottom-width: 2px;
border-left-style: dashed; border-right-style: dashed; border-top-style: dashed; border-bottom-style: dashed;
border-color: rgb(0,0,0);
text-align: left;
}

#logo, #logo a
{
font-size: 197%;
background-color: rgb(203,189,115);
color: rgb(110,98,34);
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
padding: 0px 0px 0px 0px;
border-color: rgb(0,0,0);
text-align: left;
}

#trail, #trail a
{
font-size: 115%;
background-color: rgb(255,255,255);
color: rgb(159,169,219);
font-style: normal;
font-variant: normal;
text-transform: uppercase;
font-weight: bold;
border-left-width: 14px; border-right-width: 14px; border-top-width: 14px; border-bottom-width: 14px;
border-left-style: solid; border-right-style: solid; border-top-style: solid; border-bottom-style: solid;
padding: 3px 3px 3px 3px;
border-color: rgb(255,255,255);
text-align: left;
}

#content a
{
color: rgb(50,63,135);
text-decoration: underline;
}

#content a:hover, #content a:active
{
background-color: rgb(50,63,135);
color: rgb(0,0,0);
}

h1, h2, h3, h4, h5, h6
{
font-family: Trebuchet MS, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
}

h1
{
font-size: 163%;
}

h2
{
font-size: 148%;
}

h3
{
font-size: 133%;
}

h4
{
font-size: 118%;
}

h5
{
font-size: 103%;
}

h6
{
font-size: 88%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(159,169,219);
color: rgb(255,255,255);
}

#trail a
{
text-decoration: none;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
.menuitem		{display: inline;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

