body
{
background-color: rgb(171,211,162);
color: rgb(223,79,253);
font-family: Verdana, Arial, Helvetica, sans-serif;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 5px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: solid;
border-color: rgb(148,68,165);
}

#content
{
font-size: 116%;
background-color: rgb(0,0,0);
color: rgb(148,68,165);
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 15px 37px 15px 37px;
border-color: rgb(0,0,0);
text-align: left;
}

#menu
{
background-color: rgb(255,255,255);
color: rgb(147,77,162);
font-family: Times New Roman, serif;
font-style: normal;
text-indent: 41;
border-color: rgb(171,211,162);
}

a.menuitem
{
font-size: 139%;
background-color: rgb(148,68,165);
color: rgb(42,114,27);
font-variant: normal;
text-transform: none;
font-weight: normal;
margin-left: 11px; margin-right: 16px; margin-top: 4px; margin-bottom: 18px;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(147,77,162);
text-align: left;
}

#logo, #logo a
{
font-size: 197%;
background-color: rgb(255,255,255);
color: rgb(223,79,253);
font-family: Verdana, Arial, Helvetica, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
padding: 10px 10px 10px 10px;
border-color: rgb(0,0,0);
text-align: center;
}

#trail, #trail a
{
font-size: 103%;
background-color: rgb(0,0,0);
color: rgb(255,255,255);
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 11px 11px 11px 11px;
border-color: rgb(223,79,253);
text-align: center;
}

#content a
{
color: rgb(171,211,162);
text-decoration: underline;
}

#content a:hover, #content a:active
{
background-color: rgb(171,211,162);
color: rgb(0,0,0);
}

h1, h2, h3, h4, h5, h6
{
font-family: Trebuchet MS, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
}

h1
{
font-size: 167%;
}

h2
{
font-size: 156%;
}

h3
{
font-size: 145%;
}

h4
{
font-size: 134%;
}

h5
{
font-size: 123%;
}

h6
{
font-size: 112%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(42,114,27);
color: rgb(148,68,165);
}

#trail a
{
text-decoration: underline;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
#menu		{width: 23%; position: relative; top: 0; right: 0; float: right; text-align: center;}
.menuitem		{width: auto;}
#content		{margin-right: 23%; width: auto}
.menuitem		{display: block;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

