body
{
background-color: rgb(177,239,131);
color: rgb(111,152,36);
font-family: Times New Roman, serif;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(255,255,255);
}

#content
{
font-size: 102%;
background-color: rgb(255,255,255);
color: rgb(0,0,0);
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 18px 18px 18px 18px;
border-color: rgb(0,0,0);
text-align: justify;
}

#menu
{
background-color: rgb(177,239,131);
color: rgb(111,152,36);
font-family: Times New Roman, serif;
font-style: normal;
text-indent: 43;
border-color: rgb(0,0,0);
}

a.menuitem
{
font-size: 158%;
background-color: rgb(177,239,131);
color: rgb(111,152,36);
font-variant: small-caps;
text-transform: none;
font-weight: bold;
margin-left: 10px; margin-right: 10px; margin-top: 10px; margin-bottom: 10px;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(255,255,255);
text-align: left;
}

#logo, #logo a
{
font-size: 154%;
background-color: rgb(255,255,255);
color: rgb(177,239,131);
font-family: Times New Roman, serif;
font-style: italic;
font-variant: normal;
text-transform: none;
font-weight: bold;
padding: 15px 17px 15px 17px;
border-color: rgb(160,223,175);
text-align: right;
}

#trail, #trail a
{
font-size: 91%;
background-color: rgb(177,239,131);
color: rgb(111,152,36);
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
border-left-width: 0px; border-right-width: 0px; border-top-width: 13px; border-bottom-width: 13px;
border-left-style: none; border-right-style: none; border-top-style: double; border-bottom-style: double;
padding: 17px 8px 17px 8px;
border-color: rgb(111,152,36);
text-align: center;
}

#content a
{
color: rgb(98,208,70);
text-decoration: none;
}

#content a:hover, #content a:active
{
background-color: rgb(98,208,70);
color: rgb(255,255,255);
}

h1, h2, h3, h4, h5, h6
{
font-family: Times New Roman, serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: bold;
}

h1
{
font-size: 148%;
}

h2
{
font-size: 134%;
}

h3
{
font-size: 120%;
}

h4
{
font-size: 106%;
}

h5
{
font-size: 92%;
}

h6
{
font-size: 78%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(111,152,36);
color: rgb(177,239,131);
}

#trail a
{
text-decoration: none;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
#menu		{width: 28%; position: relative; top: 0; left: 0; float: left; text-align: center;}
.menuitem		{width: auto;}
#content		{margin-left: 28%; width: auto}
.menuitem		{display: block;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

