body
{
background-color: rgb(227,183,228);
color: rgb(52,12,53);
font-family: Arial, Helvetica, sans-serif;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(255,255,255);
}

#content
{
font-size: 102%;
background-color: rgb(255,255,255);
color: rgb(0,0,0);
border-left-width: 0px; border-right-width: 0px; border-top-width: 3px; border-bottom-width: 3px;
border-left-style: none; border-right-style: none; border-top-style: solid; border-bottom-style: solid;
padding: 6px 6px 6px 6px;
border-color: rgb(0,0,0);
text-align: left;
}

#menu
{
background-color: rgb(227,183,228);
color: rgb(52,12,53);
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
border-color: rgb(83,56,84);
}

a.menuitem
{
font-size: 143%;
background-color: rgb(201,37,205);
color: rgb(52,12,53);
font-variant: normal;
text-transform: none;
font-weight: normal;
margin-left: 13px; margin-right: 13px; margin-top: 13px; margin-bottom: 13px;
border-left-width: 1px; border-right-width: 1px; border-top-width: 1px; border-bottom-width: 1px;
border-left-style: ridge; border-right-style: ridge; border-top-style: ridge; border-bottom-style: ridge;
border-color: rgb(201,37,205);
text-align: left;
}

#logo, #logo a
{
font-size: 153%;
background-color: rgb(227,183,228);
color: rgb(113,31,115);
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
padding: 6px 15px 6px 10px;
border-color: rgb(0,0,0);
text-align: left;
}

#trail, #trail a
{
font-size: 117%;
background-color: rgb(201,37,205);
color: rgb(83,56,84);
font-style: italic;
font-variant: normal;
text-transform: none;
font-weight: normal;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 2px 2px 2px 2px;
border-color: rgb(148,47,151);
text-align: right;
}

#content a
{
color: rgb(52,12,53);
text-decoration: underline;
}

#content a:hover, #content a:active
{
background-color: rgb(52,12,53);
color: rgb(255,255,255);
}

h1, h2, h3, h4, h5, h6
{
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
}

h1
{
font-size: 148%;
}

h2
{
font-size: 133%;
}

h3
{
font-size: 118%;
}

h4
{
font-size: 103%;
}

h5
{
font-size: 88%;
}

h6
{
font-size: 73%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(52,12,53);
color: rgb(201,37,205);
}

#trail a
{
text-decoration: none;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
#menu		{width: 29%; position: relative; top: 0; left: 0; float: left; text-align: center;}
.menuitem		{width: auto;}
#content		{margin-left: 29%; width: auto}
.menuitem		{display: block;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

