body
{
background-color: rgb(0,0,0);
color: rgb(255,255,255);
font-family: Verdana, Arial, Helvetica, sans-serif;
border-left-width: 16px; border-right-width: 16px; border-top-width: 16px; border-bottom-width: 16px;
border-left-style: dotted; border-right-style: dotted; border-top-style: dotted; border-bottom-style: dotted;
border-color: rgb(58,30,76);
}

#content
{
font-size: 102%;
background-color: rgb(255,255,255);
color: rgb(0,0,0);
border-left-width: 15px; border-right-width: 15px; border-top-width: 15px; border-bottom-width: 15px;
border-left-style: solid; border-right-style: solid; border-top-style: solid; border-bottom-style: solid;
padding: 18px 18px 18px 18px;
border-color: rgb(0,0,0);
text-align: left;
}

#menu
{
background-color: rgb(0,0,0);
color: rgb(210,190,242);
font-family: Times New Roman, serif;
font-style: normal;
border-color: rgb(0,0,0);
}

a.menuitem
{
font-size: 155%;
background-color: rgb(0,0,0);
color: rgb(65,55,118);
font-variant: normal;
text-transform: none;
font-weight: normal;
margin-left: 19px; margin-right: 19px; margin-top: 19px; margin-bottom: 19px;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(0,0,0);
text-align: left;
}

#logo, #logo a
{
font-size: 159%;
background-color: rgb(58,30,76);
color: rgb(121,73,200);
font-family: Times New Roman, serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
padding: 20px 20px 20px 20px;
border-color: rgb(255,255,255);
text-align: left;
}

#trail, #trail a
{
font-size: 100%;
background-color: rgb(58,30,76);
color: rgb(121,73,200);
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 17px 17px 17px 17px;
border-color: rgb(210,190,242);
text-align: left;
}

#content a
{
color: rgb(65,55,118);
text-decoration: underline;
}

#content a:hover, #content a:active
{
background-color: rgb(65,55,118);
color: rgb(255,255,255);
}

h1, h2, h3, h4, h5, h6
{
font-family: Courier New, Courier, monospace;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
}

h1
{
font-size: 143%;
}

h2
{
font-size: 135%;
}

h3
{
font-size: 127%;
}

h4
{
font-size: 119%;
}

h5
{
font-size: 111%;
}

h6
{
font-size: 103%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(65,55,118);
color: rgb(0,0,0);
}

#trail a
{
text-decoration: none;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
.menuitem		{display: inline;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

