body
{
background-color: rgb(233,207,225);
color: rgb(170,101,149);
font-family: Arial, Helvetica, sans-serif;
border-left-width: 0px; border-right-width: 3px; border-top-width: 3px; border-bottom-width: 0px;
border-left-style: none; border-right-style: inset; border-top-style: inset; border-bottom-style: none;
border-color: rgb(165,61,133);
}

#content
{
font-size: 105%;
background-color: rgb(255,255,255);
color: rgb(0,0,0);
border-left-width: 1px; border-right-width: 1px; border-top-width: 1px; border-bottom-width: 1px;
border-left-style: solid; border-right-style: solid; border-top-style: solid; border-bottom-style: solid;
padding: 36px 50px 36px 50px;
border-color: rgb(0,0,0);
text-align: justify;
}

#menu
{
background-color: rgb(199,186,195);
color: rgb(176,36,133);
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
text-indent: 10;
border-color: rgb(0,0,0);
}

a.menuitem
{
font-size: 126%;
background-color: rgb(199,186,195);
color: rgb(176,36,133);
font-variant: normal;
text-transform: none;
font-weight: normal;
margin-left: 10px; margin-right: 10px; margin-top: 10px; margin-bottom: 10px;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(199,186,195);
text-align: left;
}

#logo, #logo a
{
font-size: 174%;
background-color: rgb(233,207,225);
color: rgb(176,36,133);
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
padding: 15px 15px 15px 15px;
border-color: rgb(165,61,133);
text-align: left;
}

#trail, #trail a
{
font-size: 122%;
background-color: rgb(233,207,225);
color: rgb(170,101,149);
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 0px 0px 0px 0px;
border-color: rgb(199,186,195);
text-align: center;
}

#content a
{
color: rgb(165,61,133);
text-decoration: underline;
}

#content a:hover, #content a:active
{
background-color: rgb(165,61,133);
color: rgb(255,255,255);
}

h1, h2, h3, h4, h5, h6
{
font-family: Georgia, serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
}

h1
{
font-size: 171%;
}

h2
{
font-size: 156%;
}

h3
{
font-size: 141%;
}

h4
{
font-size: 126%;
}

h5
{
font-size: 111%;
}

h6
{
font-size: 96%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(176,36,133);
color: rgb(199,186,195);
}

#trail a
{
text-decoration: none;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
#menu		{width: 26%; position: relative; top: 0; right: 0; float: right; text-align: center;}
.menuitem		{width: auto;}
#content		{margin-right: 26%; width: auto}
.menuitem		{display: block;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

