body
{
background-color: rgb(0,0,0);
color: rgb(251,7,43);
font-family: Verdana, Arial, Helvetica, sans-serif;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(255,255,255);
}

#content
{
font-size: 113%;
background-color: rgb(255,255,255);
color: rgb(0,0,0);
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 45px 45px 45px 45px;
border-color: rgb(0,0,0);
text-align: left;
}

#menu
{
background-color: rgb(0,0,0);
color: rgb(251,7,43);
font-family: Trebuchet MS, sans-serif;
font-style: normal;
border-color: rgb(127,21,44);
}

a.menuitem
{
font-size: 136%;
background-color: rgb(0,0,0);
color: rgb(176,20,89);
font-variant: normal;
text-transform: none;
font-weight: bold;
margin-left: 8px; margin-right: 8px; margin-top: 8px; margin-bottom: 8px;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(0,0,0);
text-align: right;
}

#logo, #logo a
{
font-size: 152%;
background-color: rgb(0,0,0);
color: rgb(145,71,70);
font-family: Trebuchet MS, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
padding: 0px 0px 0px 0px;
border-color: rgb(127,21,44);
text-align: center;
}

#trail, #trail a
{
font-size: 128%;
background-color: rgb(0,0,0);
color: rgb(251,7,43);
font-style: normal;
font-variant: normal;
text-transform: uppercase;
font-weight: normal;
border-left-width: 1px; border-right-width: 1px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: solid; border-right-style: solid; border-top-style: none; border-bottom-style: none;
padding: 12px 5px 12px 5px;
border-color: rgb(176,20,89);
text-align: right;
}

#content a
{
color: rgb(145,71,70);
text-decoration: none;
}

#content a:hover, #content a:active
{
background-color: rgb(145,71,70);
color: rgb(255,255,255);
}

h1, h2, h3, h4, h5, h6
{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
}

h1
{
font-size: 158%;
}

h2
{
font-size: 143%;
}

h3
{
font-size: 128%;
}

h4
{
font-size: 113%;
}

h5
{
font-size: 98%;
}

h6
{
font-size: 83%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(176,20,89);
color: rgb(0,0,0);
}

#trail a
{
text-decoration: none;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
.menuitem		{display: inline;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

