body
{
background-color: rgb(101,140,101);
color: rgb(31,56,31);
font-family: Courier New, Courier, monospace;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(43,199,46);
}

#content
{
font-size: 113%;
background-color: rgb(101,140,101);
color: rgb(255,255,255);
border-left-width: 4px; border-right-width: 4px; border-top-width: 4px; border-bottom-width: 4px;
border-left-style: outset; border-right-style: outset; border-top-style: outset; border-bottom-style: outset;
padding: 8px 8px 8px 8px;
border-color: rgb(0,0,0);
text-align: left;
}

#menu
{
background-color: rgb(255,255,255);
color: rgb(28,74,29);
font-family: Georgia, serif;
font-style: italic;
border-color: rgb(101,140,101);
}

a.menuitem
{
font-size: 156%;
background-color: rgb(255,255,255);
color: rgb(26,137,28);
font-variant: normal;
text-transform: capitalize;
font-weight: normal;
margin-left: 17px; margin-right: 17px; margin-top: 17px; margin-bottom: 17px;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(28,74,29);
text-align: center;
}

#logo, #logo a
{
font-size: 177%;
background-color: rgb(28,74,29);
color: rgb(101,140,101);
font-family: Georgia, serif;
font-style: normal;
font-variant: small-caps;
text-transform: none;
font-weight: normal;
padding: 18px 18px 18px 18px;
border-color: rgb(28,74,29);
text-align: right;
}

#trail, #trail a
{
font-size: 99%;
background-color: rgb(255,255,255);
color: rgb(26,137,28);
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
text-indent: 23;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 12px 12px 12px 12px;
border-color: rgb(101,140,101);
text-align: left;
}

#content a
{
color: rgb(176,230,177);
text-decoration: underline oveline;
}

#content a:hover, #content a:active
{
background-color: rgb(176,230,177);
color: rgb(101,140,101);
}

h1, h2, h3, h4, h5, h6
{
font-family: Courier New, Courier, monospace;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
}

h1
{
font-size: 179%;
}

h2
{
font-size: 164%;
}

h3
{
font-size: 149%;
}

h4
{
font-size: 134%;
}

h5
{
font-size: 119%;
}

h6
{
font-size: 104%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(26,137,28);
color: rgb(255,255,255);
}

#trail a
{
text-decoration: underline oveline;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
.menuitem		{display: inline;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

