body
{
background-color: rgb(255,255,255);
color: rgb(107,204,155);
font-family: Palatino, serif;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(199,124,162);
}

#content
{
font-size: 103%;
background-color: rgb(255,255,255);
color: rgb(0,0,0);
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 16px 16px 16px 16px;
border-color: rgb(0,0,0);
text-align: left;
}

#menu
{
background-color: rgb(255,255,255);
color: rgb(199,41,122);
font-family: Palatino, serif;
font-style: normal;
border-color: rgb(107,180,143);
}

a.menuitem
{
font-size: 138%;
background-color: rgb(107,180,143);
color: rgb(65,37,51);
font-variant: normal;
text-transform: capitalize;
font-weight: normal;
margin-left: 19px; margin-right: 19px; margin-top: 19px; margin-bottom: 19px;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(199,41,122);
text-align: left;
}

#logo, #logo a
{
font-size: 166%;
background-color: rgb(199,124,162);
color: rgb(34,218,124);
font-family: Palatino, serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
padding: 8px 8px 8px 8px;
border-color: rgb(199,124,162);
text-align: right;
}

#trail, #trail a
{
font-size: 122%;
background-color: rgb(0,0,0);
color: rgb(34,218,124);
font-style: normal;
font-variant: normal;
text-transform: uppercase;
font-weight: normal;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 18px 18px 18px 18px;
border-color: rgb(107,180,143);
text-align: right;
}

#content a
{
color: rgb(65,37,51);
text-decoration: underline;
}

#content a:hover, #content a:active
{
background-color: rgb(65,37,51);
color: rgb(255,255,255);
}

h1, h2, h3, h4, h5, h6
{
font-family: Palatino, serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
}

h1
{
font-size: 170%;
}

h2
{
font-size: 159%;
}

h3
{
font-size: 148%;
}

h4
{
font-size: 137%;
}

h5
{
font-size: 126%;
}

h6
{
font-size: 115%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(65,37,51);
color: rgb(107,180,143);
}

#trail a
{
text-decoration: none;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
.menuitem		{display: inline;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

