body
{
background-color: rgb(255,255,255);
color: rgb(90,30,73);
font-family: Tahoma, sans-serif;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(90,30,73);
}

#content
{
font-size: 104%;
background-color: rgb(255,255,255);
color: rgb(90,30,73);
border-left-width: 1px; border-right-width: 1px; border-top-width: 1px; border-bottom-width: 1px;
border-left-style: outset; border-right-style: outset; border-top-style: outset; border-bottom-style: outset;
padding: 27px 27px 27px 27px;
border-color: rgb(0,0,0);
text-align: left;
}

#menu
{
background-color: rgb(255,255,255);
color: rgb(31,108,53);
font-family: Tahoma, sans-serif;
font-style: normal;
border-color: rgb(90,30,73);
}

a.menuitem
{
font-size: 146%;
background-color: rgb(166,48,132);
color: rgb(248,241,246);
font-variant: small-caps;
text-transform: none;
font-weight: normal;
margin-left: 4px; margin-right: 17px; margin-top: 6px; margin-bottom: 6px;
border-left-width: 1px; border-right-width: 1px; border-top-width: 1px; border-bottom-width: 1px;
border-left-style: solid; border-right-style: solid; border-top-style: solid; border-bottom-style: solid;
border-color: rgb(31,108,53);
text-align: left;
}

#logo, #logo a
{
font-size: 175%;
background-color: rgb(166,48,132);
color: rgb(31,108,53);
font-family: Trebuchet MS, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: bold;
padding: 18px 18px 18px 18px;
border-color: rgb(166,48,132);
text-align: right;
}

#trail, #trail a
{
font-size: 104%;
background-color: rgb(90,30,73);
color: rgb(248,241,246);
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: bold;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 0px 13px 0px 13px;
border-color: rgb(166,48,132);
text-align: right;
}

#content a
{
color: rgb(166,48,132);
text-decoration: underline;
}

#content a:hover, #content a:active
{
background-color: rgb(166,48,132);
color: rgb(255,255,255);
}

h1, h2, h3, h4, h5, h6
{
font-family: Trebuchet MS, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
}

h1
{
font-size: 179%;
}

h2
{
font-size: 169%;
}

h3
{
font-size: 159%;
}

h4
{
font-size: 149%;
}

h5
{
font-size: 139%;
}

h6
{
font-size: 129%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(248,241,246);
color: rgb(166,48,132);
}

#trail a
{
text-decoration: none;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
#menu		{width: 30%; position: relative; top: 0; left: 0; float: left; text-align: center;}
.menuitem		{width: auto;}
#content		{margin-left: 30%; width: auto}
.menuitem		{display: block;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

