body
{
background-color: rgb(27,96,29);
color: rgb(177,110,175);
font-family: Times New Roman, serif;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(86,220,89);
}

#content
{
font-size: 106%;
background-color: rgb(255,255,255);
color: rgb(0,0,0);
border-left-width: 6px; border-right-width: 6px; border-top-width: 6px; border-bottom-width: 6px;
border-left-style: groove; border-right-style: groove; border-top-style: groove; border-bottom-style: groove;
padding: 8px 8px 8px 8px;
border-color: rgb(0,0,0);
text-align: left;
}

#menu
{
background-color: rgb(255,255,255);
color: rgb(44,120,46);
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
border-color: rgb(70,236,74);
}

a.menuitem
{
font-size: 156%;
background-color: rgb(0,0,0);
color: rgb(177,110,175);
font-variant: normal;
text-transform: none;
font-weight: normal;
margin-left: 6px; margin-right: 6px; margin-top: 6px; margin-bottom: 6px;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(0,0,0);
text-align: right;
}

#logo, #logo a
{
font-size: 188%;
background-color: rgb(0,0,0);
color: rgb(70,236,74);
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
padding: 8px 8px 8px 8px;
border-color: rgb(0,0,0);
text-align: left;
}

#trail, #trail a
{
font-size: 114%;
background-color: rgb(0,0,0);
color: rgb(88,31,87);
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
border-left-width: 11px; border-right-width: 11px; border-top-width: 6px; border-bottom-width: 6px;
border-left-style: double; border-right-style: double; border-top-style: double; border-bottom-style: double;
padding: 0px 0px 0px 0px;
border-color: rgb(255,255,255);
text-align: center;
}

#content a
{
color: rgb(27,96,29);
text-decoration: none;
}

#content a:hover, #content a:active
{
background-color: rgb(27,96,29);
color: rgb(255,255,255);
}

h1, h2, h3, h4, h5, h6
{
font-family: Times New Roman, serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
}

h1
{
font-size: 120%;
}

h2
{
font-size: 109%;
}

h3
{
font-size: 98%;
}

h4
{
font-size: 87%;
}

h5
{
font-size: 76%;
}

h6
{
font-size: 65%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(177,110,175);
color: rgb(0,0,0);
}

#trail a
{
text-decoration: none;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
#menu		{width: 30%; position: relative; top: 0; right: 0; float: right; text-align: center;}
.menuitem		{width: auto;}
#content		{margin-right: 30%; width: auto}
.menuitem		{display: block;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

