body
{
background-color: rgb(255,255,255);
color: rgb(147,200,66);
font-family: Trebuchet MS, sans-serif;
border-left-width: 0px; border-right-width: 0px; border-top-width: 7px; border-bottom-width: 7px;
border-left-style: none; border-right-style: none; border-top-style: outset; border-bottom-style: outset;
border-color: rgb(147,200,66);
}

#content
{
font-size: 104%;
background-color: rgb(0,0,0);
color: rgb(85,130,18);
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 2px 2px 2px 2px;
border-color: rgb(0,0,0);
text-align: justify;
}

#menu
{
background-color: rgb(255,255,255);
color: rgb(147,200,66);
font-family: Trebuchet MS, sans-serif;
font-style: italic;
border-color: rgb(185,222,129);
}

a.menuitem
{
font-size: 160%;
background-color: rgb(255,255,255);
color: rgb(185,222,129);
font-variant: small-caps;
text-transform: none;
font-weight: normal;
margin-left: 4px; margin-right: 4px; margin-top: 4px; margin-bottom: 4px;
border-left-width: 6px; border-right-width: 1px; border-top-width: 3px; border-bottom-width: 1px;
border-left-style: dotted; border-right-style: dotted; border-top-style: dotted; border-bottom-style: dotted;
border-color: rgb(156,192,101);
text-align: left;
}

#logo, #logo a
{
font-size: 171%;
background-color: rgb(255,255,255);
color: rgb(156,192,101);
font-family: Trebuchet MS, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: bold;
padding: 8px 8px 8px 8px;
border-color: rgb(112,154,128);
text-align: left;
}

#trail, #trail a
{
font-size: 101%;
background-color: rgb(13,65,33);
color: rgb(112,154,128);
font-style: italic;
font-variant: normal;
text-transform: none;
font-weight: bold;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 0px 0px 0px 0px;
border-color: rgb(114,211,151);
text-align: right;
}

#content a
{
color: rgb(99,124,62);
text-decoration: none;
}

#content a:hover, #content a:active
{
background-color: rgb(99,124,62);
color: rgb(0,0,0);
}

h1, h2, h3, h4, h5, h6
{
font-family: Trebuchet MS, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: bold;
}

h1
{
font-size: 128%;
}

h2
{
font-size: 113%;
}

h3
{
font-size: 98%;
}

h4
{
font-size: 83%;
}

h5
{
font-size: 68%;
}

h6
{
font-size: 53%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(112,154,128);
color: rgb(28,34,30);
}

#trail a
{
text-decoration: none;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
.menuitem		{display: inline;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

