body
{
background-color: rgb(24,133,214);
color: rgb(145,215,213);
font-family: Palatino, serif;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(24,133,214);
}

#content
{
font-size: 109%;
background-color: rgb(24,133,214);
color: rgb(255,255,255);
border-left-width: 11px; border-right-width: 11px; border-top-width: 11px; border-bottom-width: 11px;
border-left-style: groove; border-right-style: groove; border-top-style: groove; border-bottom-style: groove;
padding: 45px 45px 45px 45px;
border-color: rgb(0,0,0);
text-align: left;
}

#menu
{
background-color: rgb(0,0,0);
color: rgb(24,133,214);
font-family: Palatino, serif;
font-style: normal;
border-color: rgb(147,216,216);
}

a.menuitem
{
font-size: 124%;
background-color: rgb(31,100,83);
color: rgb(147,216,216);
font-variant: normal;
text-transform: none;
font-weight: normal;
margin-left: 18px; margin-right: 18px; margin-top: 18px; margin-bottom: 18px;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(0,0,0);
text-align: center;
}

#logo, #logo a
{
font-size: 193%;
background-color: rgb(0,0,0);
color: rgb(65,186,217);
font-family: Palatino, serif;
font-style: normal;
font-variant: small-caps;
text-transform: none;
font-weight: normal;
padding: 13px 18px 13px 18px;
border-color: rgb(156,185,236);
text-align: center;
}

#trail, #trail a
{
font-size: 92%;
background-color: rgb(65,186,217);
color: rgb(31,100,83);
font-style: normal;
font-variant: normal;
text-transform: capitalize;
font-weight: bold;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 18px 18px 18px 18px;
border-color: rgb(156,185,236);
text-align: left;
}

#content a
{
color: rgb(156,185,236);
text-decoration: underline;
}

#content a:hover, #content a:active
{
background-color: rgb(156,185,236);
color: rgb(24,133,214);
}

h1, h2, h3, h4, h5, h6
{
font-family: Palatino, serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: bold;
}

h1
{
font-size: 173%;
}

h2
{
font-size: 164%;
}

h3
{
font-size: 155%;
}

h4
{
font-size: 146%;
}

h5
{
font-size: 137%;
}

h6
{
font-size: 128%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(147,216,216);
color: rgb(31,100,83);
}

#trail a
{
text-decoration: underline;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
#menu		{width: 28%; position: relative; top: 0; left: 0; float: left; text-align: center;}
.menuitem		{width: auto;}
#content		{margin-left: 28%; width: auto}
.menuitem		{display: block;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

