body
{
background-color: rgb(7,45,55);
color: rgb(179,230,243);
font-family: Times New Roman, serif;
border-left-width: 1px; border-right-width: 1px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: dotted; border-right-style: dotted; border-top-style: none; border-bottom-style: none;
border-color: rgb(179,230,243);
}

#content
{
font-size: 104%;
background-color: rgb(0,0,0);
color: rgb(255,255,255);
border-left-width: 1px; border-right-width: 1px; border-top-width: 1px; border-bottom-width: 1px;
border-left-style: dotted; border-right-style: dotted; border-top-style: dotted; border-bottom-style: dotted;
padding: 27px 27px 27px 27px;
border-color: rgb(0,0,0);
text-align: left;
}

#menu
{
background-color: rgb(23,45,52);
color: rgb(11,145,180);
font-family: Verdana, Arial, Helvetica, sans-serif;
font-style: normal;
border-color: rgb(23,45,52);
}

a.menuitem
{
font-size: 147%;
background-color: rgb(255,255,255);
color: rgb(7,45,55);
font-variant: small-caps;
text-transform: none;
font-weight: normal;
margin-left: 18px; margin-right: 18px; margin-top: 18px; margin-bottom: 18px;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(0,0,0);
text-align: center;
}

#logo, #logo a
{
font-size: 191%;
background-color: rgb(255,255,255);
color: rgb(23,45,52);
font-family: Times New Roman, serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
padding: 11px 4px 3px 8px;
border-color: rgb(255,255,255);
text-align: left;
}

#trail, #trail a
{
font-size: 122%;
background-color: rgb(0,0,0);
color: rgb(25,106,128);
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 3px 4px 3px 4px;
border-color: rgb(25,106,128);
text-align: center;
}

#content a
{
color: rgb(25,106,128);
text-decoration: none;
}

#content a:hover, #content a:active
{
background-color: rgb(25,106,128);
color: rgb(0,0,0);
}

h1, h2, h3, h4, h5, h6
{
font-family: Times New Roman, serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
}

h1
{
font-size: 155%;
}

h2
{
font-size: 141%;
}

h3
{
font-size: 127%;
}

h4
{
font-size: 113%;
}

h5
{
font-size: 99%;
}

h6
{
font-size: 85%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(7,45,55);
color: rgb(255,255,255);
}

#trail a
{
text-decoration: none;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
#menu		{width: 22%; position: relative; top: 0; left: 0; float: left; text-align: center;}
.menuitem		{width: auto;}
#content		{margin-left: 22%; width: auto}
.menuitem		{display: block;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

