body
{
background-color: rgb(187,113,195);
color: rgb(77,12,116);
font-family: Verdana, Arial, Helvetica, sans-serif;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(70,56,114);
}

#content
{
font-size: 104%;
background-color: rgb(103,35,94);
color: rgb(189,164,200);
border-left-width: 8px; border-right-width: 8px; border-top-width: 8px; border-bottom-width: 8px;
border-left-style: groove; border-right-style: groove; border-top-style: groove; border-bottom-style: groove;
padding: 39px 39px 39px 39px;
border-color: rgb(0,0,0);
text-align: left;
}

#menu
{
background-color: rgb(255,255,255);
color: rgb(189,164,200);
font-family: Verdana, Arial, Helvetica, sans-serif;
font-style: normal;
border-color: rgb(189,164,200);
}

a.menuitem
{
font-size: 130%;
background-color: rgb(255,255,255);
color: rgb(80,53,111);
font-variant: normal;
text-transform: none;
font-weight: normal;
margin-left: 18px; margin-right: 18px; margin-top: 18px; margin-bottom: 18px;
border-left-width: 1px; border-right-width: 1px; border-top-width: 1px; border-bottom-width: 1px;
border-left-style: solid; border-right-style: solid; border-top-style: solid; border-bottom-style: solid;
border-color: rgb(255,255,255);
text-align: left;
}

#logo, #logo a
{
font-size: 189%;
background-color: rgb(0,0,0);
color: rgb(80,53,111);
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
padding: 3px 3px 3px 3px;
border-color: rgb(189,164,200);
text-align: right;
}

#trail, #trail a
{
font-size: 126%;
background-color: rgb(0,0,0);
color: rgb(80,53,111);
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 14px 14px 14px 14px;
border-color: rgb(80,53,111);
text-align: left;
}

#content a
{
color: rgb(255,255,255);
text-decoration: underline;
}

#content a:hover, #content a:active
{
background-color: rgb(255,255,255);
color: rgb(103,35,94);
}

h1, h2, h3, h4, h5, h6
{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
}

h1
{
font-size: 167%;
}

h2
{
font-size: 156%;
}

h3
{
font-size: 145%;
}

h4
{
font-size: 134%;
}

h5
{
font-size: 123%;
}

h6
{
font-size: 112%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(80,53,111);
color: rgb(255,255,255);
}

#trail a
{
text-decoration: none;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
#menu		{width: 28%; position: relative; top: 0; right: 0; float: right; text-align: center;}
.menuitem		{width: auto;}
#content		{margin-right: 28%; width: auto}
.menuitem		{display: block;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

