body
{
background-color: rgb(231,210,221);
color: rgb(91,42,69);
font-family: Times New Roman, serif;
border-left-width: 0px; border-right-width: 0px; border-top-width: 9px; border-bottom-width: 9px;
border-left-style: none; border-right-style: none; border-top-style: dotted; border-bottom-style: outset;
border-color: rgb(91,42,69);
}

#content
{
font-size: 106%;
background-color: rgb(200,54,133);
color: rgb(255,255,255);
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 7px 7px 7px 7px;
border-color: rgb(0,0,0);
text-align: left;
}

#menu
{
background-color: rgb(255,255,255);
color: rgb(200,54,133);
font-family: Times New Roman, serif;
font-style: normal;
border-color: rgb(0,0,0);
}

a.menuitem
{
font-size: 143%;
background-color: rgb(0,0,0);
color: rgb(231,210,221);
font-variant: normal;
text-transform: none;
font-weight: normal;
margin-left: 14px; margin-right: 14px; margin-top: 14px; margin-bottom: 14px;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(231,210,221);
text-align: left;
}

#logo, #logo a
{
font-size: 190%;
background-color: rgb(231,210,221);
color: rgb(200,54,133);
font-family: Times New Roman, serif;
font-style: normal;
font-variant: small-caps;
text-transform: none;
font-weight: bold;
padding: 0px 0px 0px 0px;
border-color: rgb(200,54,133);
text-align: left;
}

#trail, #trail a
{
font-size: 130%;
background-color: rgb(91,42,69);
color: rgb(218,188,204);
font-style: italic;
font-variant: small-caps;
text-transform: none;
font-weight: normal;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 0px 0px 0px 0px;
border-color: rgb(0,0,0);
text-align: center;
}

#content a
{
color: rgb(231,210,221);
text-decoration: underline;
}

#content a:hover, #content a:active
{
background-color: rgb(231,210,221);
color: rgb(200,54,133);
}

h1, h2, h3, h4, h5, h6
{
font-family: Times New Roman, serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
}

h1
{
font-size: 162%;
}

h2
{
font-size: 148%;
}

h3
{
font-size: 134%;
}

h4
{
font-size: 120%;
}

h5
{
font-size: 106%;
}

h6
{
font-size: 92%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(231,210,221);
color: rgb(0,0,0);
}

#trail a
{
text-decoration: none;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
#menu		{width: 27%; position: relative; top: 0; right: 0; float: right; text-align: center;}
.menuitem		{width: auto;}
#content		{margin-right: 27%; width: auto}
.menuitem		{display: block;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

