body
{
background-color: rgb(210,123,55);
color: rgb(240,198,164);
font-family: Times New Roman, serif;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: groove; border-top-style: none; border-bottom-style: none;
border-color: rgb(255,255,255);
}

#content
{
font-size: 93%;
background-color: rgb(207,143,93);
color: rgb(255,255,255);
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 25px 25px 25px 25px;
border-color: rgb(0,0,0);
text-align: left;
}

#menu
{
background-color: rgb(0,0,0);
color: rgb(15,143,244);
font-family: Times New Roman, serif;
font-style: normal;
border-color: rgb(236,195,162);
}

a.menuitem
{
font-size: 126%;
background-color: rgb(210,123,55);
color: rgb(236,195,162);
font-variant: normal;
text-transform: none;
font-weight: normal;
margin-left: 15px; margin-right: 15px; margin-top: 15px; margin-bottom: 15px;
border-left-width: 1px; border-right-width: 1px; border-top-width: 1px; border-bottom-width: 1px;
border-left-style: outset; border-right-style: outset; border-top-style: outset; border-bottom-style: outset;
border-color: rgb(0,0,0);
text-align: right;
}

#logo, #logo a
{
font-size: 150%;
background-color: rgb(0,0,0);
color: rgb(240,198,164);
font-family: Times New Roman, serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: bold;
padding: 19px 19px 19px 19px;
border-color: rgb(236,195,162);
text-align: left;
}

#trail, #trail a
{
font-size: 121%;
background-color: rgb(0,0,0);
color: rgb(240,198,164);
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
border-left-width: 1px; border-right-width: 1px; border-top-width: 10px; border-bottom-width: 10px;
border-left-style: solid; border-right-style: solid; border-top-style: solid; border-bottom-style: solid;
padding: 0px 0px 0px 0px;
border-color: rgb(210,123,55);
text-align: left;
}

#content a
{
color: rgb(15,143,244);
text-decoration: underline;
}

#content a:hover, #content a:active
{
background-color: rgb(15,143,244);
color: rgb(207,143,93);
}

h1, h2, h3, h4, h5, h6
{
font-family: Times New Roman, serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
}

h1
{
font-size: 145%;
}

h2
{
font-size: 134%;
}

h3
{
font-size: 123%;
}

h4
{
font-size: 112%;
}

h5
{
font-size: 101%;
}

h6
{
font-size: 90%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(236,195,162);
color: rgb(210,123,55);
}

#trail a
{
text-decoration: underline;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
.menuitem		{display: inline;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

