body
{
background-color: rgb(0,0,0);
color: rgb(79,75,67);
font-family: Times New Roman, serif;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(79,75,67);
}

#content
{
font-size: 107%;
background-color: rgb(255,255,255);
color: rgb(0,0,0);
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 46px 46px 46px 46px;
border-color: rgb(0,0,0);
text-align: left;
}

#menu
{
background-color: rgb(220,202,177);
color: rgb(79,75,67);
font-family: Georgia, serif;
font-style: normal;
border-color: rgb(0,0,0);
}

a.menuitem
{
font-size: 153%;
background-color: rgb(255,255,255);
color: rgb(79,75,67);
font-variant: normal;
text-transform: none;
font-weight: normal;
margin-left: 15px; margin-right: 15px; margin-top: 18px; margin-bottom: 18px;
border-left-width: 7px; border-right-width: 7px; border-top-width: 7px; border-bottom-width: 7px;
border-left-style: solid; border-right-style: solid; border-top-style: solid; border-bottom-style: solid;
border-color: rgb(212,144,102);
text-align: center;
}

#logo, #logo a
{
font-size: 185%;
background-color: rgb(0,0,0);
color: rgb(233,236,158);
font-family: Times New Roman, serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
padding: 16px 16px 16px 16px;
border-color: rgb(212,144,102);
text-align: left;
}

#trail, #trail a
{
font-size: 113%;
background-color: rgb(0,0,0);
color: rgb(79,75,67);
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: bold;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 14px 14px 14px 14px;
border-color: rgb(0,0,0);
text-align: left;
}

#content a
{
color: rgb(181,163,77);
text-decoration: underline;
}

#content a:hover, #content a:active
{
background-color: rgb(181,163,77);
color: rgb(255,255,255);
}

h1, h2, h3, h4, h5, h6
{
font-family: Georgia, serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
}

h1
{
font-size: 140%;
}

h2
{
font-size: 131%;
}

h3
{
font-size: 122%;
}

h4
{
font-size: 113%;
}

h5
{
font-size: 104%;
}

h6
{
font-size: 95%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(79,75,67);
color: rgb(255,255,255);
}

#trail a
{
text-decoration: underline;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
.menuitem		{display: inline;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

