body
{
background-color: rgb(207,124,147);
color: rgb(65,183,150);
font-family: Verdana, Arial, Helvetica, sans-serif;
border-left-width: 4px; border-right-width: 4px; border-top-width: 4px; border-bottom-width: 4px;
border-left-style: solid; border-right-style: solid; border-top-style: solid; border-bottom-style: solid;
border-color: rgb(134,77,93);
}

#content
{
font-size: 114%;
background-color: rgb(255,255,255);
color: rgb(0,0,0);
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 29px 25px 19px 5px;
border-color: rgb(0,0,0);
text-align: left;
}

#menu
{
background-color: rgb(207,124,147);
color: rgb(65,183,150);
font-family: Verdana, Arial, Helvetica, sans-serif;
font-style: italic;
border-color: rgb(134,77,93);
}

a.menuitem
{
font-size: 152%;
background-color: rgb(165,105,122);
color: rgb(65,183,150);
font-variant: normal;
text-transform: none;
font-weight: bold;
margin-left: 14px; margin-right: 14px; margin-top: 14px; margin-bottom: 14px;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(65,183,150);
text-align: left;
}

#logo, #logo a
{
font-size: 150%;
background-color: rgb(0,0,0);
color: rgb(65,183,150);
font-family: Verdana, Arial, Helvetica, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: bold;
padding: 13px 13px 13px 13px;
border-color: rgb(27,165,127);
text-align: center;
}

#trail, #trail a
{
font-size: 124%;
background-color: rgb(27,165,127);
color: rgb(165,105,122);
font-style: italic;
font-variant: normal;
text-transform: none;
font-weight: normal;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 12px 12px 12px 12px;
border-color: rgb(134,77,93);
text-align: center;
}

#content a
{
color: rgb(134,77,93);
text-decoration: underline;
}

#content a:hover, #content a:active
{
background-color: rgb(134,77,93);
color: rgb(255,255,255);
}

h1, h2, h3, h4, h5, h6
{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: bold;
}

h1
{
font-size: 143%;
}

h2
{
font-size: 135%;
}

h3
{
font-size: 127%;
}

h4
{
font-size: 119%;
}

h5
{
font-size: 111%;
}

h6
{
font-size: 103%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(65,183,150);
color: rgb(165,105,122);
}

#trail a
{
text-decoration: underline;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
.menuitem		{display: inline;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

