body
{
background-color: rgb(0,0,0);
color: rgb(148,94,74);
font-family: Verdana, Arial, Helvetica, sans-serif;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(0,0,0);
}

#content
{
font-size: 98%;
background-color: rgb(255,255,255);
color: rgb(44,19,10);
border-left-width: 6px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: solid; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 39px 39px 39px 39px;
border-color: rgb(0,0,0);
text-align: justify;
}

#menu
{
background-color: rgb(232,185,167);
color: rgb(148,94,74);
font-family: Verdana, Arial, Helvetica, sans-serif;
font-style: normal;
border-color: rgb(0,0,0);
}

a.menuitem
{
font-size: 135%;
background-color: rgb(44,19,10);
color: rgb(240,202,188);
font-variant: normal;
text-transform: none;
font-weight: normal;
margin-left: 6px; margin-right: 6px; margin-top: 6px; margin-bottom: 6px;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(0,0,0);
text-align: right;
}

#logo, #logo a
{
font-size: 193%;
background-color: rgb(255,255,255);
color: rgb(207,141,117);
font-family: Verdana, Arial, Helvetica, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
padding: 1px 1px 1px 1px;
border-color: rgb(0,0,0);
text-align: left;
}

#trail, #trail a
{
font-size: 126%;
background-color: rgb(44,19,10);
color: rgb(207,141,117);
font-style: normal;
font-variant: normal;
text-transform: uppercase;
font-weight: normal;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 3px 3px 3px 3px;
border-color: rgb(255,255,255);
text-align: left;
}

#content a
{
color: rgb(239,85,28);
text-decoration: underline;
}

#content a:hover, #content a:active
{
background-color: rgb(239,85,28);
color: rgb(255,255,255);
}

h1, h2, h3, h4, h5, h6
{
font-family: Times New Roman, serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: bold;
}

h1
{
font-size: 134%;
}

h2
{
font-size: 124%;
}

h3
{
font-size: 114%;
}

h4
{
font-size: 104%;
}

h5
{
font-size: 94%;
}

h6
{
font-size: 84%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(240,202,188);
color: rgb(44,19,10);
}

#trail a
{
text-decoration: underline;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
#menu		{width: 29%; position: relative; top: 0; left: 0; float: left; text-align: center;}
.menuitem		{width: auto;}
#content		{margin-left: 29%; width: auto}
.menuitem		{display: block;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

