body
{
background-color: rgb(0,0,0);
color: rgb(196,15,233);
font-family: Verdana, Arial, Helvetica, sans-serif;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(0,0,0);
}

#content
{
font-size: 120%;
background-color: rgb(175,37,176);
color: rgb(255,255,255);
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 31px 38px 4px 40px;
border-color: rgb(0,0,0);
text-align: justify;
}

#menu
{
background-color: rgb(123,90,151);
color: rgb(196,15,233);
font-family: Verdana, Arial, Helvetica, sans-serif;
font-style: normal;
border-color: rgb(196,15,233);
}

a.menuitem
{
font-size: 134%;
background-color: rgb(255,255,255);
color: rgb(179,52,217);
font-variant: normal;
text-transform: none;
font-weight: normal;
margin-left: 9px; margin-right: 9px; margin-top: 9px; margin-bottom: 9px;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(196,15,233);
text-align: left;
}

#logo, #logo a
{
font-size: 189%;
background-color: rgb(0,0,0);
color: rgb(255,255,255);
font-family: Verdana, Arial, Helvetica, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
padding: 13px 13px 13px 13px;
border-color: rgb(179,52,217);
text-align: left;
}

#trail, #trail a
{
font-size: 114%;
background-color: rgb(255,255,255);
color: rgb(173,83,154);
font-style: italic;
font-variant: normal;
text-transform: none;
font-weight: normal;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 1px 1px 1px 1px;
border-color: rgb(220,173,200);
text-align: left;
}

#content a
{
color: rgb(220,173,200);
text-decoration: underline;
}

#content a:hover, #content a:active
{
background-color: rgb(220,173,200);
color: rgb(175,37,176);
}

h1, h2, h3, h4, h5, h6
{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
}

h1
{
font-size: 143%;
}

h2
{
font-size: 133%;
}

h3
{
font-size: 123%;
}

h4
{
font-size: 113%;
}

h5
{
font-size: 103%;
}

h6
{
font-size: 93%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(179,52,217);
color: rgb(255,255,255);
}

#trail a
{
text-decoration: underline;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
#menu		{width: 21%; position: relative; top: 0; left: 0; float: left; text-align: center;}
.menuitem		{width: auto;}
#content		{margin-left: 21%; width: auto}
.menuitem		{display: block;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

