body
{
background-color: rgb(108,227,134);
color: rgb(42,93,27);
font-family: Verdana, Arial, Helvetica, sans-serif;
border-left-width: 16px; border-right-width: 16px; border-top-width: 16px; border-bottom-width: 16px;
border-left-style: dotted; border-right-style: dotted; border-top-style: dotted; border-bottom-style: dotted;
border-color: rgb(0,0,0);
}

#content
{
font-size: 116%;
background-color: rgb(255,255,255);
color: rgb(84,217,83);
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 2px 2px 2px 2px;
border-color: rgb(0,0,0);
text-align: left;
}

#menu
{
background-color: rgb(130,206,180);
color: rgb(11,90,46);
font-family: Verdana, Arial, Helvetica, sans-serif;
font-style: normal;
text-indent: 13;
border-color: rgb(108,227,134);
}

a.menuitem
{
font-size: 152%;
background-color: rgb(0,0,0);
color: rgb(108,227,134);
font-variant: small-caps;
text-transform: none;
font-weight: normal;
margin-left: 20px; margin-right: 20px; margin-top: 20px; margin-bottom: 20px;
border-left-width: 8px; border-right-width: 8px; border-top-width: 1px; border-bottom-width: 1px;
border-left-style: dotted; border-right-style: dotted; border-top-style: dotted; border-bottom-style: dotted;
border-color: rgb(130,206,180);
text-align: left;
}

#logo, #logo a
{
font-size: 183%;
background-color: rgb(0,0,0);
color: rgb(78,183,94);
font-family: Verdana, Arial, Helvetica, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
padding: 19px 19px 19px 19px;
border-color: rgb(255,255,255);
text-align: left;
}

#trail, #trail a
{
font-size: 97%;
background-color: rgb(84,217,83);
color: rgb(42,93,27);
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: bold;
text-indent: 40;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 7px 8px 7px 8px;
border-color: rgb(130,206,180);
text-align: left;
}

#content a
{
color: rgb(11,90,46);
text-decoration: none;
}

#content a:hover, #content a:active
{
background-color: rgb(11,90,46);
color: rgb(255,255,255);
}

h1, h2, h3, h4, h5, h6
{
font-family: Trebuchet MS, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
}

h1
{
font-size: 144%;
}

h2
{
font-size: 133%;
}

h3
{
font-size: 122%;
}

h4
{
font-size: 111%;
}

h5
{
font-size: 100%;
}

h6
{
font-size: 89%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(108,227,134);
color: rgb(0,0,0);
}

#trail a
{
text-decoration: none;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
#menu		{width: 21%; position: relative; top: 0; left: 0; float: left; text-align: center;}
.menuitem		{width: auto;}
#content		{margin-left: 21%; width: auto}
.menuitem		{display: block;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

