body
{
background-color: rgb(255,255,255);
color: rgb(155,227,150);
font-family: Verdana, Arial, Helvetica, sans-serif;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(0,0,0);
}

#content
{
font-size: 98%;
background-color: rgb(127,197,100);
color: rgb(255,255,255);
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 46px 46px 46px 46px;
border-color: rgb(0,0,0);
text-align: left;
}

#menu
{
background-color: rgb(54,75,33);
color: rgb(179,231,93);
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
border-color: rgb(54,75,33);
}

a.menuitem
{
font-size: 149%;
background-color: rgb(255,255,255);
color: rgb(179,231,93);
font-variant: normal;
text-transform: none;
font-weight: normal;
margin-left: 4px; margin-right: 4px; margin-top: 4px; margin-bottom: 4px;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(255,255,255);
text-align: left;
}

#logo, #logo a
{
font-size: 195%;
background-color: rgb(54,75,33);
color: rgb(179,231,93);
font-family: Verdana, Arial, Helvetica, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
padding: 15px 15px 15px 15px;
border-color: rgb(255,255,255);
text-align: right;
}

#trail, #trail a
{
font-size: 110%;
background-color: rgb(0,0,0);
color: rgb(179,231,93);
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 5px 5px 5px 5px;
border-color: rgb(72,75,31);
text-align: right;
}

#content a
{
color: rgb(0,0,0);
text-decoration: none;
}

#content a:hover, #content a:active
{
background-color: rgb(0,0,0);
color: rgb(127,197,100);
}

h1, h2, h3, h4, h5, h6
{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-style: normal;
font-variant: small-caps;
text-transform: none;
font-weight: normal;
}

h1
{
font-size: 129%;
}

h2
{
font-size: 121%;
}

h3
{
font-size: 113%;
}

h4
{
font-size: 105%;
}

h5
{
font-size: 97%;
}

h6
{
font-size: 89%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(179,231,93);
color: rgb(255,255,255);
}

#trail a
{
text-decoration: none;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
#menu		{width: 26%; position: relative; top: 0; right: 0; float: right; text-align: center;}
.menuitem		{width: auto;}
#content		{margin-right: 26%; width: auto}
.menuitem		{display: block;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

