body
{
background-color: rgb(0,0,0);
color: rgb(27,182,186);
font-family: Times New Roman, serif;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(100,128,190);
}

#content
{
font-size: 91%;
background-color: rgb(0,0,0);
color: rgb(7,151,209);
border-left-width: 1px; border-right-width: 1px; border-top-width: 1px; border-bottom-width: 1px;
border-left-style: dotted; border-right-style: dotted; border-top-style: dotted; border-bottom-style: dotted;
padding: 2px 2px 2px 2px;
border-color: rgb(0,0,0);
text-align: left;
}

#menu
{
background-color: rgb(255,255,255);
color: rgb(64,142,168);
font-family: Verdana, Arial, Helvetica, sans-serif;
font-style: normal;
border-color: rgb(7,151,209);
}

a.menuitem
{
font-size: 122%;
background-color: rgb(255,255,255);
color: rgb(7,151,209);
font-variant: small-caps;
text-transform: capitalize;
font-weight: normal;
margin-left: 8px; margin-right: 8px; margin-top: 12px; margin-bottom: 12px;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(100,128,190);
text-align: left;
}

#logo, #logo a
{
font-size: 189%;
background-color: rgb(255,255,255);
color: rgb(64,142,168);
font-family: Times New Roman, serif;
font-style: italic;
font-variant: normal;
text-transform: uppercase;
font-weight: normal;
padding: 13px 13px 13px 13px;
border-color: rgb(0,0,0);
text-align: left;
}

#trail, #trail a
{
font-size: 118%;
background-color: rgb(255,255,255);
color: rgb(64,142,168);
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: bold;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 13px 13px 13px 13px;
border-color: rgb(100,128,190);
text-align: center;
}

#content a
{
color: rgb(64,142,168);
text-decoration: underline;
}

#content a:hover, #content a:active
{
background-color: rgb(64,142,168);
color: rgb(0,0,0);
}

h1, h2, h3, h4, h5, h6
{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
}

h1
{
font-size: 178%;
}

h2
{
font-size: 167%;
}

h3
{
font-size: 156%;
}

h4
{
font-size: 145%;
}

h5
{
font-size: 134%;
}

h6
{
font-size: 123%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(7,151,209);
color: rgb(255,255,255);
}

#trail a
{
text-decoration: underline;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
#menu		{width: 20%; position: relative; top: 0; left: 0; float: left; text-align: center;}
.menuitem		{width: auto;}
#content		{margin-left: 20%; width: auto}
.menuitem		{display: block;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

