body
{
background-color: rgb(136,89,183);
color: rgb(209,198,220);
font-family: Georgia, serif;
border-left-width: 0px; border-right-width: 16px; border-top-width: 16px; border-bottom-width: 0px;
border-left-style: none; border-right-style: solid; border-top-style: inset; border-bottom-style: none;
border-color: rgb(61,18,103);
}

#content
{
font-size: 112%;
background-color: rgb(255,255,255);
color: rgb(136,89,183);
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 18px 14px 2px 27px;
border-color: rgb(0,0,0);
text-align: left;
}

#menu
{
background-color: rgb(0,0,0);
color: rgb(209,198,220);
font-family: Verdana, Arial, Helvetica, sans-serif;
font-style: normal;
border-color: rgb(61,18,103);
}

a.menuitem
{
font-size: 145%;
background-color: rgb(0,0,0);
color: rgb(136,89,183);
font-variant: normal;
text-transform: none;
font-weight: normal;
margin-left: 10px; margin-right: 10px; margin-top: 10px; margin-bottom: 10px;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(209,198,220);
text-align: right;
}

#logo, #logo a
{
font-size: 189%;
background-color: rgb(0,0,0);
color: rgb(255,255,255);
font-family: Georgia, serif;
font-style: italic;
font-variant: normal;
text-transform: none;
font-weight: bold;
padding: 18px 18px 1px 20px;
border-color: rgb(255,255,255);
text-align: right;
}

#trail, #trail a
{
font-size: 115%;
background-color: rgb(52,28,75);
color: rgb(180,156,204);
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
border-left-width: 0px; border-right-width: 0px; border-top-width: 1px; border-bottom-width: 1px;
border-left-style: none; border-right-style: none; border-top-style: dashed; border-bottom-style: dashed;
padding: 17px 19px 17px 19px;
border-color: rgb(83,45,121);
text-align: right;
}

#content a
{
color: rgb(0,0,0);
text-decoration: none;
}

#content a:hover, #content a:active
{
background-color: rgb(0,0,0);
color: rgb(255,255,255);
}

h1, h2, h3, h4, h5, h6
{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
}

h1
{
font-size: 135%;
}

h2
{
font-size: 124%;
}

h3
{
font-size: 113%;
}

h4
{
font-size: 102%;
}

h5
{
font-size: 91%;
}

h6
{
font-size: 80%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(136,89,183);
color: rgb(0,0,0);
}

#trail a
{
text-decoration: none;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
#menu		{width: 25%; position: relative; top: 0; right: 0; float: right; text-align: center;}
.menuitem		{width: auto;}
#content		{margin-right: 25%; width: auto}
.menuitem		{display: block;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

