body
{
background-color: rgb(0,0,0);
color: rgb(109,49,78);
font-family: Arial, Helvetica, sans-serif;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(189,72,181);
}

#content
{
font-size: 107%;
background-color: rgb(255,255,255);
color: rgb(0,0,0);
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 6px 6px 6px 6px;
border-color: rgb(0,0,0);
text-align: left;
}

#menu
{
background-color: rgb(191,131,147);
color: rgb(109,49,78);
font-family: Georgia, serif;
font-style: italic;
border-color: rgb(203,97,222);
}

a.menuitem
{
font-size: 125%;
background-color: rgb(255,255,255);
color: rgb(191,131,147);
font-variant: normal;
text-transform: uppercase;
font-weight: normal;
margin-left: 14px; margin-right: 14px; margin-top: 14px; margin-bottom: 14px;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(191,131,147);
text-align: center;
}

#logo, #logo a
{
font-size: 152%;
background-color: rgb(255,255,255);
color: rgb(189,72,181);
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
padding: 18px 18px 18px 18px;
border-color: rgb(255,255,255);
text-align: left;
}

#trail, #trail a
{
font-size: 105%;
background-color: rgb(255,255,255);
color: rgb(189,72,181);
font-style: normal;
font-variant: small-caps;
text-transform: none;
font-weight: normal;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 7px 17px 7px 20px;
border-color: rgb(255,255,255);
text-align: center;
}

#content a
{
color: rgb(109,49,78);
text-decoration: none;
}

#content a:hover, #content a:active
{
background-color: rgb(109,49,78);
color: rgb(255,255,255);
}

h1, h2, h3, h4, h5, h6
{
font-family: Georgia, serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
}

h1
{
font-size: 140%;
}

h2
{
font-size: 131%;
}

h3
{
font-size: 122%;
}

h4
{
font-size: 113%;
}

h5
{
font-size: 104%;
}

h6
{
font-size: 95%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(191,131,147);
color: rgb(255,255,255);
}

#trail a
{
text-decoration: none;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
#menu		{width: 30%; position: relative; top: 0; left: 0; float: left; text-align: center;}
.menuitem		{width: auto;}
#content		{margin-left: 30%; width: auto}
.menuitem		{display: block;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

