body
{
background-color: rgb(255,255,255);
color: rgb(169,138,208);
font-family: Arial, Helvetica, sans-serif;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(105,1,237);
}

#content
{
font-size: 109%;
background-color: rgb(255,255,255);
color: rgb(39,29,50);
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 5px 5px 5px 5px;
border-color: rgb(0,0,0);
text-align: left;
}

#menu
{
background-color: rgb(39,29,50);
color: rgb(169,138,208);
font-family: Trebuchet MS, sans-serif;
font-style: normal;
border-color: rgb(55,11,109);
}

a.menuitem
{
font-size: 134%;
background-color: rgb(169,138,208);
color: rgb(105,1,237);
font-variant: normal;
text-transform: none;
font-weight: normal;
margin-left: 11px; margin-right: 11px; margin-top: 13px; margin-bottom: 13px;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(169,138,208);
text-align: center;
}

#logo, #logo a
{
font-size: 156%;
background-color: rgb(39,29,50);
color: rgb(159,105,228);
font-family: Trebuchet MS, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: uppercase;
font-weight: normal;
padding: 4px 4px 4px 4px;
border-color: rgb(169,138,208);
text-align: left;
}

#trail, #trail a
{
font-size: 96%;
background-color: rgb(255,255,255);
color: rgb(159,105,228);
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 7px 8px 7px 8px;
border-color: rgb(255,255,255);
text-align: center;
}

#content a
{
color: rgb(28,11,50);
text-decoration: underline;
}

#content a:hover, #content a:active
{
background-color: rgb(28,11,50);
color: rgb(255,255,255);
}

h1, h2, h3, h4, h5, h6
{
font-family: Trebuchet MS, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
}

h1
{
font-size: 144%;
}

h2
{
font-size: 131%;
}

h3
{
font-size: 118%;
}

h4
{
font-size: 105%;
}

h5
{
font-size: 92%;
}

h6
{
font-size: 79%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(105,1,237);
color: rgb(169,138,208);
}

#trail a
{
text-decoration: none;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
#menu		{width: 20%; position: relative; top: 0; right: 0; float: right; text-align: center;}
.menuitem		{width: auto;}
#content		{margin-right: 20%; width: auto}
.menuitem		{display: block;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

