body
{
background-color: rgb(56,123,121);
color: rgb(222,43,49);
font-family: Georgia, serif;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(139,209,206);
}

#content
{
font-size: 120%;
background-color: rgb(255,255,255);
color: rgb(0,0,0);
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 33px 33px 33px 33px;
border-color: rgb(0,0,0);
text-align: justify;
}

#menu
{
background-color: rgb(0,0,0);
color: rgb(174,28,32);
font-family: Georgia, serif;
font-style: normal;
border-color: rgb(174,28,32);
}

a.menuitem
{
font-size: 129%;
background-color: rgb(0,0,0);
color: rgb(174,28,32);
font-variant: normal;
text-transform: none;
font-weight: normal;
margin-left: 15px; margin-right: 15px; margin-top: 15px; margin-bottom: 15px;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(56,123,121);
text-align: left;
}

#logo, #logo a
{
font-size: 179%;
background-color: rgb(139,209,206);
color: rgb(222,43,49);
font-family: Georgia, serif;
font-style: normal;
font-variant: small-caps;
text-transform: none;
font-weight: normal;
padding: 0px 0px 0px 0px;
border-color: rgb(255,255,255);
text-align: center;
}

#trail, #trail a
{
font-size: 101%;
background-color: rgb(0,0,0);
color: rgb(174,28,32);
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 18px 18px 18px 18px;
border-color: rgb(32,158,154);
text-align: right;
}

#content a
{
color: rgb(54,166,162);
text-decoration: underline;
}

#content a:hover, #content a:active
{
background-color: rgb(54,166,162);
color: rgb(255,255,255);
}

h1, h2, h3, h4, h5, h6
{
font-family: Georgia, serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
}

h1
{
font-size: 124%;
}

h2
{
font-size: 112%;
}

h3
{
font-size: 100%;
}

h4
{
font-size: 88%;
}

h5
{
font-size: 76%;
}

h6
{
font-size: 64%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(174,28,32);
color: rgb(0,0,0);
}

#trail a
{
text-decoration: none;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
#menu		{width: 25%; position: relative; top: 0; right: 0; float: right; text-align: center;}
.menuitem		{width: auto;}
#content		{margin-right: 25%; width: auto}
.menuitem		{display: block;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

