body
{
background-color: rgb(0,0,0);
color: rgb(127,198,194);
font-family: Courier New, Courier, monospace;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: inset; border-right-style: inset; border-top-style: inset; border-bottom-style: inset;
border-color: rgb(212,231,230);
}

#content
{
font-size: 101%;
background-color: rgb(255,255,255);
color: rgb(0,0,0);
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 46px 12px 46px 12px;
border-color: rgb(0,0,0);
text-align: justify;
}

#menu
{
background-color: rgb(0,0,0);
color: rgb(13,236,225);
font-family: Courier New, Courier, monospace;
font-style: normal;
border-color: rgb(127,198,194);
}

a.menuitem
{
font-size: 127%;
background-color: rgb(212,231,230);
color: rgb(13,236,225);
font-variant: normal;
text-transform: none;
font-weight: normal;
margin-left: 5px; margin-right: 5px; margin-top: 5px; margin-bottom: 5px;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(0,0,0);
text-align: center;
}

#logo, #logo a
{
font-size: 158%;
background-color: rgb(0,0,0);
color: rgb(32,172,166);
font-family: Courier New, Courier, monospace;
font-style: italic;
font-variant: normal;
text-transform: none;
font-weight: normal;
padding: 13px 13px 13px 13px;
border-color: rgb(32,172,166);
text-align: right;
}

#trail, #trail a
{
font-size: 96%;
background-color: rgb(32,172,166);
color: rgb(167,249,245);
font-style: italic;
font-variant: small-caps;
text-transform: none;
font-weight: normal;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 9px 15px 9px 15px;
border-color: rgb(167,249,245);
text-align: left;
}

#content a
{
color: rgb(127,198,194);
text-decoration: underline;
}

#content a:hover, #content a:active
{
background-color: rgb(127,198,194);
color: rgb(255,255,255);
}

h1, h2, h3, h4, h5, h6
{
font-family: Georgia, serif;
font-style: italic;
font-variant: normal;
text-transform: none;
font-weight: normal;
}

h1
{
font-size: 151%;
}

h2
{
font-size: 141%;
}

h3
{
font-size: 131%;
}

h4
{
font-size: 121%;
}

h5
{
font-size: 111%;
}

h6
{
font-size: 101%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(13,236,225);
color: rgb(212,231,230);
}

#trail a
{
text-decoration: underline;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
#menu		{width: 30%; position: relative; top: 0; left: 0; float: left; text-align: center;}
.menuitem		{width: auto;}
#content		{margin-left: 30%; width: auto}
.menuitem		{display: block;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

