body
{
background-color: rgb(0,0,0);
color: rgb(203,228,198);
font-family: Verdana, Arial, Helvetica, sans-serif;
border-left-width: 3px; border-right-width: 3px; border-top-width: 7px; border-bottom-width: 7px;
border-left-style: dotted; border-right-style: dotted; border-top-style: dotted; border-bottom-style: dotted;
border-color: rgb(0,0,0);
}

#content
{
font-size: 112%;
background-color: rgb(255,255,255);
color: rgb(0,0,0);
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 45px 45px 45px 45px;
border-color: rgb(0,0,0);
text-align: justify;
}

#menu
{
background-color: rgb(46,147,24);
color: rgb(203,228,198);
font-family: Verdana, Arial, Helvetica, sans-serif;
font-style: italic;
border-color: rgb(46,147,24);
}

a.menuitem
{
font-size: 152%;
background-color: rgb(0,0,0);
color: rgb(63,188,37);
font-variant: normal;
text-transform: none;
font-weight: bold;
margin-left: 5px; margin-right: 5px; margin-top: 5px; margin-bottom: 5px;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(71,104,64);
text-align: right;
}

#logo, #logo a
{
font-size: 185%;
background-color: rgb(255,255,255);
color: rgb(46,147,24);
font-family: Verdana, Arial, Helvetica, sans-serif;
font-style: normal;
font-variant: small-caps;
text-transform: none;
font-weight: normal;
padding: 16px 16px 16px 16px;
border-color: rgb(255,255,255);
text-align: center;
}

#trail, #trail a
{
font-size: 110%;
background-color: rgb(162,248,143);
color: rgb(46,147,24);
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
border-left-width: 13px; border-right-width: 13px; border-top-width: 13px; border-bottom-width: 13px;
border-left-style: solid; border-right-style: solid; border-top-style: solid; border-bottom-style: solid;
padding: 19px 19px 19px 19px;
border-color: rgb(203,228,198);
text-align: right;
}

#content a
{
color: rgb(59,87,53);
text-decoration: none;
}

#content a:hover, #content a:active
{
background-color: rgb(59,87,53);
color: rgb(255,255,255);
}

h1, h2, h3, h4, h5, h6
{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: bold;
}

h1
{
font-size: 177%;
}

h2
{
font-size: 164%;
}

h3
{
font-size: 151%;
}

h4
{
font-size: 138%;
}

h5
{
font-size: 125%;
}

h6
{
font-size: 112%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(63,188,37);
color: rgb(0,0,0);
}

#trail a
{
text-decoration: none;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
.menuitem		{display: inline;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

