body
{
background-color: rgb(0,0,0);
color: rgb(189,152,117);
font-family: Arial, Helvetica, sans-serif;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(255,255,255);
}

#content
{
font-size: 105%;
background-color: rgb(189,152,117);
color: rgb(126,80,36);
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 47px 7px 40px 15px;
border-color: rgb(0,0,0);
text-align: left;
}

#menu
{
background-color: rgb(0,0,0);
color: rgb(197,140,85);
font-family: Verdana, Arial, Helvetica, sans-serif;
font-style: normal;
border-color: rgb(255,255,255);
}

a.menuitem
{
font-size: 160%;
background-color: rgb(0,0,0);
color: rgb(255,255,255);
font-variant: normal;
text-transform: none;
font-weight: normal;
margin-left: 4px; margin-right: 4px; margin-top: 4px; margin-bottom: 4px;
border-left-width: 1px; border-right-width: 1px; border-top-width: 1px; border-bottom-width: 1px;
border-left-style: solid; border-right-style: solid; border-top-style: solid; border-bottom-style: solid;
border-color: rgb(243,127,15);
text-align: left;
}

#logo, #logo a
{
font-size: 157%;
background-color: rgb(197,140,85);
color: rgb(51,29,7);
font-family: Verdana, Arial, Helvetica, sans-serif;
font-style: italic;
font-variant: normal;
text-transform: none;
font-weight: normal;
padding: 8px 8px 8px 8px;
border-color: rgb(189,152,117);
text-align: right;
}

#trail, #trail a
{
font-size: 90%;
background-color: rgb(0,0,0);
color: rgb(197,140,85);
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
border-left-width: 9px; border-right-width: 9px; border-top-width: 9px; border-bottom-width: 9px;
border-left-style: groove; border-right-style: groove; border-top-style: groove; border-bottom-style: groove;
padding: 1px 1px 1px 1px;
border-color: rgb(161,137,115);
text-align: center;
}

#content a
{
color: rgb(0,0,0);
text-decoration: underline;
}

#content a:hover, #content a:active
{
background-color: rgb(0,0,0);
color: rgb(189,152,117);
}

h1, h2, h3, h4, h5, h6
{
font-family: Arial, Helvetica, sans-serif;
font-style: italic;
font-variant: normal;
text-transform: none;
font-weight: bold;
}

h1
{
font-size: 155%;
}

h2
{
font-size: 143%;
}

h3
{
font-size: 131%;
}

h4
{
font-size: 119%;
}

h5
{
font-size: 107%;
}

h6
{
font-size: 95%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(255,255,255);
color: rgb(0,0,0);
}

#trail a
{
text-decoration: underline;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
.menuitem		{display: inline;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

