body
{
background-color: rgb(255,255,255);
color: rgb(167,175,61);
font-family: Arial, Helvetica, sans-serif;
border-left-width: 13px; border-right-width: 13px; border-top-width: 13px; border-bottom-width: 13px;
border-left-style: ridge; border-right-style: ridge; border-top-style: ridge; border-bottom-style: ridge;
border-color: rgb(0,0,0);
}

#content
{
font-size: 105%;
background-color: rgb(0,0,0);
color: rgb(255,255,255);
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 20px 20px 20px 20px;
border-color: rgb(0,0,0);
text-align: justify;
}

#menu
{
background-color: rgb(255,255,255);
color: rgb(236,192,117);
font-family: Times New Roman, serif;
font-style: normal;
border-color: rgb(0,0,0);
}

a.menuitem
{
font-size: 140%;
background-color: rgb(0,0,0);
color: rgb(250,255,97);
font-variant: normal;
text-transform: none;
font-weight: bold;
margin-left: 9px; margin-right: 9px; margin-top: 9px; margin-bottom: 9px;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(162,179,121);
text-align: center;
}

#logo, #logo a
{
font-size: 199%;
background-color: rgb(0,0,0);
color: rgb(227,216,153);
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
padding: 15px 15px 15px 15px;
border-color: rgb(250,255,97);
text-align: center;
}

#trail, #trail a
{
font-size: 117%;
background-color: rgb(0,0,0);
color: rgb(236,192,117);
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 8px 10px 8px 10px;
border-color: rgb(154,197,114);
text-align: center;
}

#content a
{
color: rgb(250,255,97);
text-decoration: none;
}

#content a:hover, #content a:active
{
background-color: rgb(250,255,97);
color: rgb(0,0,0);
}

h1, h2, h3, h4, h5, h6
{
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: capitalize;
font-weight: bold;
}

h1
{
font-size: 170%;
}

h2
{
font-size: 157%;
}

h3
{
font-size: 144%;
}

h4
{
font-size: 131%;
}

h5
{
font-size: 118%;
}

h6
{
font-size: 105%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(250,255,97);
color: rgb(0,0,0);
}

#trail a
{
text-decoration: none;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
.menuitem		{display: inline;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

