body
{
background-color: rgb(255,255,255);
color: rgb(134,2,221);
font-family: Arial, Helvetica, sans-serif;
border-left-width: 12px; border-right-width: 12px; border-top-width: 10px; border-bottom-width: 10px;
border-left-style: outset; border-right-style: outset; border-top-style: outset; border-bottom-style: outset;
border-color: rgb(92,60,185);
}

#content
{
font-size: 102%;
background-color: rgb(255,255,255);
color: rgb(0,0,0);
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 46px 46px 46px 46px;
border-color: rgb(0,0,0);
text-align: left;
}

#menu
{
background-color: rgb(255,255,255);
color: rgb(207,29,181);
font-family: Tahoma, sans-serif;
font-style: normal;
border-color: rgb(134,2,221);
}

a.menuitem
{
font-size: 146%;
background-color: rgb(0,0,0);
color: rgb(207,29,181);
font-variant: normal;
text-transform: none;
font-weight: normal;
margin-left: 12px; margin-right: 12px; margin-top: 12px; margin-bottom: 12px;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(134,2,221);
text-align: right;
}

#logo, #logo a
{
font-size: 156%;
background-color: rgb(206,142,233);
color: rgb(59,28,93);
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: bold;
padding: 7px 13px 7px 10px;
border-color: rgb(134,2,221);
text-align: center;
}

#trail, #trail a
{
font-size: 95%;
background-color: rgb(206,142,233);
color: rgb(134,2,221);
font-style: normal;
font-variant: normal;
text-transform: capitalize;
font-weight: normal;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 0px 0px 0px 0px;
border-color: rgb(92,60,185);
text-align: right;
}

#content a
{
color: rgb(207,29,181);
text-decoration: underline;
}

#content a:hover, #content a:active
{
background-color: rgb(207,29,181);
color: rgb(255,255,255);
}

h1, h2, h3, h4, h5, h6
{
font-family: Tahoma, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
}

h1
{
font-size: 149%;
}

h2
{
font-size: 137%;
}

h3
{
font-size: 125%;
}

h4
{
font-size: 113%;
}

h5
{
font-size: 101%;
}

h6
{
font-size: 89%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(207,29,181);
color: rgb(0,0,0);
}

#trail a
{
text-decoration: underline;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
#menu		{width: 24%; position: relative; top: 0; left: 0; float: left; text-align: center;}
.menuitem		{width: auto;}
#content		{margin-left: 24%; width: auto}
.menuitem		{display: block;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

