body
{
background-color: rgb(16,97,32);
color: rgb(174,194,155);
font-family: Arial, Helvetica, sans-serif;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(255,255,255);
}

#content
{
font-size: 104%;
background-color: rgb(78,177,46);
color: rgb(255,255,255);
border-left-width: 3px; border-right-width: 3px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: solid; border-right-style: solid; border-top-style: none; border-bottom-style: none;
padding: 50px 50px 50px 50px;
border-color: rgb(0,0,0);
text-align: left;
}

#menu
{
background-color: rgb(255,255,255);
color: rgb(39,96,38);
font-family: Courier New, Courier, monospace;
font-style: italic;
border-color: rgb(255,255,255);
}

a.menuitem
{
font-size: 124%;
background-color: rgb(78,177,46);
color: rgb(174,194,155);
font-variant: normal;
text-transform: none;
font-weight: normal;
margin-left: 9px; margin-right: 9px; margin-top: 9px; margin-bottom: 9px;
border-left-width: 9px; border-right-width: 9px; border-top-width: 9px; border-bottom-width: 9px;
border-left-style: dashed; border-right-style: dashed; border-top-style: dashed; border-bottom-style: dashed;
border-color: rgb(255,255,255);
text-align: right;
}

#logo, #logo a
{
font-size: 156%;
background-color: rgb(255,255,255);
color: rgb(76,211,38);
font-family: Arial, Helvetica, sans-serif;
font-style: italic;
font-variant: normal;
text-transform: none;
font-weight: bold;
padding: 14px 14px 14px 14px;
border-color: rgb(78,177,46);
text-align: left;
}

#trail, #trail a
{
font-size: 113%;
background-color: rgb(0,0,0);
color: rgb(76,211,38);
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 7px 3px 7px 3px;
border-color: rgb(76,211,38);
text-align: center;
}

#content a
{
color: rgb(0,0,0);
text-decoration: underline oveline;
}

#content a:hover, #content a:active
{
background-color: rgb(0,0,0);
color: rgb(78,177,46);
}

h1, h2, h3, h4, h5, h6
{
font-family: Courier New, Courier, monospace;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
}

h1
{
font-size: 154%;
}

h2
{
font-size: 142%;
}

h3
{
font-size: 130%;
}

h4
{
font-size: 118%;
}

h5
{
font-size: 106%;
}

h6
{
font-size: 94%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(174,194,155);
color: rgb(78,177,46);
}

#trail a
{
text-decoration: none;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
.menuitem		{display: inline;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

