body
{
background-color: rgb(47,81,41);
color: rgb(129,191,77);
font-family: Palatino, serif;
border-left-width: 11px; border-right-width: 11px; border-top-width: 11px; border-bottom-width: 11px;
border-left-style: inset; border-right-style: inset; border-top-style: inset; border-bottom-style: inset;
border-color: rgb(0,0,0);
}

#content
{
font-size: 97%;
background-color: rgb(0,0,0);
color: rgb(255,255,255);
border-left-width: 0px; border-right-width: 0px; border-top-width: 9px; border-bottom-width: 9px;
border-left-style: none; border-right-style: none; border-top-style: dashed; border-bottom-style: dashed;
padding: 40px 40px 40px 40px;
border-color: rgb(0,0,0);
text-align: left;
}

#menu
{
background-color: rgb(47,81,41);
color: rgb(129,191,77);
font-family: Times New Roman, serif;
font-style: normal;
border-color: rgb(129,191,77);
}

a.menuitem
{
font-size: 151%;
background-color: rgb(47,81,41);
color: rgb(152,218,116);
font-variant: normal;
text-transform: none;
font-weight: normal;
margin-left: 4px; margin-right: 4px; margin-top: 4px; margin-bottom: 4px;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(255,255,255);
text-align: left;
}

#logo, #logo a
{
font-size: 153%;
background-color: rgb(0,0,0);
color: rgb(129,191,77);
font-family: Times New Roman, serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
padding: 4px 4px 4px 4px;
border-color: rgb(255,255,255);
text-align: left;
}

#trail, #trail a
{
font-size: 91%;
background-color: rgb(255,255,255);
color: rgb(129,191,77);
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: bold;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 0px 17px 0px 17px;
border-color: rgb(0,0,0);
text-align: left;
}

#content a
{
color: rgb(152,218,116);
text-decoration: underline;
}

#content a:hover, #content a:active
{
background-color: rgb(152,218,116);
color: rgb(0,0,0);
}

h1, h2, h3, h4, h5, h6
{
font-family: Palatino, serif;
font-style: italic;
font-variant: normal;
text-transform: none;
font-weight: normal;
}

h1
{
font-size: 142%;
}

h2
{
font-size: 134%;
}

h3
{
font-size: 126%;
}

h4
{
font-size: 118%;
}

h5
{
font-size: 110%;
}

h6
{
font-size: 102%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(152,218,116);
color: rgb(47,81,41);
}

#trail a
{
text-decoration: none;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
.menuitem		{display: inline;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

