body
{
background-color: rgb(255,255,255);
color: rgb(173,51,78);
font-family: Verdana, Arial, Helvetica, sans-serif;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(0,0,0);
}

#content
{
font-size: 116%;
background-color: rgb(255,255,255);
color: rgb(0,0,0);
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 31px 31px 31px 31px;
border-color: rgb(0,0,0);
text-align: left;
}

#menu
{
background-color: rgb(34,79,69);
color: rgb(139,208,193);
font-family: Courier New, Courier, monospace;
font-style: normal;
border-color: rgb(158,236,219);
}

a.menuitem
{
font-size: 137%;
background-color: rgb(255,255,255);
color: rgb(139,208,193);
font-variant: normal;
text-transform: none;
font-weight: bold;
margin-left: 19px; margin-right: 19px; margin-top: 19px; margin-bottom: 19px;
border-left-width: 13px; border-right-width: 13px; border-top-width: 1px; border-bottom-width: 1px;
border-left-style: solid; border-right-style: solid; border-top-style: solid; border-bottom-style: solid;
border-color: rgb(34,79,69);
text-align: center;
}

#logo, #logo a
{
font-size: 150%;
background-color: rgb(255,255,255);
color: rgb(173,51,78);
font-family: Courier New, Courier, monospace;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
padding: 13px 13px 13px 13px;
border-color: rgb(34,79,69);
text-align: center;
}

#trail, #trail a
{
font-size: 123%;
background-color: rgb(0,0,0);
color: rgb(116,201,183);
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: bold;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 4px 4px 4px 4px;
border-color: rgb(173,51,78);
text-align: center;
}

#content a
{
color: rgb(125,228,205);
text-decoration: underline;
}

#content a:hover, #content a:active
{
background-color: rgb(125,228,205);
color: rgb(255,255,255);
}

h1, h2, h3, h4, h5, h6
{
font-family: Courier New, Courier, monospace;
font-style: normal;
font-variant: normal;
text-transform: capitalize;
font-weight: bold;
}

h1
{
font-size: 171%;
}

h2
{
font-size: 157%;
}

h3
{
font-size: 143%;
}

h4
{
font-size: 129%;
}

h5
{
font-size: 115%;
}

h6
{
font-size: 101%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(139,208,193);
color: rgb(255,255,255);
}

#trail a
{
text-decoration: none;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
.menuitem		{display: inline;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

