body
{
background-color: rgb(0,0,0);
color: rgb(208,255,50);
font-family: Times New Roman, serif;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(183,201,150);
}

#content
{
font-size: 118%;
background-color: rgb(255,255,255);
color: rgb(0,0,0);
border-left-width: 12px; border-right-width: 12px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: solid; border-right-style: solid; border-top-style: none; border-bottom-style: none;
padding: 48px 48px 48px 48px;
border-color: rgb(0,0,0);
text-align: justify;
}

#menu
{
background-color: rgb(255,255,255);
color: rgb(47,91,35);
font-family: Georgia, serif;
font-style: normal;
border-color: rgb(255,255,255);
}

a.menuitem
{
font-size: 121%;
background-color: rgb(255,255,255);
color: rgb(208,255,50);
font-variant: normal;
text-transform: none;
font-weight: normal;
margin-left: 9px; margin-right: 9px; margin-top: 9px; margin-bottom: 9px;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(183,201,150);
text-align: left;
}

#logo, #logo a
{
font-size: 170%;
background-color: rgb(0,0,0);
color: rgb(183,201,150);
font-family: Georgia, serif;
font-style: normal;
font-variant: small-caps;
text-transform: none;
font-weight: normal;
padding: 1px 1px 1px 1px;
border-color: rgb(199,192,120);
text-align: right;
}

#trail, #trail a
{
font-size: 98%;
background-color: rgb(255,255,255);
color: rgb(208,255,50);
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 18px 18px 18px 18px;
border-color: rgb(183,201,150);
text-align: left;
}

#content a
{
color: rgb(110,121,36);
text-decoration: none;
}

#content a:hover, #content a:active
{
background-color: rgb(110,121,36);
color: rgb(255,255,255);
}

h1, h2, h3, h4, h5, h6
{
font-family: Georgia, serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
}

h1
{
font-size: 128%;
}

h2
{
font-size: 115%;
}

h3
{
font-size: 102%;
}

h4
{
font-size: 89%;
}

h5
{
font-size: 76%;
}

h6
{
font-size: 63%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(208,255,50);
color: rgb(255,255,255);
}

#trail a
{
text-decoration: none;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
#menu		{width: 29%; position: relative; top: 0; right: 0; float: right; text-align: center;}
.menuitem		{width: auto;}
#content		{margin-right: 29%; width: auto}
.menuitem		{display: block;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

