body
{
background-color: rgb(255,255,255);
color: rgb(76,57,91);
font-family: Arial, Helvetica, sans-serif;
border-left-width: 0px; border-right-width: 0px; border-top-width: 18px; border-bottom-width: 18px;
border-left-style: solid; border-right-style: solid; border-top-style: solid; border-bottom-style: solid;
border-color: rgb(95,78,234);
}

#content
{
font-size: 92%;
background-color: rgb(255,255,255);
color: rgb(0,0,0);
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 38px 38px 38px 38px;
border-color: rgb(0,0,0);
text-align: left;
}

#menu
{
background-color: rgb(0,0,0);
color: rgb(255,255,255);
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
border-color: rgb(255,255,255);
}

a.menuitem
{
font-size: 143%;
background-color: rgb(95,78,234);
color: rgb(32,18,62);
font-variant: normal;
text-transform: none;
font-weight: bold;
margin-left: 11px; margin-right: 11px; margin-top: 11px; margin-bottom: 11px;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(149,158,228);
text-align: left;
}

#logo, #logo a
{
font-size: 165%;
background-color: rgb(255,255,255);
color: rgb(76,57,91);
font-family: Times New Roman, serif;
font-style: italic;
font-variant: normal;
text-transform: capitalize;
font-weight: bold;
padding: 16px 16px 16px 16px;
border-color: rgb(95,78,234);
text-align: right;
}

#trail, #trail a
{
font-size: 107%;
background-color: rgb(255,255,255);
color: rgb(148,125,193);
font-style: italic;
font-variant: normal;
text-transform: none;
font-weight: normal;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 6px 6px 6px 6px;
border-color: rgb(32,18,62);
text-align: left;
}

#content a
{
color: rgb(148,125,193);
text-decoration: underline oveline;
}

#content a:hover, #content a:active
{
background-color: rgb(148,125,193);
color: rgb(255,255,255);
}

h1, h2, h3, h4, h5, h6
{
font-family: Times New Roman, serif;
font-style: normal;
font-variant: normal;
text-transform: capitalize;
font-weight: normal;
}

h1
{
font-size: 139%;
}

h2
{
font-size: 129%;
}

h3
{
font-size: 119%;
}

h4
{
font-size: 109%;
}

h5
{
font-size: 99%;
}

h6
{
font-size: 89%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(32,18,62);
color: rgb(95,78,234);
}

#trail a
{
text-decoration: underline oveline;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
#menu		{width: 24%; position: relative; top: 0; right: 0; float: right; text-align: center;}
.menuitem		{width: auto;}
#content		{margin-right: 24%; width: auto}
.menuitem		{display: block;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

