body
{
background-color: rgb(255,255,255);
color: rgb(230,195,109);
font-family: Trebuchet MS, sans-serif;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(207,145,86);
}

#content
{
font-size: 92%;
background-color: rgb(255,255,255);
color: rgb(0,0,0);
border-left-width: 5px; border-right-width: 5px; border-top-width: 5px; border-bottom-width: 5px;
border-left-style: ridge; border-right-style: ridge; border-top-style: ridge; border-bottom-style: ridge;
padding: 20px 20px 20px 20px;
border-color: rgb(0,0,0);
text-align: left;
}

#menu
{
background-color: rgb(230,195,109);
color: rgb(98,66,54);
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
border-color: rgb(199,190,67);
}

a.menuitem
{
font-size: 150%;
background-color: rgb(0,0,0);
color: rgb(207,145,86);
font-variant: normal;
text-transform: none;
font-weight: normal;
margin-left: 8px; margin-right: 8px; margin-top: 8px; margin-bottom: 8px;
border-left-width: 0px; border-right-width: 0px; border-top-width: 3px; border-bottom-width: 3px;
border-left-style: none; border-right-style: none; border-top-style: solid; border-bottom-style: solid;
border-color: rgb(207,145,86);
text-align: center;
}

#logo, #logo a
{
font-size: 176%;
background-color: rgb(71,78,31);
color: rgb(230,195,109);
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-variant: small-caps;
text-transform: none;
font-weight: normal;
padding: 12px 12px 12px 12px;
border-color: rgb(71,78,31);
text-align: right;
}

#trail, #trail a
{
font-size: 105%;
background-color: rgb(0,0,0);
color: rgb(230,195,109);
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
border-left-width: 0px; border-right-width: 0px; border-top-width: 1px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: dashed; border-bottom-style: none;
padding: 0px 0px 0px 0px;
border-color: rgb(71,78,31);
text-align: center;
}

#content a
{
color: rgb(199,190,67);
text-decoration: none;
}

#content a:hover, #content a:active
{
background-color: rgb(199,190,67);
color: rgb(255,255,255);
}

h1, h2, h3, h4, h5, h6
{
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
}

h1
{
font-size: 151%;
}

h2
{
font-size: 140%;
}

h3
{
font-size: 129%;
}

h4
{
font-size: 118%;
}

h5
{
font-size: 107%;
}

h6
{
font-size: 96%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(207,145,86);
color: rgb(0,0,0);
}

#trail a
{
text-decoration: none;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
#menu		{width: 30%; position: relative; top: 0; right: 0; float: right; text-align: center;}
.menuitem		{width: auto;}
#content		{margin-right: 30%; width: auto}
.menuitem		{display: block;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

