body
{
background-color: rgb(255,255,255);
color: rgb(152,221,61);
font-family: Arial, Helvetica, sans-serif;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(152,221,61);
}

#content
{
font-size: 111%;
background-color: rgb(255,255,255);
color: rgb(0,0,0);
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 2px 20px 2px 20px;
border-color: rgb(0,0,0);
text-align: justify;
}

#menu
{
background-color: rgb(0,0,0);
color: rgb(255,255,255);
font-family: Times New Roman, serif;
font-style: normal;
border-color: rgb(217,227,203);
}

a.menuitem
{
font-size: 128%;
background-color: rgb(217,227,203);
color: rgb(117,152,71);
font-variant: normal;
text-transform: none;
font-weight: normal;
margin-left: 3px; margin-right: 3px; margin-top: 3px; margin-bottom: 3px;
border-left-width: 0px; border-right-width: 0px; border-top-width: 1px; border-bottom-width: 1px;
border-left-style: none; border-right-style: none; border-top-style: dashed; border-bottom-style: double;
border-color: rgb(151,214,67);
text-align: center;
}

#logo, #logo a
{
font-size: 189%;
background-color: rgb(255,255,255);
color: rgb(151,214,67);
font-family: Times New Roman, serif;
font-style: italic;
font-variant: normal;
text-transform: none;
font-weight: normal;
padding: 2px 8px 2px 8px;
border-color: rgb(217,227,203);
text-align: left;
}

#trail, #trail a
{
font-size: 125%;
background-color: rgb(217,227,203);
color: rgb(44,58,25);
font-style: normal;
font-variant: normal;
text-transform: uppercase;
font-weight: normal;
border-left-width: 1px; border-right-width: 1px; border-top-width: 1px; border-bottom-width: 1px;
border-left-style: solid; border-right-style: solid; border-top-style: solid; border-bottom-style: solid;
padding: 17px 17px 17px 17px;
border-color: rgb(152,221,61);
text-align: left;
}

#content a
{
color: rgb(151,214,67);
text-decoration: underline;
}

#content a:hover, #content a:active
{
background-color: rgb(151,214,67);
color: rgb(255,255,255);
}

h1, h2, h3, h4, h5, h6
{
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: bold;
}

h1
{
font-size: 128%;
}

h2
{
font-size: 115%;
}

h3
{
font-size: 102%;
}

h4
{
font-size: 89%;
}

h5
{
font-size: 76%;
}

h6
{
font-size: 63%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(117,152,71);
color: rgb(217,227,203);
}

#trail a
{
text-decoration: underline;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
.menuitem		{display: inline;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

