body
{
background-color: rgb(0,0,0);
color: rgb(255,255,255);
font-family: Courier New, Courier, monospace;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(110,83,94);
}

#content
{
font-size: 99%;
background-color: rgb(255,255,255);
color: rgb(0,0,0);
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 31px 31px 31px 31px;
border-color: rgb(0,0,0);
text-align: left;
}

#menu
{
background-color: rgb(250,184,211);
color: rgb(110,83,94);
font-family: Courier New, Courier, monospace;
font-style: normal;
border-color: rgb(110,83,94);
}

a.menuitem
{
font-size: 138%;
background-color: rgb(250,184,211);
color: rgb(214,57,121);
font-variant: normal;
text-transform: none;
font-weight: normal;
margin-left: 20px; margin-right: 20px; margin-top: 20px; margin-bottom: 20px;
border-left-width: 0px; border-right-width: 1px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: dotted; border-top-style: none; border-bottom-style: none;
border-color: rgb(233,14,103);
text-align: center;
}

#logo, #logo a
{
font-size: 190%;
background-color: rgb(0,0,0);
color: rgb(250,184,211);
font-family: Courier New, Courier, monospace;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
padding: 14px 14px 14px 14px;
border-color: rgb(214,57,121);
text-align: right;
}

#trail, #trail a
{
font-size: 108%;
background-color: rgb(0,0,0);
color: rgb(98,47,68);
font-style: normal;
font-variant: normal;
text-transform: capitalize;
font-weight: normal;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 0px 0px 0px 0px;
border-color: rgb(233,14,103);
text-align: left;
}

#content a
{
color: rgb(135,55,88);
text-decoration: underline;
}

#content a:hover, #content a:active
{
background-color: rgb(135,55,88);
color: rgb(255,255,255);
}

h1, h2, h3, h4, h5, h6
{
font-family: Courier New, Courier, monospace;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: bold;
}

h1
{
font-size: 175%;
}

h2
{
font-size: 161%;
}

h3
{
font-size: 147%;
}

h4
{
font-size: 133%;
}

h5
{
font-size: 119%;
}

h6
{
font-size: 105%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(214,57,121);
color: rgb(250,184,211);
}

#trail a
{
text-decoration: underline;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
.menuitem		{display: inline;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

