body
{
background-color: rgb(54,85,37);
color: rgb(197,223,183);
font-family: Trebuchet MS, sans-serif;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(197,223,183);
}

#content
{
font-size: 94%;
background-color: rgb(0,0,0);
color: rgb(197,223,183);
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 24px 46px 12px 9px;
border-color: rgb(0,0,0);
text-align: left;
}

#menu
{
background-color: rgb(255,255,255);
color: rgb(47,87,25);
font-family: Trebuchet MS, sans-serif;
font-style: normal;
border-color: rgb(47,87,25);
}

a.menuitem
{
font-size: 137%;
background-color: rgb(255,255,255);
color: rgb(47,87,25);
font-variant: normal;
text-transform: none;
font-weight: normal;
margin-left: 18px; margin-right: 18px; margin-top: 18px; margin-bottom: 18px;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(0,0,0);
text-align: center;
}

#logo, #logo a
{
font-size: 191%;
background-color: rgb(47,87,25);
color: rgb(162,195,144);
font-family: Verdana, Arial, Helvetica, sans-serif;
font-style: italic;
font-variant: normal;
text-transform: none;
font-weight: normal;
padding: 0px 0px 0px 0px;
border-color: rgb(197,223,183);
text-align: right;
}

#trail, #trail a
{
font-size: 111%;
background-color: rgb(50,105,20);
color: rgb(162,195,144);
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 19px 3px 19px 3px;
border-color: rgb(50,105,20);
text-align: left;
}

#content a
{
color: rgb(162,195,144);
text-decoration: none;
}

#content a:hover, #content a:active
{
background-color: rgb(162,195,144);
color: rgb(0,0,0);
}

h1, h2, h3, h4, h5, h6
{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
}

h1
{
font-size: 178%;
}

h2
{
font-size: 165%;
}

h3
{
font-size: 152%;
}

h4
{
font-size: 139%;
}

h5
{
font-size: 126%;
}

h6
{
font-size: 113%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(47,87,25);
color: rgb(255,255,255);
}

#trail a
{
text-decoration: none;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
.menuitem		{display: inline;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

