body
{
background-color: rgb(40,106,139);
color: rgb(124,195,220);
font-family: Arial, Helvetica, sans-serif;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(29,69,212);
}

#content
{
font-size: 116%;
background-color: rgb(255,255,255);
color: rgb(0,0,0);
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 16px 16px 16px 16px;
border-color: rgb(0,0,0);
text-align: justify;
}

#menu
{
background-color: rgb(255,255,255);
color: rgb(29,69,212);
font-family: Trebuchet MS, sans-serif;
font-style: normal;
border-color: rgb(27,53,87);
}

a.menuitem
{
font-size: 146%;
background-color: rgb(12,86,95);
color: rgb(124,195,220);
font-variant: normal;
text-transform: none;
font-weight: bold;
margin-left: 19px; margin-right: 13px; margin-top: 10px; margin-bottom: 10px;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(12,86,95);
text-align: center;
}

#logo, #logo a
{
font-size: 165%;
background-color: rgb(29,69,212);
color: rgb(124,195,220);
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
padding: 6px 6px 6px 6px;
border-color: rgb(29,69,212);
text-align: left;
}

#trail, #trail a
{
font-size: 123%;
background-color: rgb(12,86,95);
color: rgb(124,195,220);
font-style: italic;
font-variant: normal;
text-transform: capitalize;
font-weight: bold;
text-indent: 49;
border-left-width: 0px; border-right-width: 0px; border-top-width: 15px; border-bottom-width: 15px;
border-left-style: none; border-right-style: none; border-top-style: solid; border-bottom-style: solid;
padding: 13px 13px 13px 13px;
border-color: rgb(124,195,220);
text-align: center;
}

#content a
{
color: rgb(124,195,220);
text-decoration: none;
}

#content a:hover, #content a:active
{
background-color: rgb(124,195,220);
color: rgb(255,255,255);
}

h1, h2, h3, h4, h5, h6
{
font-family: Trebuchet MS, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: uppercase;
font-weight: bold;
}

h1
{
font-size: 166%;
}

h2
{
font-size: 155%;
}

h3
{
font-size: 144%;
}

h4
{
font-size: 133%;
}

h5
{
font-size: 122%;
}

h6
{
font-size: 111%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(124,195,220);
color: rgb(12,86,95);
}

#trail a
{
text-decoration: none;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
#menu		{width: 29%; position: relative; top: 0; left: 0; float: left; text-align: center;}
.menuitem		{width: auto;}
#content		{margin-left: 29%; width: auto}
.menuitem		{display: block;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

