body
{
background-color: rgb(255,255,255);
color: rgb(55,173,121);
font-family: Courier New, Courier, monospace;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(106,225,174);
}

#content
{
font-size: 100%;
background-color: rgb(255,255,255);
color: rgb(0,0,0);
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 27px 27px 27px 27px;
border-color: rgb(0,0,0);
text-align: left;
}

#menu
{
background-color: rgb(255,255,255);
color: rgb(55,173,121);
font-family: Courier New, Courier, monospace;
font-style: normal;
text-indent: 8;
border-color: rgb(106,225,174);
}

a.menuitem
{
font-size: 130%;
background-color: rgb(187,248,221);
color: rgb(55,173,121);
font-variant: small-caps;
text-transform: capitalize;
font-weight: normal;
margin-left: 12px; margin-right: 12px; margin-top: 12px; margin-bottom: 12px;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(55,173,121);
text-align: left;
}

#logo, #logo a
{
font-size: 164%;
background-color: rgb(55,173,121);
color: rgb(199,241,223);
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
padding: 0px 0px 0px 0px;
border-color: rgb(0,0,0);
text-align: right;
}

#trail, #trail a
{
font-size: 111%;
background-color: rgb(255,255,255);
color: rgb(106,225,174);
font-style: normal;
font-variant: small-caps;
text-transform: none;
font-weight: bold;
border-left-width: 1px; border-right-width: 1px; border-top-width: 1px; border-bottom-width: 1px;
border-left-style: solid; border-right-style: solid; border-top-style: solid; border-bottom-style: solid;
padding: 0px 19px 0px 19px;
border-color: rgb(187,248,221);
text-align: center;
}

#content a
{
color: rgb(106,225,174);
text-decoration: underline;
}

#content a:hover, #content a:active
{
background-color: rgb(106,225,174);
color: rgb(255,255,255);
}

h1, h2, h3, h4, h5, h6
{
font-family: Courier New, Courier, monospace;
font-style: normal;
font-variant: small-caps;
text-transform: none;
font-weight: bold;
}

h1
{
font-size: 180%;
}

h2
{
font-size: 168%;
}

h3
{
font-size: 156%;
}

h4
{
font-size: 144%;
}

h5
{
font-size: 132%;
}

h6
{
font-size: 120%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(55,173,121);
color: rgb(187,248,221);
}

#trail a
{
text-decoration: underline;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
#menu		{width: 29%; position: relative; top: 0; left: 0; float: left; text-align: center;}
.menuitem		{width: auto;}
#content		{margin-left: 29%; width: auto}
.menuitem		{display: block;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

