body
{
background-color: rgb(0,0,0);
color: rgb(228,135,206);
font-family: Verdana, Arial, Helvetica, sans-serif;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(151,50,104);
}

#content
{
font-size: 112%;
background-color: rgb(255,255,255);
color: rgb(0,0,0);
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 28px 28px 28px 28px;
border-color: rgb(0,0,0);
text-align: left;
}

#menu
{
background-color: rgb(0,0,0);
color: rgb(237,53,118);
font-family: Verdana, Arial, Helvetica, sans-serif;
font-style: normal;
border-color: rgb(229,81,59);
}

a.menuitem
{
font-size: 125%;
background-color: rgb(0,0,0);
color: rgb(151,50,104);
font-variant: normal;
text-transform: none;
font-weight: bold;
margin-left: 14px; margin-right: 14px; margin-top: 14px; margin-bottom: 14px;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(151,50,104);
text-align: center;
}

#logo, #logo a
{
font-size: 196%;
background-color: rgb(233,162,169);
color: rgb(151,50,104);
font-family: Verdana, Arial, Helvetica, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
padding: 13px 13px 13px 13px;
border-color: rgb(228,135,206);
text-align: right;
}

#trail, #trail a
{
font-size: 104%;
background-color: rgb(255,255,255);
color: rgb(233,162,169);
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: bold;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 0px 0px 0px 0px;
border-color: rgb(233,162,169);
text-align: right;
}

#content a
{
color: rgb(237,53,118);
text-decoration: underline;
}

#content a:hover, #content a:active
{
background-color: rgb(237,53,118);
color: rgb(255,255,255);
}

h1, h2, h3, h4, h5, h6
{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
}

h1
{
font-size: 133%;
}

h2
{
font-size: 120%;
}

h3
{
font-size: 107%;
}

h4
{
font-size: 94%;
}

h5
{
font-size: 81%;
}

h6
{
font-size: 68%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(151,50,104);
color: rgb(0,0,0);
}

#trail a
{
text-decoration: underline;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
#menu		{width: 23%; position: relative; top: 0; left: 0; float: left; text-align: center;}
.menuitem		{width: auto;}
#content		{margin-left: 23%; width: auto}
.menuitem		{display: block;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

