body
{
background-color: rgb(175,199,243);
color: rgb(9,54,135);
font-family: Georgia, serif;
border-left-width: 3px; border-right-width: 3px; border-top-width: 3px; border-bottom-width: 3px;
border-left-style: dashed; border-right-style: dashed; border-top-style: dashed; border-bottom-style: dashed;
border-color: rgb(6,26,63);
}

#content
{
font-size: 103%;
background-color: rgb(175,199,243);
color: rgb(9,54,135);
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 2px 32px 28px 40px;
border-color: rgb(0,0,0);
text-align: left;
}

#menu
{
background-color: rgb(255,255,255);
color: rgb(6,26,63);
font-family: Courier New, Courier, monospace;
font-style: normal;
text-indent: 15;
border-color: rgb(175,199,243);
}

a.menuitem
{
font-size: 154%;
background-color: rgb(255,255,255);
color: rgb(6,26,63);
font-variant: normal;
text-transform: none;
font-weight: normal;
margin-left: 7px; margin-right: 7px; margin-top: 7px; margin-bottom: 7px;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(6,26,63);
text-align: center;
}

#logo, #logo a
{
font-size: 197%;
background-color: rgb(0,0,0);
color: rgb(255,255,255);
font-family: Courier New, Courier, monospace;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
padding: 20px 20px 20px 20px;
border-color: rgb(75,115,188);
text-align: left;
}

#trail, #trail a
{
font-size: 130%;
background-color: rgb(175,199,243);
color: rgb(9,37,88);
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
border-left-width: 6px; border-right-width: 6px; border-top-width: 9px; border-bottom-width: 9px;
border-left-style: solid; border-right-style: solid; border-top-style: solid; border-bottom-style: solid;
padding: 0px 0px 0px 0px;
border-color: rgb(9,37,88);
text-align: left;
}

#content a
{
color: rgb(0,0,0);
text-decoration: none;
}

#content a:hover, #content a:active
{
background-color: rgb(0,0,0);
color: rgb(175,199,243);
}

h1, h2, h3, h4, h5, h6
{
font-family: Courier New, Courier, monospace;
font-style: italic;
font-variant: small-caps;
text-transform: none;
font-weight: bold;
}

h1
{
font-size: 136%;
}

h2
{
font-size: 122%;
}

h3
{
font-size: 108%;
}

h4
{
font-size: 94%;
}

h5
{
font-size: 80%;
}

h6
{
font-size: 66%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(6,26,63);
color: rgb(255,255,255);
}

#trail a
{
text-decoration: none;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
.menuitem		{display: inline;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

