body
{
background-color: rgb(0,0,0);
color: rgb(96,102,228);
font-family: Arial, Helvetica, sans-serif;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: dotted; border-right-style: dotted; border-top-style: dotted; border-bottom-style: dotted;
border-color: rgb(211,204,61);
}

#content
{
font-size: 92%;
background-color: rgb(96,102,228);
color: rgb(189,185,115);
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 17px 17px 17px 17px;
border-color: rgb(0,0,0);
text-align: left;
}

#menu
{
background-color: rgb(0,0,0);
color: rgb(189,185,115);
font-family: Verdana, Arial, Helvetica, sans-serif;
font-style: normal;
border-color: rgb(171,168,106);
}

a.menuitem
{
font-size: 122%;
background-color: rgb(255,255,255);
color: rgb(130,128,83);
font-variant: normal;
text-transform: none;
font-weight: normal;
margin-left: 19px; margin-right: 19px; margin-top: 14px; margin-bottom: 14px;
border-left-width: 1px; border-right-width: 1px; border-top-width: 1px; border-bottom-width: 1px;
border-left-style: double; border-right-style: double; border-top-style: double; border-bottom-style: double;
border-color: rgb(211,204,61);
text-align: right;
}

#logo, #logo a
{
font-size: 200%;
background-color: rgb(0,0,0);
color: rgb(171,168,106);
font-family: Arial, Helvetica, sans-serif;
font-style: italic;
font-variant: normal;
text-transform: none;
font-weight: normal;
padding: 1px 0px 1px 0px;
border-color: rgb(0,0,0);
text-align: right;
}

#trail, #trail a
{
font-size: 99%;
background-color: rgb(0,0,0);
color: rgb(211,204,61);
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 13px 13px 13px 13px;
border-color: rgb(189,185,115);
text-align: right;
}

#content a
{
color: rgb(18,20,61);
text-decoration: underline;
}

#content a:hover, #content a:active
{
background-color: rgb(18,20,61);
color: rgb(96,102,228);
}

h1, h2, h3, h4, h5, h6
{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
}

h1
{
font-size: 168%;
}

h2
{
font-size: 157%;
}

h3
{
font-size: 146%;
}

h4
{
font-size: 135%;
}

h5
{
font-size: 124%;
}

h6
{
font-size: 113%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(130,128,83);
color: rgb(255,255,255);
}

#trail a
{
text-decoration: underline;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
#menu		{width: 27%; position: relative; top: 0; left: 0; float: left; text-align: center;}
.menuitem		{width: auto;}
#content		{margin-left: 27%; width: auto}
.menuitem		{display: block;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

