body
{
background-color: rgb(0,0,0);
color: rgb(135,171,199);
font-family: Courier New, Courier, monospace;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(255,255,255);
}

#content
{
font-size: 94%;
background-color: rgb(32,38,42);
color: rgb(255,255,255);
border-left-width: 4px; border-right-width: 4px; border-top-width: 0px; border-bottom-width: 4px;
border-left-style: outset; border-right-style: outset; border-top-style: none; border-bottom-style: outset;
padding: 2px 2px 41px 30px;
border-color: rgb(0,0,0);
text-align: left;
}

#menu
{
background-color: rgb(255,255,255);
color: rgb(32,38,42);
font-family: Courier New, Courier, monospace;
font-style: normal;
border-color: rgb(131,191,237);
}

a.menuitem
{
font-size: 159%;
background-color: rgb(32,38,42);
color: rgb(131,191,237);
font-variant: normal;
text-transform: none;
font-weight: normal;
margin-left: 17px; margin-right: 17px; margin-top: 20px; margin-bottom: 20px;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(135,171,199);
text-align: left;
}

#logo, #logo a
{
font-size: 178%;
background-color: rgb(135,171,199);
color: rgb(33,69,97);
font-family: Courier New, Courier, monospace;
font-style: italic;
font-variant: normal;
text-transform: none;
font-weight: bold;
padding: 20px 20px 20px 20px;
border-color: rgb(135,171,199);
text-align: center;
}

#trail, #trail a
{
font-size: 116%;
background-color: rgb(32,38,42);
color: rgb(131,191,237);
font-style: italic;
font-variant: normal;
text-transform: none;
font-weight: normal;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 9px 9px 9px 9px;
border-color: rgb(0,0,0);
text-align: left;
}

#content a
{
color: rgb(121,169,207);
text-decoration: none;
}

#content a:hover, #content a:active
{
background-color: rgb(121,169,207);
color: rgb(32,38,42);
}

h1, h2, h3, h4, h5, h6
{
font-family: Courier New, Courier, monospace;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
}

h1
{
font-size: 164%;
}

h2
{
font-size: 153%;
}

h3
{
font-size: 142%;
}

h4
{
font-size: 131%;
}

h5
{
font-size: 120%;
}

h6
{
font-size: 109%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(131,191,237);
color: rgb(32,38,42);
}

#trail a
{
text-decoration: none;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
#menu		{width: 29%; position: relative; top: 0; right: 0; float: right; text-align: center;}
.menuitem		{width: auto;}
#content		{margin-right: 29%; width: auto}
.menuitem		{display: block;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

