body
{
background-color: rgb(255,255,255);
color: rgb(62,119,144);
font-family: Trebuchet MS, sans-serif;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(178,191,197);
}

#content
{
font-size: 104%;
background-color: rgb(22,45,55);
color: rgb(255,255,255);
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 3px 3px 3px 3px;
border-color: rgb(0,0,0);
text-align: left;
}

#menu
{
background-color: rgb(53,184,242);
color: rgb(22,45,55);
font-family: Courier New, Courier, monospace;
font-style: normal;
border-color: rgb(255,255,255);
}

a.menuitem
{
font-size: 131%;
background-color: rgb(182,226,245);
color: rgb(22,45,55);
font-variant: small-caps;
text-transform: none;
font-weight: normal;
margin-left: 7px; margin-right: 7px; margin-top: 10px; margin-bottom: 10px;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(22,45,55);
text-align: right;
}

#logo, #logo a
{
font-size: 172%;
background-color: rgb(22,45,55);
color: rgb(178,214,230);
font-family: Trebuchet MS, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: bold;
padding: 18px 18px 18px 18px;
border-color: rgb(53,184,242);
text-align: center;
}

#trail, #trail a
{
font-size: 113%;
background-color: rgb(182,226,245);
color: rgb(62,119,144);
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
border-left-width: 1px; border-right-width: 1px; border-top-width: 1px; border-bottom-width: 1px;
border-left-style: dashed; border-right-style: dashed; border-top-style: dashed; border-bottom-style: dashed;
padding: 2px 2px 2px 2px;
border-color: rgb(22,45,55);
text-align: left;
}

#content a
{
color: rgb(182,226,245);
text-decoration: underline;
}

#content a:hover, #content a:active
{
background-color: rgb(182,226,245);
color: rgb(22,45,55);
}

h1, h2, h3, h4, h5, h6
{
font-family: Courier New, Courier, monospace;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
}

h1
{
font-size: 166%;
}

h2
{
font-size: 153%;
}

h3
{
font-size: 140%;
}

h4
{
font-size: 127%;
}

h5
{
font-size: 114%;
}

h6
{
font-size: 101%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(22,45,55);
color: rgb(182,226,245);
}

#trail a
{
text-decoration: underline;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
.menuitem		{display: inline;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

