body
{
background-color: rgb(97,40,81);
color: rgb(218,173,227);
font-family: Arial, Helvetica, sans-serif;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(186,73,179);
}

#content
{
font-size: 99%;
background-color: rgb(255,255,255);
color: rgb(0,0,0);
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 7px 46px 2px 11px;
border-color: rgb(0,0,0);
text-align: left;
}

#menu
{
background-color: rgb(0,0,0);
color: rgb(97,40,81);
font-family: Arial, Helvetica, sans-serif;
font-style: italic;
border-color: rgb(97,40,81);
}

a.menuitem
{
font-size: 121%;
background-color: rgb(218,173,227);
color: rgb(120,72,149);
font-variant: normal;
text-transform: none;
font-weight: bold;
margin-left: 13px; margin-right: 13px; margin-top: 13px; margin-bottom: 13px;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 1px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: solid;
border-color: rgb(188,39,112);
text-align: center;
}

#logo, #logo a
{
font-size: 152%;
background-color: rgb(0,0,0);
color: rgb(186,73,179);
font-family: Times New Roman, serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
padding: 15px 15px 15px 15px;
border-color: rgb(188,39,112);
text-align: center;
}

#trail, #trail a
{
font-size: 91%;
background-color: rgb(97,40,81);
color: rgb(223,58,248);
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
text-indent: 35;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 17px 17px 17px 17px;
border-color: rgb(218,173,227);
text-align: right;
}

#content a
{
color: rgb(223,58,248);
text-decoration: none;
}

#content a:hover, #content a:active
{
background-color: rgb(223,58,248);
color: rgb(255,255,255);
}

h1, h2, h3, h4, h5, h6
{
font-family: Times New Roman, serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
}

h1
{
font-size: 173%;
}

h2
{
font-size: 159%;
}

h3
{
font-size: 145%;
}

h4
{
font-size: 131%;
}

h5
{
font-size: 117%;
}

h6
{
font-size: 103%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(120,72,149);
color: rgb(218,173,227);
}

#trail a
{
text-decoration: none;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
#menu		{width: 27%; position: relative; top: 0; right: 0; float: right; text-align: center;}
.menuitem		{width: auto;}
#content		{margin-right: 27%; width: auto}
.menuitem		{display: block;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

