body
{
background-color: rgb(255,255,255);
color: rgb(191,216,101);
font-family: Arial, Helvetica, sans-serif;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(214,229,163);
}

#content
{
font-size: 110%;
background-color: rgb(255,255,255);
color: rgb(0,0,0);
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 32px 32px 32px 32px;
border-color: rgb(0,0,0);
text-align: left;
}

#menu
{
background-color: rgb(255,255,255);
color: rgb(137,161,52);
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
border-color: rgb(232,244,189);
}

a.menuitem
{
font-size: 143%;
background-color: rgb(167,200,48);
color: rgb(232,244,189);
font-variant: normal;
text-transform: none;
font-weight: normal;
margin-left: 13px; margin-right: 13px; margin-top: 13px; margin-bottom: 13px;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(167,200,48);
text-align: center;
}

#logo, #logo a
{
font-size: 174%;
background-color: rgb(232,244,189);
color: rgb(137,161,52);
font-family: Palatino, serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: bold;
padding: 9px 9px 9px 9px;
border-color: rgb(137,161,52);
text-align: right;
}

#trail, #trail a
{
font-size: 108%;
background-color: rgb(255,255,255);
color: rgb(167,200,48);
font-style: italic;
font-variant: normal;
text-transform: uppercase;
font-weight: bold;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 15px 15px 15px 15px;
border-color: rgb(142,172,37);
text-align: center;
}

#content a
{
color: rgb(191,216,101);
text-decoration: underline oveline;
}

#content a:hover, #content a:active
{
background-color: rgb(191,216,101);
color: rgb(255,255,255);
}

h1, h2, h3, h4, h5, h6
{
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-variant: small-caps;
text-transform: none;
font-weight: normal;
}

h1
{
font-size: 132%;
}

h2
{
font-size: 119%;
}

h3
{
font-size: 106%;
}

h4
{
font-size: 93%;
}

h5
{
font-size: 80%;
}

h6
{
font-size: 67%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(232,244,189);
color: rgb(167,200,48);
}

#trail a
{
text-decoration: none;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
#menu		{width: 29%; position: relative; top: 0; right: 0; float: right; text-align: center;}
.menuitem		{width: auto;}
#content		{margin-right: 29%; width: auto}
.menuitem		{display: block;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

