body
{
background-color: rgb(255,255,255);
color: rgb(79,137,113);
font-family: Trebuchet MS, sans-serif;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(20,182,186);
}

#content
{
font-size: 90%;
background-color: rgb(255,255,255);
color: rgb(0,0,0);
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 22px 40px 22px 40px;
border-color: rgb(0,0,0);
text-align: left;
}

#menu
{
background-color: rgb(255,255,255);
color: rgb(20,182,186);
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
border-color: rgb(255,255,255);
}

a.menuitem
{
font-size: 122%;
background-color: rgb(156,181,204);
color: rgb(67,97,107);
font-variant: normal;
text-transform: capitalize;
font-weight: normal;
margin-left: 15px; margin-right: 15px; margin-top: 6px; margin-bottom: 6px;
border-left-width: 12px; border-right-width: 12px; border-top-width: 12px; border-bottom-width: 12px;
border-left-style: double; border-right-style: double; border-top-style: groove; border-bottom-style: groove;
border-color: rgb(20,182,186);
text-align: center;
}

#logo, #logo a
{
font-size: 196%;
background-color: rgb(67,97,107);
color: rgb(28,222,227);
font-family: Verdana, Arial, Helvetica, sans-serif;
font-style: italic;
font-variant: normal;
text-transform: none;
font-weight: normal;
padding: 5px 5px 5px 5px;
border-color: rgb(79,137,113);
text-align: center;
}

#trail, #trail a
{
font-size: 95%;
background-color: rgb(67,97,107);
color: rgb(28,222,227);
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
border-left-width: 6px; border-right-width: 6px; border-top-width: 6px; border-bottom-width: 6px;
border-left-style: dotted; border-right-style: dotted; border-top-style: dotted; border-bottom-style: dotted;
padding: 20px 17px 20px 17px;
border-color: rgb(255,255,255);
text-align: left;
}

#content a
{
color: rgb(28,222,227);
text-decoration: underline;
}

#content a:hover, #content a:active
{
background-color: rgb(28,222,227);
color: rgb(255,255,255);
}

h1, h2, h3, h4, h5, h6
{
font-family: Trebuchet MS, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: bold;
}

h1
{
font-size: 177%;
}

h2
{
font-size: 169%;
}

h3
{
font-size: 161%;
}

h4
{
font-size: 153%;
}

h5
{
font-size: 145%;
}

h6
{
font-size: 137%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(67,97,107);
color: rgb(156,181,204);
}

#trail a
{
text-decoration: underline;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
#menu		{width: 20%; position: relative; top: 0; left: 0; float: left; text-align: center;}
.menuitem		{width: auto;}
#content		{margin-left: 20%; width: auto}
.menuitem		{display: block;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

