body
{
background-color: rgb(217,226,220);
color: rgb(16,56,29);
font-family: Verdana, Arial, Helvetica, sans-serif;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(96,216,136);
}

#content
{
font-size: 100%;
background-color: rgb(0,0,0);
color: rgb(255,255,255);
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 2px 2px 2px 2px;
border-color: rgb(0,0,0);
text-align: left;
}

#menu
{
background-color: rgb(0,0,0);
color: rgb(211,222,215);
font-family: Verdana, Arial, Helvetica, sans-serif;
font-style: normal;
border-color: rgb(96,216,136);
}

a.menuitem
{
font-size: 158%;
background-color: rgb(0,0,0);
color: rgb(96,216,136);
font-variant: normal;
text-transform: none;
font-weight: normal;
margin-left: 18px; margin-right: 18px; margin-top: 18px; margin-bottom: 18px;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(23,133,60);
text-align: right;
}

#logo, #logo a
{
font-size: 178%;
background-color: rgb(0,0,0);
color: rgb(217,226,220);
font-family: Tahoma, sans-serif;
font-style: normal;
font-variant: small-caps;
text-transform: none;
font-weight: normal;
padding: 20px 20px 20px 20px;
border-color: rgb(87,176,117);
text-align: left;
}

#trail, #trail a
{
font-size: 112%;
background-color: rgb(0,0,0);
color: rgb(87,176,117);
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
border-left-width: 1px; border-right-width: 1px; border-top-width: 1px; border-bottom-width: 1px;
border-left-style: dashed; border-right-style: dashed; border-top-style: dashed; border-bottom-style: dashed;
padding: 19px 19px 19px 19px;
border-color: rgb(23,133,60);
text-align: center;
}

#content a
{
color: rgb(96,216,136);
text-decoration: none;
}

#content a:hover, #content a:active
{
background-color: rgb(96,216,136);
color: rgb(0,0,0);
}

h1, h2, h3, h4, h5, h6
{
font-family: Tahoma, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
}

h1
{
font-size: 180%;
}

h2
{
font-size: 168%;
}

h3
{
font-size: 156%;
}

h4
{
font-size: 144%;
}

h5
{
font-size: 132%;
}

h6
{
font-size: 120%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(96,216,136);
color: rgb(0,0,0);
}

#trail a
{
text-decoration: none;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
#menu		{width: 22%; position: relative; top: 0; right: 0; float: right; text-align: center;}
.menuitem		{width: auto;}
#content		{margin-right: 22%; width: auto}
.menuitem		{display: block;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

