body
{
background-color: rgb(163,99,129);
color: rgb(14,155,89);
font-family: Arial, Helvetica, sans-serif;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(176,63,116);
}

#content
{
font-size: 99%;
background-color: rgb(255,255,255);
color: rgb(0,0,0);
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 2px 28px 2px 28px;
border-color: rgb(0,0,0);
text-align: left;
}

#menu
{
background-color: rgb(0,0,0);
color: rgb(163,99,129);
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
border-color: rgb(163,99,129);
}

a.menuitem
{
font-size: 126%;
background-color: rgb(151,209,182);
color: rgb(104,14,56);
font-variant: normal;
text-transform: none;
font-weight: normal;
margin-left: 19px; margin-right: 19px; margin-top: 9px; margin-bottom: 9px;
border-left-width: 1px; border-right-width: 1px; border-top-width: 1px; border-bottom-width: 1px;
border-left-style: solid; border-right-style: solid; border-top-style: solid; border-bottom-style: solid;
border-color: rgb(151,209,182);
text-align: center;
}

#logo, #logo a
{
font-size: 193%;
background-color: rgb(255,255,255);
color: rgb(151,209,182);
font-family: Arial, Helvetica, sans-serif;
font-style: italic;
font-variant: normal;
text-transform: none;
font-weight: bold;
text-indent: 40;
padding: 13px 13px 13px 13px;
border-color: rgb(104,14,56);
text-align: right;
}

#trail, #trail a
{
font-size: 98%;
background-color: rgb(151,209,182);
color: rgb(14,155,89);
font-style: normal;
font-variant: small-caps;
text-transform: none;
font-weight: normal;
text-indent: 37;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 0px 0px 0px 0px;
border-color: rgb(104,14,56);
text-align: left;
}

#content a
{
color: rgb(237,156,3);
text-decoration: underline;
}

#content a:hover, #content a:active
{
background-color: rgb(237,156,3);
color: rgb(255,255,255);
}

h1, h2, h3, h4, h5, h6
{
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
}

h1
{
font-size: 165%;
}

h2
{
font-size: 155%;
}

h3
{
font-size: 145%;
}

h4
{
font-size: 135%;
}

h5
{
font-size: 125%;
}

h6
{
font-size: 115%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(104,14,56);
color: rgb(151,209,182);
}

#trail a
{
text-decoration: none;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
#menu		{width: 23%; position: relative; top: 0; left: 0; float: left; text-align: center;}
.menuitem		{width: auto;}
#content		{margin-left: 23%; width: auto}
.menuitem		{display: block;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

