body
{
background-color: rgb(255,255,255);
color: rgb(129,218,71);
font-family: Arial, Helvetica, sans-serif;
border-left-width: 10px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: solid; border-right-style: solid; border-top-style: solid; border-bottom-style: solid;
border-color: rgb(70,222,98);
}

#content
{
font-size: 109%;
background-color: rgb(255,255,255);
color: rgb(163,189,139);
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 26px 26px 26px 26px;
border-color: rgb(0,0,0);
text-align: left;
}

#menu
{
background-color: rgb(255,255,255);
color: rgb(118,212,84);
font-family: Palatino, serif;
font-style: normal;
border-color: rgb(70,222,98);
}

a.menuitem
{
font-size: 137%;
background-color: rgb(255,255,255);
color: rgb(55,112,52);
font-variant: normal;
text-transform: none;
font-weight: normal;
margin-left: 16px; margin-right: 16px; margin-top: 16px; margin-bottom: 16px;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(55,112,52);
text-align: right;
}

#logo, #logo a
{
font-size: 156%;
background-color: rgb(163,189,139);
color: rgb(75,100,16);
font-family: Georgia, serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
text-indent: 37;
padding: 3px 3px 3px 3px;
border-color: rgb(55,112,52);
text-align: left;
}

#trail, #trail a
{
font-size: 112%;
background-color: rgb(255,255,255);
color: rgb(55,112,52);
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: bold;
border-left-width: 0px; border-right-width: 0px; border-top-width: 9px; border-bottom-width: 9px;
border-left-style: none; border-right-style: none; border-top-style: ridge; border-bottom-style: inset;
padding: 8px 16px 8px 16px;
border-color: rgb(75,100,16);
text-align: right;
}

#content a
{
color: rgb(75,100,16);
text-decoration: underline;
}

#content a:hover, #content a:active
{
background-color: rgb(75,100,16);
color: rgb(255,255,255);
}

h1, h2, h3, h4, h5, h6
{
font-family: Palatino, serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
}

h1
{
font-size: 152%;
}

h2
{
font-size: 142%;
}

h3
{
font-size: 132%;
}

h4
{
font-size: 122%;
}

h5
{
font-size: 112%;
}

h6
{
font-size: 102%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(55,112,52);
color: rgb(255,255,255);
}

#trail a
{
text-decoration: underline;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
#menu		{width: 29%; position: relative; top: 0; left: 0; float: left; text-align: center;}
.menuitem		{width: auto;}
#content		{margin-left: 29%; width: auto}
.menuitem		{display: block;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

