body
{
background-color: rgb(255,255,255);
color: rgb(53,152,244);
font-family: Georgia, serif;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(49,79,106);
}

#content
{
font-size: 90%;
background-color: rgb(49,79,106);
color: rgb(255,255,255);
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 18px 18px 18px 18px;
border-color: rgb(0,0,0);
text-align: left;
}

#menu
{
background-color: rgb(0,0,0);
color: rgb(39,120,196);
font-family: Georgia, serif;
font-style: normal;
border-color: rgb(194,221,246);
}

a.menuitem
{
font-size: 123%;
background-color: rgb(0,0,0);
color: rgb(73,97,120);
font-variant: normal;
text-transform: none;
font-weight: bold;
margin-left: 8px; margin-right: 8px; margin-top: 8px; margin-bottom: 8px;
border-left-width: 1px; border-right-width: 1px; border-top-width: 1px; border-bottom-width: 1px;
border-left-style: solid; border-right-style: solid; border-top-style: solid; border-bottom-style: solid;
border-color: rgb(73,97,120);
text-align: center;
}

#logo, #logo a
{
font-size: 183%;
background-color: rgb(73,97,120);
color: rgb(205,215,224);
font-family: Georgia, serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: bold;
padding: 8px 8px 8px 8px;
border-color: rgb(205,215,224);
text-align: left;
}

#trail, #trail a
{
font-size: 110%;
background-color: rgb(255,255,255);
color: rgb(39,120,196);
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
border-left-width: 0px; border-right-width: 0px; border-top-width: 5px; border-bottom-width: 5px;
border-left-style: none; border-right-style: none; border-top-style: outset; border-bottom-style: outset;
padding: 20px 20px 20px 20px;
border-color: rgb(53,152,244);
text-align: right;
}

#content a
{
color: rgb(194,221,246);
text-decoration: underline;
}

#content a:hover, #content a:active
{
background-color: rgb(194,221,246);
color: rgb(49,79,106);
}

h1, h2, h3, h4, h5, h6
{
font-family: Georgia, serif;
font-style: italic;
font-variant: small-caps;
text-transform: none;
font-weight: bold;
}

h1
{
font-size: 154%;
}

h2
{
font-size: 141%;
}

h3
{
font-size: 128%;
}

h4
{
font-size: 115%;
}

h5
{
font-size: 102%;
}

h6
{
font-size: 89%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(73,97,120);
color: rgb(0,0,0);
}

#trail a
{
text-decoration: none;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
.menuitem		{display: inline;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

