body
{
background-color: rgb(255,255,255);
color: rgb(204,186,79);
font-family: Arial, Helvetica, sans-serif;
border-left-width: 16px; border-right-width: 16px; border-top-width: 16px; border-bottom-width: 16px;
border-left-style: outset; border-right-style: outset; border-top-style: outset; border-bottom-style: outset;
border-color: rgb(161,214,37);
}

#content
{
font-size: 106%;
background-color: rgb(255,255,255);
color: rgb(0,0,0);
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 14px 14px 14px 14px;
border-color: rgb(0,0,0);
text-align: left;
}

#menu
{
background-color: rgb(255,255,255);
color: rgb(201,146,50);
font-family: Verdana, Arial, Helvetica, sans-serif;
font-style: normal;
border-color: rgb(202,116,55);
}

a.menuitem
{
font-size: 141%;
background-color: rgb(0,0,0);
color: rgb(202,116,55);
font-variant: normal;
text-transform: none;
font-weight: normal;
margin-left: 16px; margin-right: 16px; margin-top: 16px; margin-bottom: 16px;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(201,146,50);
text-align: center;
}

#logo, #logo a
{
font-size: 153%;
background-color: rgb(255,255,255);
color: rgb(204,186,79);
font-family: Times New Roman, serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
padding: 17px 2px 9px 0px;
border-color: rgb(161,214,37);
text-align: center;
}

#trail, #trail a
{
font-size: 130%;
background-color: rgb(0,0,0);
color: rgb(202,116,55);
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 2px 16px 2px 16px;
border-color: rgb(201,146,50);
text-align: left;
}

#content a
{
color: rgb(161,214,37);
text-decoration: underline;
}

#content a:hover, #content a:active
{
background-color: rgb(161,214,37);
color: rgb(255,255,255);
}

h1, h2, h3, h4, h5, h6
{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: bold;
}

h1
{
font-size: 127%;
}

h2
{
font-size: 114%;
}

h3
{
font-size: 101%;
}

h4
{
font-size: 88%;
}

h5
{
font-size: 75%;
}

h6
{
font-size: 62%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(202,116,55);
color: rgb(0,0,0);
}

#trail a
{
text-decoration: none;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
#menu		{width: 23%; position: relative; top: 0; right: 0; float: right; text-align: center;}
.menuitem		{width: auto;}
#content		{margin-right: 23%; width: auto}
.menuitem		{display: block;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

