body
{
background-color: rgb(255,255,255);
color: rgb(66,230,12);
font-family: Courier New, Courier, monospace;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(75,232,95);
}

#content
{
font-size: 120%;
background-color: rgb(0,0,0);
color: rgb(66,230,12);
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 25px 25px 25px 25px;
border-color: rgb(0,0,0);
text-align: left;
}

#menu
{
background-color: rgb(0,0,0);
color: rgb(145,216,61);
font-family: Georgia, serif;
font-style: normal;
border-color: rgb(105,147,85);
}

a.menuitem
{
font-size: 156%;
background-color: rgb(0,0,0);
color: rgb(161,210,156);
font-variant: normal;
text-transform: none;
font-weight: bold;
margin-left: 18px; margin-right: 18px; margin-top: 18px; margin-bottom: 18px;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(255,255,255);
text-align: center;
}

#logo, #logo a
{
font-size: 190%;
background-color: rgb(255,255,255);
color: rgb(75,232,95);
font-family: Times New Roman, serif;
font-style: italic;
font-variant: normal;
text-transform: none;
font-weight: normal;
padding: 12px 12px 12px 12px;
border-color: rgb(66,230,12);
text-align: right;
}

#trail, #trail a
{
font-size: 100%;
background-color: rgb(255,255,255);
color: rgb(145,216,61);
font-style: italic;
font-variant: normal;
text-transform: none;
font-weight: bold;
border-left-width: 2px; border-right-width: 2px; border-top-width: 1px; border-bottom-width: 1px;
border-left-style: double; border-right-style: double; border-top-style: double; border-bottom-style: double;
padding: 4px 4px 4px 4px;
border-color: rgb(161,210,156);
text-align: left;
}

#content a
{
color: rgb(62,228,120);
text-decoration: none;
}

#content a:hover, #content a:active
{
background-color: rgb(62,228,120);
color: rgb(0,0,0);
}

h1, h2, h3, h4, h5, h6
{
font-family: Georgia, serif;
font-style: normal;
font-variant: normal;
text-transform: capitalize;
font-weight: bold;
}

h1
{
font-size: 147%;
}

h2
{
font-size: 139%;
}

h3
{
font-size: 131%;
}

h4
{
font-size: 123%;
}

h5
{
font-size: 115%;
}

h6
{
font-size: 107%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(161,210,156);
color: rgb(0,0,0);
}

#trail a
{
text-decoration: none;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
#menu		{width: 21%; position: relative; top: 0; left: 0; float: left; text-align: center;}
.menuitem		{width: auto;}
#content		{margin-left: 21%; width: auto}
.menuitem		{display: block;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

