body
{
background-color: rgb(0,0,0);
color: rgb(200,207,142);
font-family: Trebuchet MS, sans-serif;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(255,255,255);
}

#content
{
font-size: 108%;
background-color: rgb(79,87,18);
color: rgb(200,207,142);
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 35px 35px 35px 35px;
border-color: rgb(0,0,0);
text-align: left;
}

#menu
{
background-color: rgb(87,96,18);
color: rgb(152,144,215);
font-family: Trebuchet MS, sans-serif;
font-style: italic;
border-color: rgb(87,96,18);
}

a.menuitem
{
font-size: 141%;
background-color: rgb(255,255,255);
color: rgb(130,146,1);
font-variant: normal;
text-transform: none;
font-weight: normal;
margin-left: 10px; margin-right: 10px; margin-top: 10px; margin-bottom: 10px;
border-left-width: 6px; border-right-width: 6px; border-top-width: 6px; border-bottom-width: 6px;
border-left-style: solid; border-right-style: solid; border-top-style: solid; border-bottom-style: solid;
border-color: rgb(200,207,142);
text-align: left;
}

#logo, #logo a
{
font-size: 179%;
background-color: rgb(0,0,0);
color: rgb(140,153,30);
font-family: Trebuchet MS, sans-serif;
font-style: italic;
font-variant: normal;
text-transform: none;
font-weight: normal;
padding: 0px 0px 0px 0px;
border-color: rgb(0,0,0);
text-align: right;
}

#trail, #trail a
{
font-size: 122%;
background-color: rgb(0,0,0);
color: rgb(152,144,215);
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 0px 0px 0px 0px;
border-color: rgb(200,207,142);
text-align: right;
}

#content a
{
color: rgb(255,255,255);
text-decoration: underline;
}

#content a:hover, #content a:active
{
background-color: rgb(255,255,255);
color: rgb(79,87,18);
}

h1, h2, h3, h4, h5, h6
{
font-family: Trebuchet MS, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: bold;
}

h1
{
font-size: 154%;
}

h2
{
font-size: 145%;
}

h3
{
font-size: 136%;
}

h4
{
font-size: 127%;
}

h5
{
font-size: 118%;
}

h6
{
font-size: 109%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(130,146,1);
color: rgb(255,255,255);
}

#trail a
{
text-decoration: none;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
#menu		{width: 23%; position: relative; top: 0; right: 0; float: right; text-align: center;}
.menuitem		{width: auto;}
#content		{margin-right: 23%; width: auto}
.menuitem		{display: block;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

