body
{
background-color: rgb(141,168,239);
color: rgb(25,76,127);
font-family: Tahoma, sans-serif;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(139,164,186);
}

#content
{
font-size: 118%;
background-color: rgb(255,255,255);
color: rgb(0,0,0);
border-left-width: 0px; border-right-width: 0px; border-top-width: 1px; border-bottom-width: 1px;
border-left-style: none; border-right-style: none; border-top-style: groove; border-bottom-style: groove;
padding: 16px 16px 16px 16px;
border-color: rgb(0,0,0);
text-align: justify;
}

#menu
{
background-color: rgb(141,168,239);
color: rgb(25,137,144);
font-family: Tahoma, sans-serif;
font-style: normal;
border-color: rgb(104,172,199);
}

a.menuitem
{
font-size: 133%;
background-color: rgb(0,0,0);
color: rgb(25,137,144);
font-variant: normal;
text-transform: none;
font-weight: bold;
margin-left: 5px; margin-right: 5px; margin-top: 3px; margin-bottom: 3px;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(139,164,186);
text-align: right;
}

#logo, #logo a
{
font-size: 163%;
background-color: rgb(255,255,255);
color: rgb(25,137,144);
font-family: Tahoma, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
padding: 11px 11px 11px 11px;
border-color: rgb(139,164,186);
text-align: right;
}

#trail, #trail a
{
font-size: 109%;
background-color: rgb(0,0,0);
color: rgb(77,80,140);
font-style: italic;
font-variant: normal;
text-transform: none;
font-weight: normal;
border-left-width: 1px; border-right-width: 1px; border-top-width: 1px; border-bottom-width: 1px;
border-left-style: solid; border-right-style: solid; border-top-style: solid; border-bottom-style: solid;
padding: 12px 12px 12px 12px;
border-color: rgb(104,172,199);
text-align: left;
}

#content a
{
color: rgb(25,76,127);
text-decoration: underline;
}

#content a:hover, #content a:active
{
background-color: rgb(25,76,127);
color: rgb(255,255,255);
}

h1, h2, h3, h4, h5, h6
{
font-family: Tahoma, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
}

h1
{
font-size: 132%;
}

h2
{
font-size: 123%;
}

h3
{
font-size: 114%;
}

h4
{
font-size: 105%;
}

h5
{
font-size: 96%;
}

h6
{
font-size: 87%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(25,137,144);
color: rgb(0,0,0);
}

#trail a
{
text-decoration: none;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
#menu		{width: 28%; position: relative; top: 0; left: 0; float: left; text-align: center;}
.menuitem		{width: auto;}
#content		{margin-left: 28%; width: auto}
.menuitem		{display: block;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

