body
{
background-color: rgb(0,0,0);
color: rgb(91,221,105);
font-family: Palatino, serif;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(117,165,95);
}

#content
{
font-size: 100%;
background-color: rgb(255,255,255);
color: rgb(0,0,0);
border-left-width: 1px; border-right-width: 1px; border-top-width: 1px; border-bottom-width: 1px;
border-left-style: solid; border-right-style: solid; border-top-style: solid; border-bottom-style: solid;
padding: 19px 19px 19px 19px;
border-color: rgb(0,0,0);
text-align: left;
}

#menu
{
background-color: rgb(0,0,0);
color: rgb(255,255,255);
font-family: Verdana, Arial, Helvetica, sans-serif;
font-style: normal;
border-color: rgb(43,102,78);
}

a.menuitem
{
font-size: 153%;
background-color: rgb(0,0,0);
color: rgb(117,165,95);
font-variant: normal;
text-transform: none;
font-weight: bold;
margin-left: 3px; margin-right: 3px; margin-top: 13px; margin-bottom: 13px;
border-left-width: 1px; border-right-width: 4px; border-top-width: 1px; border-bottom-width: 1px;
border-left-style: inset; border-right-style: inset; border-top-style: inset; border-bottom-style: inset;
border-color: rgb(91,221,105);
text-align: right;
}

#logo, #logo a
{
font-size: 164%;
background-color: rgb(43,102,78);
color: rgb(116,219,130);
font-family: Palatino, serif;
font-style: italic;
font-variant: normal;
text-transform: none;
font-weight: normal;
padding: 3px 3px 3px 3px;
border-color: rgb(255,255,255);
text-align: left;
}

#trail, #trail a
{
font-size: 106%;
background-color: rgb(255,255,255);
color: rgb(43,102,78);
font-style: normal;
font-variant: normal;
text-transform: uppercase;
font-weight: normal;
border-left-width: 11px; border-right-width: 11px; border-top-width: 11px; border-bottom-width: 11px;
border-left-style: solid; border-right-style: solid; border-top-style: double; border-bottom-style: double;
padding: 4px 4px 4px 4px;
border-color: rgb(0,0,0);
text-align: center;
}

#content a
{
color: rgb(116,219,130);
text-decoration: underline;
}

#content a:hover, #content a:active
{
background-color: rgb(116,219,130);
color: rgb(255,255,255);
}

h1, h2, h3, h4, h5, h6
{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: bold;
}

h1
{
font-size: 121%;
}

h2
{
font-size: 110%;
}

h3
{
font-size: 99%;
}

h4
{
font-size: 88%;
}

h5
{
font-size: 77%;
}

h6
{
font-size: 66%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(117,165,95);
color: rgb(0,0,0);
}

#trail a
{
text-decoration: none;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
#menu		{width: 21%; position: relative; top: 0; left: 0; float: left; text-align: center;}
.menuitem		{width: auto;}
#content		{margin-left: 21%; width: auto}
.menuitem		{display: block;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

