body
{
background-color: rgb(255,255,255);
color: rgb(194,142,115);
font-family: Times New Roman, serif;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(255,255,255);
}

#content
{
font-size: 109%;
background-color: rgb(255,255,255);
color: rgb(0,0,0);
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 3px 3px 3px 3px;
border-color: rgb(0,0,0);
text-align: left;
}

#menu
{
background-color: rgb(242,169,159);
color: rgb(137,66,73);
font-family: Times New Roman, serif;
font-style: normal;
border-color: rgb(228,37,99);
}

a.menuitem
{
font-size: 148%;
background-color: rgb(255,255,255);
color: rgb(189,57,72);
font-variant: normal;
text-transform: none;
font-weight: normal;
margin-left: 11px; margin-right: 11px; margin-top: 11px; margin-bottom: 11px;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(228,37,99);
text-align: left;
}

#logo, #logo a
{
font-size: 157%;
background-color: rgb(255,255,255);
color: rgb(74,46,61);
font-family: Verdana, Arial, Helvetica, sans-serif;
font-style: italic;
font-variant: normal;
text-transform: none;
font-weight: normal;
padding: 15px 15px 15px 15px;
border-color: rgb(189,57,72);
text-align: right;
}

#trail, #trail a
{
font-size: 124%;
background-color: rgb(255,255,255);
color: rgb(189,57,72);
font-style: italic;
font-variant: normal;
text-transform: none;
font-weight: normal;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 6px 6px 6px 6px;
border-color: rgb(194,142,115);
text-align: center;
}

#content a
{
color: rgb(228,37,99);
text-decoration: underline;
}

#content a:hover, #content a:active
{
background-color: rgb(228,37,99);
color: rgb(255,255,255);
}

h1, h2, h3, h4, h5, h6
{
font-family: Times New Roman, serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
}

h1
{
font-size: 174%;
}

h2
{
font-size: 164%;
}

h3
{
font-size: 154%;
}

h4
{
font-size: 144%;
}

h5
{
font-size: 134%;
}

h6
{
font-size: 124%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(189,57,72);
color: rgb(255,255,255);
}

#trail a
{
text-decoration: none;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
#menu		{width: 30%; position: relative; top: 0; left: 0; float: left; text-align: center;}
.menuitem		{width: auto;}
#content		{margin-left: 30%; width: auto}
.menuitem		{display: block;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

