body
{
background-color: rgb(0,0,0);
color: rgb(35,209,24);
font-family: Arial, Helvetica, sans-serif;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(74,234,136);
}

#content
{
font-size: 104%;
background-color: rgb(115,218,178);
color: rgb(255,255,255);
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 13px 13px 13px 13px;
border-color: rgb(0,0,0);
text-align: left;
}

#menu
{
background-color: rgb(115,218,178);
color: rgb(35,209,24);
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
border-color: rgb(0,0,0);
}

a.menuitem
{
font-size: 147%;
background-color: rgb(36,96,86);
color: rgb(115,218,178);
font-variant: normal;
text-transform: none;
font-weight: normal;
margin-left: 18px; margin-right: 18px; margin-top: 10px; margin-bottom: 10px;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(120,222,137);
text-align: center;
}

#logo, #logo a
{
font-size: 194%;
background-color: rgb(0,0,0);
color: rgb(115,218,178);
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
padding: 11px 11px 11px 11px;
border-color: rgb(115,218,178);
text-align: right;
}

#trail, #trail a
{
font-size: 119%;
background-color: rgb(0,0,0);
color: rgb(35,209,24);
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 2px 2px 2px 2px;
border-color: rgb(255,255,255);
text-align: center;
}

#content a
{
color: rgb(35,209,24);
text-decoration: underline;
}

#content a:hover, #content a:active
{
background-color: rgb(35,209,24);
color: rgb(115,218,178);
}

h1, h2, h3, h4, h5, h6
{
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: bold;
}

h1
{
font-size: 157%;
}

h2
{
font-size: 142%;
}

h3
{
font-size: 127%;
}

h4
{
font-size: 112%;
}

h5
{
font-size: 97%;
}

h6
{
font-size: 82%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(115,218,178);
color: rgb(36,96,86);
}

#trail a
{
text-decoration: none;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
.menuitem		{display: inline;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

