body
{
background-color: rgb(105,57,66);
color: rgb(202,120,128);
font-family: Arial, Helvetica, sans-serif;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: double; border-right-style: double; border-top-style: double; border-bottom-style: double;
border-color: rgb(255,255,255);
}

#content
{
font-size: 110%;
background-color: rgb(255,255,255);
color: rgb(0,0,0);
border-left-width: 1px; border-right-width: 1px; border-top-width: 1px; border-bottom-width: 0px;
border-left-style: solid; border-right-style: solid; border-top-style: solid; border-bottom-style: none;
padding: 34px 34px 34px 34px;
border-color: rgb(0,0,0);
text-align: left;
}

#menu
{
background-color: rgb(0,0,0);
color: rgb(255,255,255);
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
border-color: rgb(0,0,0);
}

a.menuitem
{
font-size: 137%;
background-color: rgb(255,255,255);
color: rgb(202,120,128);
font-variant: normal;
text-transform: none;
font-weight: normal;
margin-left: 11px; margin-right: 11px; margin-top: 17px; margin-bottom: 10px;
border-left-width: 1px; border-right-width: 1px; border-top-width: 4px; border-bottom-width: 4px;
border-left-style: ridge; border-right-style: ridge; border-top-style: ridge; border-bottom-style: ridge;
border-color: rgb(105,57,66);
text-align: right;
}

#logo, #logo a
{
font-size: 189%;
background-color: rgb(0,0,0);
color: rgb(202,120,128);
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
padding: 14px 14px 14px 14px;
border-color: rgb(219,130,127);
text-align: left;
}

#trail, #trail a
{
font-size: 94%;
background-color: rgb(232,193,158);
color: rgb(105,57,66);
font-style: italic;
font-variant: normal;
text-transform: capitalize;
font-weight: normal;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 4px 7px 4px 7px;
border-color: rgb(219,130,127);
text-align: right;
}

#content a
{
color: rgb(202,120,128);
text-decoration: underline;
}

#content a:hover, #content a:active
{
background-color: rgb(202,120,128);
color: rgb(255,255,255);
}

h1, h2, h3, h4, h5, h6
{
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
}

h1
{
font-size: 158%;
}

h2
{
font-size: 145%;
}

h3
{
font-size: 132%;
}

h4
{
font-size: 119%;
}

h5
{
font-size: 106%;
}

h6
{
font-size: 93%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(202,120,128);
color: rgb(255,255,255);
}

#trail a
{
text-decoration: none;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
.menuitem		{display: inline;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

