body
{
background-color: rgb(0,0,0);
color: rgb(204,246,128);
font-family: Trebuchet MS, sans-serif;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(204,246,128);
}

#content
{
font-size: 100%;
background-color: rgb(255,255,255);
color: rgb(0,0,0);
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 12px 29px 10px 44px;
border-color: rgb(0,0,0);
text-align: left;
}

#menu
{
background-color: rgb(0,0,0);
color: rgb(64,131,217);
font-family: Trebuchet MS, sans-serif;
font-style: normal;
border-color: rgb(54,25,153);
}

a.menuitem
{
font-size: 139%;
background-color: rgb(255,255,255);
color: rgb(64,131,217);
font-variant: normal;
text-transform: none;
font-weight: normal;
margin-left: 6px; margin-right: 6px; margin-top: 6px; margin-bottom: 6px;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(54,25,153);
text-align: right;
}

#logo, #logo a
{
font-size: 176%;
background-color: rgb(255,255,255);
color: rgb(32,41,76);
font-family: Arial, Helvetica, sans-serif;
font-style: italic;
font-variant: normal;
text-transform: capitalize;
font-weight: normal;
padding: 19px 19px 19px 19px;
border-color: rgb(68,68,108);
text-align: right;
}

#trail, #trail a
{
font-size: 128%;
background-color: rgb(255,255,255);
color: rgb(142,105,188);
font-style: normal;
font-variant: small-caps;
text-transform: none;
font-weight: normal;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 3px 3px 3px 3px;
border-color: rgb(112,112,174);
text-align: center;
}

#content a
{
color: rgb(255,255,255);
text-decoration: underline;
}

#content a:hover, #content a:active
{
background-color: rgb(255,255,255);
color: rgb(142,105,188);
}

h1, h2, h3, h4, h5, h6
{
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
}

h1
{
font-size: 157%;
}

h2
{
font-size: 149%;
}

h3
{
font-size: 141%;
}

h4
{
font-size: 133%;
}

h5
{
font-size: 125%;
}

h6
{
font-size: 117%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(64,131,217);
color: rgb(255,255,255);
}

#trail a
{
text-decoration: underline;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
#menu		{width: 25%; position: relative; top: 0; left: 0; float: left; text-align: center;}
.menuitem		{width: auto;}
#content		{margin-left: 25%; width: auto}
.menuitem		{display: block;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

