body
{
background-color: rgb(133,150,208);
color: rgb(21,69,228);
font-family: Verdana, Arial, Helvetica, sans-serif;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(171,187,240);
}

#content
{
font-size: 114%;
background-color: rgb(255,255,255);
color: rgb(0,0,0);
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 22px 22px 22px 22px;
border-color: rgb(0,0,0);
text-align: justify;
}

#menu
{
background-color: rgb(255,255,255);
color: rgb(63,84,154);
font-family: Georgia, serif;
font-style: normal;
border-color: rgb(171,187,240);
}

a.menuitem
{
font-size: 156%;
background-color: rgb(255,255,255);
color: rgb(63,84,154);
font-variant: normal;
text-transform: capitalize;
font-weight: bold;
margin-left: 4px; margin-right: 4px; margin-top: 13px; margin-bottom: 13px;
border-left-width: 1px; border-right-width: 1px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: double; border-right-style: double; border-top-style: none; border-bottom-style: none;
border-color: rgb(21,69,228);
text-align: left;
}

#logo, #logo a
{
font-size: 195%;
background-color: rgb(0,0,0);
color: rgb(78,94,147);
font-family: Verdana, Arial, Helvetica, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: bold;
text-indent: 8;
padding: 16px 5px 16px 5px;
border-color: rgb(0,0,0);
text-align: right;
}

#trail, #trail a
{
font-size: 110%;
background-color: rgb(0,0,0);
color: rgb(63,84,154);
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: bold;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 0px 0px 0px 0px;
border-color: rgb(21,69,228);
text-align: center;
}

#content a
{
color: rgb(133,150,208);
text-decoration: none;
}

#content a:hover, #content a:active
{
background-color: rgb(133,150,208);
color: rgb(255,255,255);
}

h1, h2, h3, h4, h5, h6
{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: bold;
}

h1
{
font-size: 145%;
}

h2
{
font-size: 137%;
}

h3
{
font-size: 129%;
}

h4
{
font-size: 121%;
}

h5
{
font-size: 113%;
}

h6
{
font-size: 105%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(63,84,154);
color: rgb(255,255,255);
}

#trail a
{
text-decoration: none;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
#menu		{width: 20%; position: relative; top: 0; right: 0; float: right; text-align: center;}
.menuitem		{width: auto;}
#content		{margin-right: 20%; width: auto}
.menuitem		{display: block;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

