body
{
background-color: rgb(255,255,255);
color: rgb(99,214,187);
font-family: Arial, Helvetica, sans-serif;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(11,135,106);
}

#content
{
font-size: 97%;
background-color: rgb(255,255,255);
color: rgb(0,0,0);
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 45px 15px 45px 15px;
border-color: rgb(0,0,0);
text-align: left;
}

#menu
{
background-color: rgb(0,0,0);
color: rgb(165,227,213);
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
border-color: rgb(99,214,187);
}

a.menuitem
{
font-size: 125%;
background-color: rgb(0,0,0);
color: rgb(165,227,213);
font-variant: small-caps;
text-transform: none;
font-weight: normal;
margin-left: 12px; margin-right: 12px; margin-top: 3px; margin-bottom: 3px;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(0,0,0);
text-align: right;
}

#logo, #logo a
{
font-size: 173%;
background-color: rgb(12,50,41);
color: rgb(99,214,187);
font-family: Trebuchet MS, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: uppercase;
font-weight: bold;
padding: 14px 4px 3px 8px;
border-color: rgb(99,214,187);
text-align: right;
}

#trail, #trail a
{
font-size: 117%;
background-color: rgb(0,0,0);
color: rgb(165,227,213);
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
border-left-width: 0px; border-right-width: 0px; border-top-width: 7px; border-bottom-width: 7px;
border-left-style: none; border-right-style: none; border-top-style: dashed; border-bottom-style: dashed;
padding: 17px 17px 17px 17px;
border-color: rgb(99,214,187);
text-align: center;
}

#content a
{
color: rgb(11,135,106);
text-decoration: none;
}

#content a:hover, #content a:active
{
background-color: rgb(11,135,106);
color: rgb(255,255,255);
}

h1, h2, h3, h4, h5, h6
{
font-family: Trebuchet MS, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: bold;
}

h1
{
font-size: 139%;
}

h2
{
font-size: 129%;
}

h3
{
font-size: 119%;
}

h4
{
font-size: 109%;
}

h5
{
font-size: 99%;
}

h6
{
font-size: 89%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(165,227,213);
color: rgb(0,0,0);
}

#trail a
{
text-decoration: none;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
.menuitem		{display: inline;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

