body
{
background-color: rgb(255,255,255);
color: rgb(186,171,188);
font-family: Verdana, Arial, Helvetica, sans-serif;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(95,67,99);
}

#content
{
font-size: 103%;
background-color: rgb(255,255,255);
color: rgb(0,0,0);
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 43px 43px 43px 43px;
border-color: rgb(0,0,0);
text-align: left;
}

#menu
{
background-color: rgb(255,255,255);
color: rgb(186,171,188);
font-family: Trebuchet MS, sans-serif;
font-style: normal;
border-color: rgb(209,34,237);
}

a.menuitem
{
font-size: 125%;
background-color: rgb(95,67,99);
color: rgb(229,131,245);
font-variant: normal;
text-transform: none;
font-weight: bold;
margin-left: 7px; margin-right: 7px; margin-top: 7px; margin-bottom: 7px;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(219,130,233);
text-align: left;
}

#logo, #logo a
{
font-size: 179%;
background-color: rgb(186,171,188);
color: rgb(209,34,237);
font-family: Trebuchet MS, sans-serif;
font-style: italic;
font-variant: normal;
text-transform: capitalize;
font-weight: bold;
padding: 11px 8px 11px 8px;
border-color: rgb(95,67,99);
text-align: center;
}

#trail, #trail a
{
font-size: 128%;
background-color: rgb(95,67,99);
color: rgb(186,171,188);
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 3px 0px 19px 11px;
border-color: rgb(219,130,233);
text-align: right;
}

#content a
{
color: rgb(186,171,188);
text-decoration: none;
}

#content a:hover, #content a:active
{
background-color: rgb(186,171,188);
color: rgb(255,255,255);
}

h1, h2, h3, h4, h5, h6
{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: bold;
}

h1
{
font-size: 133%;
}

h2
{
font-size: 118%;
}

h3
{
font-size: 103%;
}

h4
{
font-size: 88%;
}

h5
{
font-size: 73%;
}

h6
{
font-size: 58%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(229,131,245);
color: rgb(95,67,99);
}

#trail a
{
text-decoration: none;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
#menu		{width: 20%; position: relative; top: 0; right: 0; float: right; text-align: center;}
.menuitem		{width: auto;}
#content		{margin-right: 20%; width: auto}
.menuitem		{display: block;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

