body
{
background-color: rgb(0,0,0);
color: rgb(126,85,22);
font-family: Arial, Helvetica, sans-serif;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(208,199,183);
}

#content
{
font-size: 90%;
background-color: rgb(70,64,54);
color: rgb(221,149,36);
border-left-width: 1px; border-right-width: 1px; border-top-width: 1px; border-bottom-width: 1px;
border-left-style: outset; border-right-style: outset; border-top-style: outset; border-bottom-style: outset;
padding: 32px 32px 32px 32px;
border-color: rgb(0,0,0);
text-align: left;
}

#menu
{
background-color: rgb(70,64,54);
color: rgb(208,199,183);
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
border-color: rgb(221,149,36);
}

a.menuitem
{
font-size: 126%;
background-color: rgb(255,255,255);
color: rgb(221,149,36);
font-variant: normal;
text-transform: uppercase;
font-weight: normal;
margin-left: 3px; margin-right: 3px; margin-top: 3px; margin-bottom: 3px;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(221,149,36);
text-align: center;
}

#logo, #logo a
{
font-size: 155%;
background-color: rgb(0,0,0);
color: rgb(234,226,214);
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
padding: 6px 10px 6px 10px;
border-color: rgb(255,255,255);
text-align: center;
}

#trail, #trail a
{
font-size: 103%;
background-color: rgb(70,64,54);
color: rgb(234,226,214);
font-style: normal;
font-variant: small-caps;
text-transform: none;
font-weight: bold;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 11px 6px 14px 4px;
border-color: rgb(208,199,183);
text-align: left;
}

#content a
{
color: rgb(255,255,255);
text-decoration: underline;
}

#content a:hover, #content a:active
{
background-color: rgb(255,255,255);
color: rgb(70,64,54);
}

h1, h2, h3, h4, h5, h6
{
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-variant: small-caps;
text-transform: none;
font-weight: normal;
}

h1
{
font-size: 140%;
}

h2
{
font-size: 132%;
}

h3
{
font-size: 124%;
}

h4
{
font-size: 116%;
}

h5
{
font-size: 108%;
}

h6
{
font-size: 100%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(221,149,36);
color: rgb(255,255,255);
}

#trail a
{
text-decoration: none;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
#menu		{width: 28%; position: relative; top: 0; right: 0; float: right; text-align: center;}
.menuitem		{width: auto;}
#content		{margin-right: 28%; width: auto}
.menuitem		{display: block;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

