body
{
background-color: rgb(0,0,0);
color: rgb(94,106,182);
font-family: Times New Roman, serif;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(94,106,182);
}

#content
{
font-size: 107%;
background-color: rgb(22,112,134);
color: rgb(255,255,255);
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 47px 2px 30px 21px;
border-color: rgb(0,0,0);
text-align: left;
}

#menu
{
background-color: rgb(255,255,255);
color: rgb(50,98,183);
font-family: Times New Roman, serif;
font-style: italic;
border-color: rgb(35,22,173);
}

a.menuitem
{
font-size: 146%;
background-color: rgb(0,0,0);
color: rgb(137,163,208);
font-variant: normal;
text-transform: none;
font-weight: bold;
margin-left: 10px; margin-right: 20px; margin-top: 19px; margin-bottom: 13px;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(94,106,182);
text-align: right;
}

#logo, #logo a
{
font-size: 176%;
background-color: rgb(255,255,255);
color: rgb(137,163,208);
font-family: Times New Roman, serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: bold;
padding: 8px 8px 8px 8px;
border-color: rgb(0,0,0);
text-align: right;
}

#trail, #trail a
{
font-size: 127%;
background-color: rgb(255,255,255);
color: rgb(22,112,134);
font-style: normal;
font-variant: normal;
text-transform: capitalize;
font-weight: normal;
text-indent: 43;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 0px 0px 0px 0px;
border-color: rgb(255,255,255);
text-align: center;
}

#content a
{
color: rgb(137,163,208);
text-decoration: underline;
}

#content a:hover, #content a:active
{
background-color: rgb(137,163,208);
color: rgb(22,112,134);
}

h1, h2, h3, h4, h5, h6
{
font-family: Times New Roman, serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
}

h1
{
font-size: 139%;
}

h2
{
font-size: 129%;
}

h3
{
font-size: 119%;
}

h4
{
font-size: 109%;
}

h5
{
font-size: 99%;
}

h6
{
font-size: 89%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(137,163,208);
color: rgb(0,0,0);
}

#trail a
{
text-decoration: underline;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
#menu		{width: 29%; position: relative; top: 0; left: 0; float: left; text-align: center;}
.menuitem		{width: auto;}
#content		{margin-left: 29%; width: auto}
.menuitem		{display: block;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

