body
{
background-color: rgb(0,0,0);
color: rgb(255,255,255);
font-family: Trebuchet MS, sans-serif;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 19px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: solid;
border-color: rgb(52,7,48);
}

#content
{
font-size: 108%;
background-color: rgb(255,255,255);
color: rgb(0,0,0);
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 24px 24px 24px 24px;
border-color: rgb(0,0,0);
text-align: justify;
}

#menu
{
background-color: rgb(255,255,255);
color: rgb(169,37,156);
font-family: Trebuchet MS, sans-serif;
font-style: italic;
border-color: rgb(251,104,237);
}

a.menuitem
{
font-size: 134%;
background-color: rgb(45,13,42);
color: rgb(251,104,237);
font-variant: normal;
text-transform: none;
font-weight: normal;
margin-left: 5px; margin-right: 5px; margin-top: 5px; margin-bottom: 5px;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(0,0,0);
text-align: center;
}

#logo, #logo a
{
font-size: 179%;
background-color: rgb(45,13,42);
color: rgb(169,37,156);
font-family: Trebuchet MS, sans-serif;
font-style: normal;
font-variant: small-caps;
text-transform: none;
font-weight: bold;
padding: 15px 15px 15px 15px;
border-color: rgb(52,7,48);
text-align: right;
}

#trail, #trail a
{
font-size: 93%;
background-color: rgb(45,13,42);
color: rgb(251,104,237);
font-style: italic;
font-variant: normal;
text-transform: none;
font-weight: normal;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 0px 0px 0px 0px;
border-color: rgb(52,7,48);
text-align: left;
}

#content a
{
color: rgb(98,10,90);
text-decoration: underline;
}

#content a:hover, #content a:active
{
background-color: rgb(98,10,90);
color: rgb(255,255,255);
}

h1, h2, h3, h4, h5, h6
{
font-family: Trebuchet MS, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: bold;
}

h1
{
font-size: 173%;
}

h2
{
font-size: 163%;
}

h3
{
font-size: 153%;
}

h4
{
font-size: 143%;
}

h5
{
font-size: 133%;
}

h6
{
font-size: 123%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(251,104,237);
color: rgb(45,13,42);
}

#trail a
{
text-decoration: underline;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
.menuitem		{display: inline;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

