body
{
background-color: rgb(37,115,61);
color: rgb(134,201,155);
font-family: Georgia, serif;
border-left-width: 4px; border-right-width: 4px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: solid; border-right-style: solid; border-top-style: none; border-bottom-style: none;
border-color: rgb(134,201,155);
}

#content
{
font-size: 104%;
background-color: rgb(0,0,0);
color: rgb(134,201,155);
border-left-width: 6px; border-right-width: 6px; border-top-width: 2px; border-bottom-width: 2px;
border-left-style: solid; border-right-style: solid; border-top-style: solid; border-bottom-style: solid;
padding: 41px 41px 41px 41px;
border-color: rgb(0,0,0);
text-align: left;
}

#menu
{
background-color: rgb(0,0,0);
color: rgb(255,255,255);
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
border-color: rgb(134,201,155);
}

a.menuitem
{
font-size: 129%;
background-color: rgb(37,115,61);
color: rgb(154,242,181);
font-variant: normal;
text-transform: none;
font-weight: normal;
margin-left: 6px; margin-right: 6px; margin-top: 6px; margin-bottom: 6px;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(19,61,32);
text-align: right;
}

#logo, #logo a
{
font-size: 193%;
background-color: rgb(0,0,0);
color: rgb(37,115,61);
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
padding: 2px 2px 2px 2px;
border-color: rgb(255,255,255);
text-align: center;
}

#trail, #trail a
{
font-size: 93%;
background-color: rgb(255,255,255);
color: rgb(65,101,76);
font-style: italic;
font-variant: normal;
text-transform: none;
font-weight: bold;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 0px 0px 0px 0px;
border-color: rgb(154,242,181);
text-align: right;
}

#content a
{
color: rgb(65,101,76);
text-decoration: underline;
}

#content a:hover, #content a:active
{
background-color: rgb(65,101,76);
color: rgb(0,0,0);
}

h1, h2, h3, h4, h5, h6
{
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: bold;
}

h1
{
font-size: 137%;
}

h2
{
font-size: 126%;
}

h3
{
font-size: 115%;
}

h4
{
font-size: 104%;
}

h5
{
font-size: 93%;
}

h6
{
font-size: 82%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(154,242,181);
color: rgb(37,115,61);
}

#trail a
{
text-decoration: underline;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
#menu		{width: 22%; position: relative; top: 0; left: 0; float: left; text-align: center;}
.menuitem		{width: auto;}
#content		{margin-left: 22%; width: auto}
.menuitem		{display: block;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

