body
{
background-color: rgb(98,60,184);
color: rgb(170,177,225);
font-family: Georgia, serif;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(170,177,225);
}

#content
{
font-size: 110%;
background-color: rgb(255,255,255);
color: rgb(0,0,0);
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 2px 2px 2px 2px;
border-color: rgb(0,0,0);
text-align: left;
}

#menu
{
background-color: rgb(255,255,255);
color: rgb(98,60,184);
font-family: Times New Roman, serif;
font-style: normal;
border-color: rgb(0,0,0);
}

a.menuitem
{
font-size: 140%;
background-color: rgb(49,47,72);
color: rgb(138,132,194);
font-variant: normal;
text-transform: none;
font-weight: normal;
margin-left: 6px; margin-right: 6px; margin-top: 6px; margin-bottom: 6px;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(204,120,232);
text-align: left;
}

#logo, #logo a
{
font-size: 156%;
background-color: rgb(255,255,255);
color: rgb(170,145,192);
font-family: Times New Roman, serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
padding: 12px 3px 12px 3px;
border-color: rgb(49,47,72);
text-align: left;
}

#trail, #trail a
{
font-size: 95%;
background-color: rgb(0,0,0);
color: rgb(170,177,225);
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 12px 12px 12px 12px;
border-color: rgb(170,145,192);
text-align: left;
}

#content a
{
color: rgb(98,60,184);
text-decoration: none;
}

#content a:hover, #content a:active
{
background-color: rgb(98,60,184);
color: rgb(255,255,255);
}

h1, h2, h3, h4, h5, h6
{
font-family: Georgia, serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: bold;
}

h1
{
font-size: 139%;
}

h2
{
font-size: 124%;
}

h3
{
font-size: 109%;
}

h4
{
font-size: 94%;
}

h5
{
font-size: 79%;
}

h6
{
font-size: 64%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(138,132,194);
color: rgb(49,47,72);
}

#trail a
{
text-decoration: none;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
#menu		{width: 22%; position: relative; top: 0; left: 0; float: left; text-align: center;}
.menuitem		{width: auto;}
#content		{margin-left: 22%; width: auto}
.menuitem		{display: block;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

