body
{
background-color: rgb(0,0,0);
color: rgb(221,110,127);
font-family: Palatino, serif;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(80,43,29);
}

#content
{
font-size: 117%;
background-color: rgb(255,255,255);
color: rgb(0,0,0);
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 12px 12px 12px 12px;
border-color: rgb(0,0,0);
text-align: justify;
}

#menu
{
background-color: rgb(0,0,0);
color: rgb(255,255,255);
font-family: Times New Roman, serif;
font-style: italic;
border-color: rgb(143,49,25);
}

a.menuitem
{
font-size: 122%;
background-color: rgb(0,0,0);
color: rgb(161,124,21);
font-variant: normal;
text-transform: none;
font-weight: bold;
margin-left: 17px; margin-right: 17px; margin-top: 17px; margin-bottom: 17px;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(114,25,19);
text-align: right;
}

#logo, #logo a
{
font-size: 164%;
background-color: rgb(255,255,255);
color: rgb(161,124,21);
font-family: Times New Roman, serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
padding: 13px 13px 13px 13px;
border-color: rgb(143,49,25);
text-align: right;
}

#trail, #trail a
{
font-size: 122%;
background-color: rgb(97,55,10);
color: rgb(221,110,127);
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: bold;
border-left-width: 1px; border-right-width: 1px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: ridge; border-right-style: ridge; border-top-style: none; border-bottom-style: none;
padding: 0px 0px 0px 0px;
border-color: rgb(0,0,0);
text-align: right;
}

#content a
{
color: rgb(97,55,10);
text-decoration: none;
}

#content a:hover, #content a:active
{
background-color: rgb(97,55,10);
color: rgb(255,255,255);
}

h1, h2, h3, h4, h5, h6
{
font-family: Palatino, serif;
font-style: normal;
font-variant: normal;
text-transform: capitalize;
font-weight: bold;
}

h1
{
font-size: 133%;
}

h2
{
font-size: 120%;
}

h3
{
font-size: 107%;
}

h4
{
font-size: 94%;
}

h5
{
font-size: 81%;
}

h6
{
font-size: 68%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(161,124,21);
color: rgb(0,0,0);
}

#trail a
{
text-decoration: none;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
.menuitem		{display: inline;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

