body
{
background-color: rgb(255,255,255);
color: rgb(99,30,9);
font-family: Arial, Helvetica, sans-serif;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(229,175,158);
}

#content
{
font-size: 97%;
background-color: rgb(255,255,255);
color: rgb(0,0,0);
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 40px 40px 40px 40px;
border-color: rgb(0,0,0);
text-align: left;
}

#menu
{
background-color: rgb(99,30,9);
color: rgb(229,175,158);
font-family: Arial, Helvetica, sans-serif;
font-style: italic;
border-color: rgb(131,45,20);
}

a.menuitem
{
font-size: 157%;
background-color: rgb(255,255,255);
color: rgb(131,45,20);
font-variant: normal;
text-transform: none;
font-weight: normal;
margin-left: 20px; margin-right: 20px; margin-top: 6px; margin-bottom: 6px;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(131,45,20);
text-align: left;
}

#logo, #logo a
{
font-size: 176%;
background-color: rgb(229,175,158);
color: rgb(131,45,20);
font-family: Times New Roman, serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: bold;
padding: 5px 5px 5px 5px;
border-color: rgb(131,45,20);
text-align: left;
}

#trail, #trail a
{
font-size: 109%;
background-color: rgb(187,139,125);
color: rgb(131,45,20);
font-style: italic;
font-variant: normal;
text-transform: none;
font-weight: normal;
border-left-width: 0px; border-right-width: 0px; border-top-width: 1px; border-bottom-width: 1px;
border-left-style: none; border-right-style: none; border-top-style: ridge; border-bottom-style: ridge;
padding: 16px 16px 16px 16px;
border-color: rgb(99,30,9);
text-align: left;
}

#content a
{
color: rgb(131,45,20);
text-decoration: underline;
}

#content a:hover, #content a:active
{
background-color: rgb(131,45,20);
color: rgb(255,255,255);
}

h1, h2, h3, h4, h5, h6
{
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: bold;
}

h1
{
font-size: 174%;
}

h2
{
font-size: 159%;
}

h3
{
font-size: 144%;
}

h4
{
font-size: 129%;
}

h5
{
font-size: 114%;
}

h6
{
font-size: 99%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(131,45,20);
color: rgb(255,255,255);
}

#trail a
{
text-decoration: underline;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
#menu		{width: 25%; position: relative; top: 0; left: 0; float: left; text-align: center;}
.menuitem		{width: auto;}
#content		{margin-left: 25%; width: auto}
.menuitem		{display: block;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

