body
{
background-color: rgb(0,0,0);
color: rgb(46,87,135);
font-family: Times New Roman, serif;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(28,128,142);
}

#content
{
font-size: 100%;
background-color: rgb(46,87,135);
color: rgb(255,255,255);
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 16px 16px 16px 16px;
border-color: rgb(0,0,0);
text-align: justify;
}

#menu
{
background-color: rgb(255,255,255);
color: rgb(15,33,92);
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
border-color: rgb(255,255,255);
}

a.menuitem
{
font-size: 149%;
background-color: rgb(46,87,135);
color: rgb(161,215,209);
font-variant: normal;
text-transform: none;
font-weight: normal;
margin-left: 13px; margin-right: 20px; margin-top: 10px; margin-bottom: 17px;
border-left-width: 1px; border-right-width: 1px; border-top-width: 1px; border-bottom-width: 1px;
border-left-style: solid; border-right-style: solid; border-top-style: solid; border-bottom-style: solid;
border-color: rgb(46,87,135);
text-align: center;
}

#logo, #logo a
{
font-size: 190%;
background-color: rgb(255,255,255);
color: rgb(31,109,118);
font-family: Times New Roman, serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: bold;
padding: 13px 13px 13px 13px;
border-color: rgb(0,0,0);
text-align: left;
}

#trail, #trail a
{
font-size: 115%;
background-color: rgb(255,255,255);
color: rgb(19,71,96);
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 0px 18px 0px 18px;
border-color: rgb(0,0,0);
text-align: left;
}

#content a
{
color: rgb(0,0,0);
text-decoration: none;
}

#content a:hover, #content a:active
{
background-color: rgb(0,0,0);
color: rgb(46,87,135);
}

h1, h2, h3, h4, h5, h6
{
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: capitalize;
font-weight: normal;
}

h1
{
font-size: 168%;
}

h2
{
font-size: 155%;
}

h3
{
font-size: 142%;
}

h4
{
font-size: 129%;
}

h5
{
font-size: 116%;
}

h6
{
font-size: 103%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(161,215,209);
color: rgb(46,87,135);
}

#trail a
{
text-decoration: none;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
.menuitem		{display: inline;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

