body
{
background-color: rgb(255,255,255);
color: rgb(141,249,69);
font-family: Verdana, Arial, Helvetica, sans-serif;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(36,46,30);
}

#content
{
font-size: 120%;
background-color: rgb(255,255,255);
color: rgb(0,0,0);
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 8px 8px 8px 8px;
border-color: rgb(0,0,0);
text-align: left;
}

#menu
{
background-color: rgb(53,76,37);
color: rgb(125,201,75);
font-family: Verdana, Arial, Helvetica, sans-serif;
font-style: normal;
border-color: rgb(36,46,30);
}

a.menuitem
{
font-size: 152%;
background-color: rgb(255,255,255);
color: rgb(125,201,75);
font-variant: normal;
text-transform: none;
font-weight: normal;
margin-left: 16px; margin-right: 16px; margin-top: 14px; margin-bottom: 14px;
border-left-width: 1px; border-right-width: 1px; border-top-width: 1px; border-bottom-width: 1px;
border-left-style: ridge; border-right-style: ridge; border-top-style: ridge; border-bottom-style: ridge;
border-color: rgb(53,76,37);
text-align: center;
}

#logo, #logo a
{
font-size: 172%;
background-color: rgb(121,144,106);
color: rgb(53,76,37);
font-family: Verdana, Arial, Helvetica, sans-serif;
font-style: italic;
font-variant: normal;
text-transform: none;
font-weight: normal;
padding: 19px 19px 19px 19px;
border-color: rgb(120,234,44);
text-align: left;
}

#trail, #trail a
{
font-size: 102%;
background-color: rgb(0,0,0);
color: rgb(120,234,44);
font-style: italic;
font-variant: normal;
text-transform: none;
font-weight: bold;
text-indent: 37;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 14px 14px 14px 14px;
border-color: rgb(255,255,255);
text-align: right;
}

#content a
{
color: rgb(121,144,106);
text-decoration: underline;
}

#content a:hover, #content a:active
{
background-color: rgb(121,144,106);
color: rgb(255,255,255);
}

h1, h2, h3, h4, h5, h6
{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
}

h1
{
font-size: 152%;
}

h2
{
font-size: 143%;
}

h3
{
font-size: 134%;
}

h4
{
font-size: 125%;
}

h5
{
font-size: 116%;
}

h6
{
font-size: 107%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(125,201,75);
color: rgb(255,255,255);
}

#trail a
{
text-decoration: underline;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
#menu		{width: 20%; position: relative; top: 0; right: 0; float: right; text-align: center;}
.menuitem		{width: auto;}
#content		{margin-right: 20%; width: auto}
.menuitem		{display: block;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

