body
{
background-color: rgb(237,127,212);
color: rgb(59,26,51);
font-family: Times New Roman, serif;
border-left-width: 15px; border-right-width: 15px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: outset; border-right-style: outset; border-top-style: none; border-bottom-style: none;
border-color: rgb(87,6,69);
}

#content
{
font-size: 115%;
background-color: rgb(255,255,255);
color: rgb(0,0,0);
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 2px 5px 2px 32px;
border-color: rgb(0,0,0);
text-align: left;
}

#menu
{
background-color: rgb(255,255,255);
color: rgb(59,26,51);
font-family: Times New Roman, serif;
font-style: italic;
border-color: rgb(87,6,69);
}

a.menuitem
{
font-size: 121%;
background-color: rgb(245,187,232);
color: rgb(87,6,69);
font-variant: normal;
text-transform: none;
font-weight: normal;
margin-left: 20px; margin-right: 20px; margin-top: 20px; margin-bottom: 20px;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(245,187,232);
text-align: left;
}

#logo, #logo a
{
font-size: 189%;
background-color: rgb(255,255,255);
color: rgb(37,26,35);
font-family: Verdana, Arial, Helvetica, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
text-indent: 30;
padding: 7px 7px 7px 7px;
border-color: rgb(37,26,35);
text-align: right;
}

#trail, #trail a
{
font-size: 111%;
background-color: rgb(237,127,212);
color: rgb(50,7,41);
font-style: normal;
font-variant: small-caps;
text-transform: none;
font-weight: bold;
border-left-width: 8px; border-right-width: 8px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: inset; border-right-style: inset; border-top-style: none; border-bottom-style: none;
padding: 5px 5px 5px 5px;
border-color: rgb(237,127,212);
text-align: right;
}

#content a
{
color: rgb(37,26,35);
text-decoration: underline;
}

#content a:hover, #content a:active
{
background-color: rgb(37,26,35);
color: rgb(255,255,255);
}

h1, h2, h3, h4, h5, h6
{
font-family: Times New Roman, serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
}

h1
{
font-size: 133%;
}

h2
{
font-size: 124%;
}

h3
{
font-size: 115%;
}

h4
{
font-size: 106%;
}

h5
{
font-size: 97%;
}

h6
{
font-size: 88%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(87,6,69);
color: rgb(245,187,232);
}

#trail a
{
text-decoration: underline;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
#menu		{width: 26%; position: relative; top: 0; left: 0; float: left; text-align: center;}
.menuitem		{width: auto;}
#content		{margin-left: 26%; width: auto}
.menuitem		{display: block;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

