body
{
background-color: rgb(255,255,255);
color: rgb(67,21,117);
font-family: Verdana, Arial, Helvetica, sans-serif;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(0,0,0);
}

#content
{
font-size: 90%;
background-color: rgb(255,255,255);
color: rgb(0,0,0);
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 41px 14px 41px 14px;
border-color: rgb(0,0,0);
text-align: left;
}

#menu
{
background-color: rgb(166,79,202);
color: rgb(67,21,117);
font-family: Verdana, Arial, Helvetica, sans-serif;
font-style: normal;
border-color: rgb(0,0,0);
}

a.menuitem
{
font-size: 154%;
background-color: rgb(0,0,0);
color: rgb(164,139,236);
font-variant: normal;
text-transform: none;
font-weight: normal;
margin-left: 18px; margin-right: 18px; margin-top: 18px; margin-bottom: 18px;
border-left-width: 1px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: double; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(155,153,232);
text-align: left;
}

#logo, #logo a
{
font-size: 193%;
background-color: rgb(255,255,255);
color: rgb(155,153,232);
font-family: Verdana, Arial, Helvetica, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
padding: 0px 0px 0px 0px;
border-color: rgb(155,153,232);
text-align: center;
}

#trail, #trail a
{
font-size: 98%;
background-color: rgb(255,255,255);
color: rgb(155,153,232);
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: bold;
border-left-width: 14px; border-right-width: 14px; border-top-width: 14px; border-bottom-width: 14px;
border-left-style: solid; border-right-style: solid; border-top-style: solid; border-bottom-style: solid;
padding: 0px 0px 0px 0px;
border-color: rgb(164,139,236);
text-align: left;
}

#content a
{
color: rgb(102,88,215);
text-decoration: underline;
}

#content a:hover, #content a:active
{
background-color: rgb(102,88,215);
color: rgb(255,255,255);
}

h1, h2, h3, h4, h5, h6
{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
}

h1
{
font-size: 171%;
}

h2
{
font-size: 163%;
}

h3
{
font-size: 155%;
}

h4
{
font-size: 147%;
}

h5
{
font-size: 139%;
}

h6
{
font-size: 131%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(164,139,236);
color: rgb(0,0,0);
}

#trail a
{
text-decoration: none;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
#menu		{width: 21%; position: relative; top: 0; right: 0; float: right; text-align: center;}
.menuitem		{width: auto;}
#content		{margin-right: 21%; width: auto}
.menuitem		{display: block;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

