body
{
background-color: rgb(0,0,0);
color: rgb(88,107,196);
font-family: Tahoma, sans-serif;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: solid; border-right-style: solid; border-top-style: solid; border-bottom-style: solid;
border-color: rgb(0,0,0);
}

#content
{
font-size: 115%;
background-color: rgb(255,255,255);
color: rgb(0,0,0);
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 23px 23px 23px 23px;
border-color: rgb(0,0,0);
text-align: left;
}

#menu
{
background-color: rgb(255,255,255);
color: rgb(67,138,150);
font-family: Verdana, Arial, Helvetica, sans-serif;
font-style: italic;
text-indent: 30;
border-color: rgb(67,138,150);
}

a.menuitem
{
font-size: 154%;
background-color: rgb(255,255,255);
color: rgb(122,193,236);
font-variant: normal;
text-transform: none;
font-weight: normal;
margin-left: 10px; margin-right: 10px; margin-top: 10px; margin-bottom: 10px;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(61,141,136);
text-align: left;
}

#logo, #logo a
{
font-size: 162%;
background-color: rgb(0,0,0);
color: rgb(255,255,255);
font-family: Tahoma, sans-serif;
font-style: normal;
font-variant: small-caps;
text-transform: none;
font-weight: bold;
padding: 6px 6px 6px 6px;
border-color: rgb(255,255,255);
text-align: left;
}

#trail, #trail a
{
font-size: 115%;
background-color: rgb(139,178,236);
color: rgb(61,141,136);
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: bold;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 10px 0px 10px 0px;
border-color: rgb(44,144,164);
text-align: center;
}

#content a
{
color: rgb(139,178,236);
text-decoration: none;
}

#content a:hover, #content a:active
{
background-color: rgb(139,178,236);
color: rgb(255,255,255);
}

h1, h2, h3, h4, h5, h6
{
font-family: Tahoma, sans-serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: bold;
}

h1
{
font-size: 120%;
}

h2
{
font-size: 111%;
}

h3
{
font-size: 102%;
}

h4
{
font-size: 93%;
}

h5
{
font-size: 84%;
}

h6
{
font-size: 75%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(122,193,236);
color: rgb(255,255,255);
}

#trail a
{
text-decoration: none;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
#menu		{width: 27%; position: relative; top: 0; left: 0; float: left; text-align: center;}
.menuitem		{width: auto;}
#content		{margin-left: 27%; width: auto}
.menuitem		{display: block;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

