body
{
background-color: rgb(255,255,255);
color: rgb(193,82,187);
font-family: Palatino, serif;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: inset; border-right-style: inset; border-top-style: inset; border-bottom-style: inset;
border-color: rgb(255,255,255);
}

#content
{
font-size: 110%;
background-color: rgb(255,255,255);
color: rgb(0,0,0);
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
padding: 18px 17px 18px 17px;
border-color: rgb(0,0,0);
text-align: justify;
}

#menu
{
background-color: rgb(255,255,255);
color: rgb(207,72,200);
font-family: Palatino, serif;
font-style: normal;
border-color: rgb(207,72,200);
}

a.menuitem
{
font-size: 160%;
background-color: rgb(209,141,205);
color: rgb(102,169,105);
font-variant: normal;
text-transform: none;
font-weight: normal;
margin-left: 4px; margin-right: 4px; margin-top: 4px; margin-bottom: 4px;
border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;
border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none;
border-color: rgb(102,169,105);
text-align: right;
}

#logo, #logo a
{
font-size: 171%;
background-color: rgb(0,0,0);
color: rgb(207,72,200);
font-family: Palatino, serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
padding: 2px 2px 2px 2px;
border-color: rgb(255,255,255);
text-align: left;
}

#trail, #trail a
{
font-size: 105%;
background-color: rgb(207,72,200);
color: rgb(102,169,105);
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
border-left-width: 9px; border-right-width: 9px; border-top-width: 9px; border-bottom-width: 9px;
border-left-style: solid; border-right-style: solid; border-top-style: solid; border-bottom-style: solid;
padding: 8px 8px 8px 8px;
border-color: rgb(209,141,205);
text-align: center;
}

#content a
{
color: rgb(179,138,177);
text-decoration: underline;
}

#content a:hover, #content a:active
{
background-color: rgb(179,138,177);
color: rgb(255,255,255);
}

h1, h2, h3, h4, h5, h6
{
font-family: Palatino, serif;
font-style: normal;
font-variant: normal;
text-transform: none;
font-weight: normal;
}

h1
{
font-size: 172%;
}

h2
{
font-size: 160%;
}

h3
{
font-size: 148%;
}

h4
{
font-size: 136%;
}

h5
{
font-size: 124%;
}

h6
{
font-size: 112%;
}

#menu a
{
text-decoration: none;
}

.menuitem:hover
{
background-color: rgb(102,169,105);
color: rgb(209,141,205);
}

#trail a
{
text-decoration: none;
}

#logo a
{
text-decoration: none;
}

#trail a:hover
{
}

/* layout */
.menuitem		{display: inline;}


@media print
{
#menu       {display: none;}
#content    {padding: 0px;}
#content a  {text-decoration: underline;}
}

